<section class="section_oi_saude" id="oi_saude">
    <div class="max_width_container">
        <div class="oi_saude__content">

            <div class="oi_saude__description">
                <div class="oi_saude__icons">
                    <img id="" src="assets/images/oi-saude-icon-internet-standard-mobile-light.svg" width="24px"
                        height="24px" loading="lazy" alt="" />
                    <img id="" src="assets/images/oi-saude-icon-web-colaboration-mobile-light.svg" width="24px"
                        height="24px" loading="lazy" alt="" />
                    <img id="" src="assets/images/oi-saude-icon-device-responsive-mobile-light.svg" width="24px"
                        height="24px" loading="lazy" alt="" />
                    <img id="" src="assets/images/oi-saude-icon-videogame-mobile-light.svg" width="24px" height="24px"
                        loading="lazy" alt="" />
                </div>
                <div class="oi_saude__title">
                    <h3 class="oi_saude__assine">Assine serviços
                        <span class="oi_saude__assine specialColor">junto com a Oi Fibra</span>
                    </h3>
                </div>
                <div class="oi_saude__solucoes">
                    <p class="oi_saude__oferecimentos">A Oi oferece soluções que facilitam sua vida. Tem suporte
                        tecnológico, consultas online e muito mais. </p>
                </div>
            </div>



            <div class="oi_saude__servicos">
                <div class="oi_saude__carousel">


                    <!-- oi play tv -->

                    <div class="oi_saude__card">
                        <div class="oi_saude__imageBackground">
                            <img class="oi_saude__backgroundMobile" id=""
                                src="assets/images/oi-saude-card-vertical-oi-play-mobile-light.webp" width="256px"
                                height="412px" loading="lazy" alt="" />

                            <img class="oi_saude__backgroundDesktop" id=""
                                src="assets/images/oi-saude-card-vertical-oi-play-desktop-light.webp" width="312px"
                                height="480px" loading="lazy" alt="" />

                            <div class="oi_saude__cardContent">

                                <div class="oi_saude__logos">
                                    <img id="" src="assets/images/oi-saude-logo-oi-play-tv-mobile-light.svg"
                                        width="102px" height="24px" loading="lazy" alt="" />
                                </div>
                                <div class="oi_saude__descricao_planos">
                                    <p class="oi_saude__explicacao">Assista a canais de TV ao vivo e conteúdos de
                                        streaming onde e quando quiser</p>
                                </div>
                                <div class="oi_saude__ancora">
                                    <a class="oi_saude__text" href="https://www.oi.com.br/oi-play">conhecer o Oi Play</a>
                                    <img id="" src="assets/images/oi-saude-icon-right-mobile-light.svg" width="24px"
                                        height="24px" loading="lazy" alt="" />
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- oi saude -->

                    <div class="oi_saude__card">
                        <div class="oi_saude__imageBackground">
                            <img class="oi_saude__backgroundMobile" id=""
                                src="assets/images/oi-saude-card-vertical-oi-saude-mobile-light.webp" width="256px"
                                height="412px" loading="lazy" alt="" />

                            <img class="oi_saude__backgroundDesktop" id=""
                                src="assets/images/oi-saude-card-vertical-oi-saude-desktop-light.webp" width="312px"
                                height="480px" loading="lazy" alt="" />
                            <div class="oi_saude__cardContent">

                                <div class="oi_saude__logos">
                                    <img id="" src="assets/images/oi-saude-logo-oi-saude-mobile-light.svg" width="102px"
                                        height="24px" loading="lazy" alt="" />
                                </div>
                                <div class="oi_saude__descricao_planos">
                                    <p class="oi_saude__explicacao">Experimente mais bem-estar e saúde com consultas
                                        online
                                        24h
                                        por
                                        dia e mais serviços</p>
                                </div>
                                <div class="oi_saude__ancora saude_ancora">
                                    <a class="oi_saude__text" href="https://saude.produtosoi.com.br/">conhecer o Oi Saúde</a>
                                    <img id="" src="assets/images/oi-saude-icon-right-mobile-light.svg" width="24px"
                                        height="24px" loading="lazy" alt="" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- oi expert -->

                    <div class="oi_saude__card">
                        <div class="oi_saude__imageBackground">
                            <img class="oi_saude__backgroundMobile" id=""
                                src="assets/images/oi-saude-card-vertical-oi-expert-mobile-light.webp" width="256px"
                                height="412px" loading="lazy" alt="" />

                            <img class="oi_saude__backgroundDesktop" id=""
                                src="assets/images/oi-saude-card-vertical-oi-expert-desktop-light.webp" width="312px"
                                height="480px" loading="lazy" alt="" />
                            <div class="oi_saude__cardContent">

                                <div class="oi_saude__logos">
                                    <img id="" src="assets/images/oi-saude-logo-oi-expert-mobile-light.svg"
                                        width="102px" height="24px" loading="lazy" alt="" />
                                </div>
                                <div class="oi_saude__descricao_planos">
                                    <p class="oi_saude__explicacao">Conte com nossa ajuda pra usar computadores,
                                        celulares,
                                        Smart
                                        TVs e muito mais</p>
                                </div>
                                <div class="oi_saude__ancora expert_ancora">
                                    <a class="oi_saude__text" href="https://www.oi.com.br/oiexpert/">conhecer o Oi Expert</a>
                                    <img id="" src="assets/images/oi-saude-icon-right-mobile-light.svg" width="24px"
                                        height="24px" loading="lazy" alt="" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="oi_saude__carousel_dots">
                    <div class="oi_saude__card_dot oi_saude__card_dot_active"></div>
                    <div class="oi_saude__card_dot"></div>
                    <div class="oi_saude__card_dot"></div>
                </div>

            </div>
        </div>
    </div>

    <script>
        const carousel = document.querySelector('.oi_saude__carousel');
        const slides = document.querySelectorAll('.oi_saude__card');
        const dots = document.querySelectorAll('.oi_saude__card_dot');
        let currentIndex = 0;
        let autoPlayInterval;

        dots.forEach((dot, index) => {
            dot.addEventListener('click', () => {
                goToSlide(index);
            });
        });

        function goToSlide(index) {
            slides.forEach((slide, i) => {
                slide.style.transform = `translateX(-${index * 100}%)`;
                dots[i].classList.remove('oi_saude__card_dot_active');
            });
            dots[index].classList.add('oi_saude__card_dot_active');
            currentIndex = index;
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % slides.length;
            goToSlide(currentIndex);
        }

        function prevSlide() {
            currentIndex = (currentIndex - 1 + slides.length) % slides.length;
            goToSlide(currentIndex);
        }

        function checkScreenWidth() {
            if (window.innerWidth >= 992) {
                currentIndex = 0; // Volte ao primeiro slide
                clearInterval(autoPlayInterval); // Pausa a reprodução automática
                goToSlide(currentIndex); // Atualize o slide visível
            }
        }

        //Função de verificação de largura da tela quando a página é carregada
        window.addEventListener('load', checkScreenWidth);
        window.addEventListener('resize', checkScreenWidth);

        if (window.innerWidth < 992) {
            autoPlayInterval = setInterval(nextSlide, 3000);
        }

    </script>
</section>