.section_oi_saude {
    background-color: var(--section-oisaude-background);
    padding: 40px 0px;
}

.oi_saude__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.oi_saude__icons {
    gap: 32px;
    display: flex;
}

.oi_saude__carousel {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
}

.oi_saude__backgroundMobile {
    min-width: 256px;
}

.oi_saude__backgroundDesktop {
    display: none;
}

.oi_saude__assine {
    color: var(--section-oisaude-text-color);
    font-family: Simplon BP;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
    max-width: 210px;
}

.specialColor {
    color: var(--color-primary-400);
}

.oi_saude__icons,
.oi_saude__title,
.oi_saude__solucoes {
    margin-bottom: 32px;
}

.oi_saude__oferecimentos {
    color: var(--section-oisaude-text-color);
    font-family: Simplon BP;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.oi_saude__explicacao {
    color: #F5F5F5;
    text-align: center;
    font-family: Simplon BP;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
}

.oi_saude__logos,
.oi_saude__descricao_planos {
    margin-bottom: 24px;
}

.oi_saude__ancora {
    display: flex;
    flex-direction: row;
    width: 212px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
    background: #A5E114;

}

.oi_saude__text {
    color: #000;
    text-align: center;
    font-family: Simplon BP;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
}

.oi_saude__imageBackground {
    position: relative;
}

.oi_saude__cardContent {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;

}

.oi_saude__carousel_dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.oi_saude__card_dot
.oi_saude__card_dot_active {
    width: 42px;
    height: 8.4px;
    background-color: #1F1F1F;
    transition: all ease 0.1s;
    box-shadow: none;
    border: none;
    border-radius: 10px;
}

.oi_saude__card_dot {
    border: none;
    width: 16px;
    height: 8px;
    border-radius: 999px;
    background-color: #dbdbdb;
}

.oi_saude__card_dot,
.oi_saude__card_dot_active {
    transition: background-color 0.3s ease;
}

.oi_saude__card_dot:hover {
    background-color: #1F1F1F;
}

.saude_ancora {
    background: #FF954D;
}

.expert_ancora {
    background: #4BE188;
}

@media screen and (min-width: 768px) {

    .oi_saude__backgroundMobile {
        display: none;
    }

    .oi_saude__backgroundDesktop {
        display: flex;
        min-width: 312px;
    }

    .oi_saude__solucoes {
        max-width: 480px;
    }

    .oi_saude__assine {
        max-width: 388px;
    }
}

@media screen and (min-width: 994px) {
    .oi_saude__carousel_dots {
        display: none;
    }

    .oi_saude__card_dot,
    .oi_saude__card_dot_active {
        transition: none;
    }


    .oi_saude__carousel {
        justify-content: center;
    }


}

@media screen and (min-width: 1920px) {

    .oi_saude__content {
        display: flex;
        flex-direction: row;
    }

    .oi_saude__solucoes {
        margin-bottom: 32px;
        max-width: 266px;
    }

    .oi_saude__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .oi_saude__assine {
        max-width: 210px;
    }
}