.oi_header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--main-bg-color);
  flex-flow: row wrap;
  z-index: 20;

  .support__menu {
    height: 58px;
    display: flex;
    align-items: center;
    gap: 32px;

    &__background {
      width: 100%;
      border-bottom: 1px solid rgba(144, 144, 144, 0.3);
      position: absolute;
      opacity: 0;
      z-index: -1;
      left: -999rem;
      transition: all ease 0.2s;
      &:focus-within {
        position: static;
        opacity: 1;
      }
    }
    &--anchor {
      font-family: "Simplon BP";
      font-size: 13px;
      line-height: 28px;
      color: var(--sub-footer-text);
      cursor: pointer;
    }
  }

  .section_submenu {
    padding: 13px 0;
    width: 100%;
    max-width: 100%;
    background: var(--main-bg-color);
    border-bottom: 3px solid rgba(144, 144, 144, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    .oi_container {
      .row {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 0) and (max-width: 767px) {
          justify-content: flex-end;
        }

        &__supportMenu {
          width: 100%;
          max-width: 400px;

          @media screen and (min-width: 0) and (max-width: 767px) {
            display: none;
          }

          &__list {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            list-style-type: none;

            &__item {
              font-family: "Simplon Bp";
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: var(--main-submenu-text-color);
              text-align: center;
              position: relative;

              &__link {
                color: var(--main-border-card-color);
                text-decoration: none;

                &:hover {
                  color: var(--main-border-card-color);
                  border-bottom: var(--main-border-submenu-item-color);
                  text-decoration: none;
                  cursor: pointer;
                }
              }

              .dropdown {
                width: 100%;
                max-width: 200px;
                display: none;
                list-style-type: none;
                border-radius: 3px;
                border: var(--main-border-submenu-color);

                &:after {
                  background-image: none;
                }

                &__item {
                  font-family: "Simplon Bp";
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 15px;
                  color: var(--main-border-card-color);
                  text-align: left;
                  position: relative;
                  cursor: pointer;
                  padding: 12px 16px;
                  font-weight: 400;
                  width: 100%;
                  max-width: 100%;

                  &__link {
                    color: var(--main-border-card-color);
                    text-decoration: none;

                    &:hover {
                      color: var(--main-border-card-color);
                      border-bottom: var(--main-border-submenu-item-color);
                      text-decoration: none;
                      cursor: pointer;
                    }
                  }

                  &:hover {
                    background-color: var(--main-bg-card-color);
                  }
                }
              }

              &:first-child {
                padding-right: 26px;

                &:after {
                  content: "";
                  position: absolute;
                  width: 20px;
                  height: 19px;
                  right: 0;
                  top: 50%;
                  transform: translate(0px, -50%);
                  background-image: url("../assets/images/icon_dropdown.png");
                }

                &:focus-within,
                &:focus,
                &:hover {
                  .dropdown {
                    background: var(--main-bg-color);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-flow: row wrap;
                    width: 140px;
                    position: absolute;
                    top: 40px;
                    left: 0;
                    border: var(--main-border-submenu-color);
                    z-index: 2;

                    &__item {
                      &:after {
                        background-image: none;
                      }
                    }
                  }

                  &:after {
                    transform: translate(0, -50%) rotate(180deg);
                    z-index: 1;
                  }
                }
              }
            }
          }
        }

        &__accessibilitySubmenu {
          width: 100%;
          max-width: 252px;

          &__list {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            list-style-type: none;

            &__item {
              font-family: "Simplon Bp";
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: var(--main-subtitle-color);
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;

              &__link {
                color: var(--main-subtitle-color);
                text-decoration: none;

                &:hover {
                  color: var(--main-border-card-color);
                  border-bottom: var(--main-border-submenu-item-color);
                  text-decoration: none;
                  cursor: pointer;
                }
              }

              &.icon_accessibility {
                cursor: pointer;
                width: auto;
                height: auto;
              }

              &__button {
                cursor: pointer;
                background: none;
                // outline: none;
                border: none;
                font-family: "Open Sans";
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: var(--main-button-color);
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .section_mainMenu {
    padding: 13px 0;
    width: 100%;
    max-width: 100%;
    background: var(--main-bg-color);
    border-bottom: 3px solid rgba(144, 144, 144, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94px;

    .oi_container {
      width: 100%;

      .row {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .menuContainer {
          width: 100%;
          max-width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__firstPart {
            width: 100%;
            max-width: 490px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (min-width: 0px) and (max-width: 767px) {
              justify-content: flex-start;
            }

            @media screen and (min-width: 768px) and (max-width: 1365px) {
              max-width: 385px;
            }

            &__logoOi {
              width: 100%;
              max-width: 51px;
              margin-right: 28px;

              @media screen and (min-width: 0px) and (max-width: 1365px) {
                margin-right: 40px;
              }
            }

            &__menu {
              width: 100%;
              max-width: 410px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-flow: row wrap;
              list-style-type: none;

              @media screen and (min-width: 0px) and (max-width: 767px) {
                display: none;
                visibility: hidden;
              }

              @media screen and (min-width: 0px) and (max-width: 1365px) {
                max-width: 302px;
              }

              &__item {
                font-family: "Simplon Bp";
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: var(--main-submenu-text-color);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;

                @media screen and (min-width: 0px) and (max-width: 1365px) {
                  font-size: 16px;
                  line-height: 19px;
                  font-weight: 400;
                }

                &__link {
                  color: var(--main-submenu-text-color);
                  text-decoration: none;
                  height: 25px;

                  &:hover {
                    color: var(--main-border-card-color);
                    border-bottom: var(--main-border-submenu-item-color);
                    text-decoration: none;
                    cursor: pointer;
                  }
                }
              }
            }
          }

          &__secondPart {
            width: 100%;
            max-width: 506px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (min-width: 0px) and (max-width: 1365px) {
              display: none;
              visibility: hidden;
            }

            &__menu {
              width: 100%;
              max-width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-flow: row wrap;
              list-style-type: none;

              &__item {
                font-family: "Simplon Bp";
                font-weight: 500;
                font-size: 13px;
                line-height: 15px;
                color: var(--main-submenu-text-color);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                &__link {
                  color: var(--main-submenu-text-color);
                  text-decoration: none;

                  &:hover {
                    color: var(--main-border-card-color);
                    border-bottom: var(--main-border-submenu-item-color);
                    text-decoration: none;
                    cursor: pointer;
                  }
                }
              }
            }
          }

          &__thirdPart {
            width: 100%;
            max-width: 169px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__button {
              width: 100%;
              max-width: 100%;
              padding: 12px 0;
              background-color: var(--main-button-primary-color);
              color: var(--main-bg-color);
              font-family: "Simplon Bp";
              font-weight: 500;
              font-size: 19px;
              line-height: 28px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 30px;
              text-decoration: none;
              cursor: pointer;

              &:hover {
                color: (var--main-bg-color);
                border-bottom: none;
                text-decoration: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.for_business:is(:focus-within) > .dropdown {
  display: block;
}

.oi_subHeader {
  background-color: var(--main-bg-submenu-color);
  z-index: 1;
  overflow: auto;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .oi_container {
    @media screen and (max-width: 767px) {
      padding-right: 0;
      width: auto;
      max-width: none;
    }

    @media screen and (min-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .row {
      height: 56px;
      display: flex;
      background-color: var(--main-bg-submenu-color);

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 472px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &__list {
        width: 100%;
        max-width: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        list-style-type: none;

        @media screen and (max-width: 767px) {
          max-width: none;
          flex-flow: row;
          width: max-content;
        }

        &__item {
          font-family: "Simplon Bp";
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: var(--main-bg-color);
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 767px) {
            width: max-content;
            padding-right: 24px;
          }

          &__link {
            color: var(--main-bg-color);
            text-decoration: none;

            &:hover {
              color: var(--main-border-card-color);
              border-bottom: var(--main-border-submenu-item-color);
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

[data-theme="dark"] {
  .oi_header {
    .section_submenu {
      .oi_container {
        .row {
          &__supportMenu {
            &__list {
              &__item {
                &:first-child {
                  &:after {
                    background-image: url("../assets/images/icon_dropdown_dark.png");
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// .header {
// 	background-color: $primary-bg-color;
// 	padding-block: 2rem;
// 	z-index: 1;

// 	&__container {
// 		justify-content: flex-start;
// 		gap: 10rem;
// 		align-items: center;

// 		@media ($max-lg) {
// 			gap: 0;
// 			justify-content: space-between;
// 		}

// 		@media ($max-md) {
// 			flex-wrap: wrap;
// 		}
// 	}

// 	&__logos {
// 		list-style: none;
// 		display: flex;
// 		gap: 1rem;
// 		align-items: center;

// 		@media ($max-sm) {
// 			gap: .5rem;
// 		}

// 		&--item {
// 			display: inline-flex;
// 			align-items: center;

// 			&:not(:first-child) {
// 				&:before {
// 					content: "";
// 					width: 1px;
// 					height: 1.5rem;
// 					background-color: #b8b8b8;
// 					display: inline-block;
// 					margin-inline-end: 1rem;

// 					@media ($max-sm) {
// 						margin-inline-end: .5rem;
// 					}
// 				}
// 			}

// 			img {
// 				@media ($max-sm) {
// 					height: 18px;
// 				}
// 			}
// 		}
// 	}

// 	&__regionalization {
// 		display: inline-flex;
// 		gap: .5rem;
// 		border: none;
// 		background-color: transparent;
// 		font-size: .75rem;
// 		font-weight: 500;
// 		line-height: 1.5rem;
// 		color: $primary-text-color;

// 		&:after {
// 			content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjQxIDAuNTkwMDg4TDYgNS4xNzAwOUwxMC41OSAwLjU5MDA4OEwxMiAyLjAwMDA5TDYgOC4wMDAwOUwwIDIuMDAwMDlMMS40MSAwLjU5MDA4OFoiIGZpbGw9IiMwMDlFMEMiLz4KPC9zdmc+Cg==");
// 		}

// 		@media ($min-lg) {
// 			display: none;
// 		}
// 	}

// 	&__menu {
// 		@media screen and ($max-md) {
// 			flex-basis: calc(100% + 64px);
// 			background-color: #151515;
// 			margin-inline: -1.5rem;
// 			margin-block: 2rem -2rem;
// 		}

// 		&--list {
// 			list-style: none;
// 			margin: 0;
// 			padding: 0;
// 			display: flex;
// 			gap: 2rem;

// 			&__item {
// 				a {
// 					color: $primary-text-color;

// 					@media ($max-md) {
// 						color: $primary-bg-color;
// 					}

// 					&:hover,
// 					&:focus {
// 						text-decoration: underline;
// 					}
// 				}
// 			}
// 		}
// 	}

// 	&__btn {
// 		margin-inline-start: auto;
// 		height: 2.625rem;
// 		padding-inline: 2.5rem;

// 		@media ($max-lg) {
// 			margin-inline-start: 0;
// 		}

// 		@media ($max-md) {
// 			display: none;
// 		}
// 	}
// }
