<section class="cards_ofertas_section">
  <div class="max_width_container">
    <div class="cards_ofertas_header">
      <h1 class="cards_ofertas_title">
        Assine internet residencial Oi Fibra com alta velocidade, estabilidade de
        sinal e Wi-Fi
      </h1>
      <div class="cards_ofertas_planos">
        <h2 class="cards_ofertas_busca">
          Planos Oi Fibra pra
        </h2>
        <button class="cards_ofertas_cidade" onclick="openModal()">Fortaleza, CE</button>
      </div>
    </div>

    <div id='cards_ofertas_botoes' class="cards_ofertas_botoes">
      <button id="conteudoInternet" class="cards_ofertas_botao_internet_desktop selecionado"
        data-button-type-offer="oi_fibra" data-gtmButton="click_aba_internet_oi_fibra"
        onclick="card_oferta_toggle_view(this);">Internet Oi Fibra</button>
      <button id="conteudoInternet" class="cards_ofertas_botao_internet_mobile selecionado"
        data-button-type-offer="oi_fibra" data-gtmButton="click_aba_internet_oi_fibra"
        onclick="card_oferta_toggle_view(this);">Internet</button>
      <button id="conteudoTelefone" class="cards_ofertas_botao_telefone_desktop"
        data-gtmButton="click_aba_telefone_fixo" data-button-type-offer="oi_telefone"
        onclick="card_oferta_toggle_view(this);">+ Telefone fixo</button>
      <button id="conteudoTelefone" class="cards_ofertas_botao_telefone_mobile" data-gtmButton="click_aba_telefone_fixo"
        data-button-type-offer="oi_telefone" onclick="card_oferta_toggle_view(this);">+ fixo</button>
      <button id="conteudoTv" class="cards_ofertas_botao_tv" data-gtmButton="click_aba_oi_play_tv"
        data-button-type-offer="oi_playtv" onclick="card_oferta_toggle_view(this);">+ Oi Play TV</button>
    </div>

    <div id="cardsOfertas" class="cards_ofertas_container">
      <div class="cards_ofertas_box">
        <div class="cards_ofertas_card">

          <div class="cards_ofertas_titulo_container">
            <h4 class="cards_ofertas_titulo_oifibra">oi fibra <span
                class="cards_ofertas_titulo_oifibra_destaque">start</span></h4>
            <h3 id="FirstCard" class="cards_ofertas_titulo">100 MEGA</h3>
            <span class="cards_ofertas_titulo_span">+ telefone fixo</span>
          </div>

          <div class="cards_ofertas_infos_container">
            <div class="cards_ofertas_infos_wifi">
              <img width="20" height="20" loading="lazy" alt="Wi-Fi" title="Wi-Fi" class="cards_ofertas_icon_wifi_gray"
                src="../assets/images/icon-wifi.svg" />
              <img width="20" height="20" loading="lazy" alt="Wi-Fi" title="Wi-Fi" class="cards_ofertas_icon_wifi_green"
                src="../assets/images/icon-wifi-green.svg" />
              <span class="cards_ofertas_span_wifi">1 ponto <b>Wi-Fi 5</b></span>
            </div>
            <div class="cards_ofertas_infos_cartao">
              <img width="20" height="20" loading="lazy" alt="Carteira de dineiro" title="Carteira de dineiro"
                class="cards_ofertas_icon_wallet_gray" src="../assets/images/icon-wallet.svg" />
              <img width="20" height="20" loading="lazy" alt="Carteira de dineiro" title="Carteira de dineiro"
                class="cards_ofertas_icon_wallet_green" src="../assets/images/icon-wallet-green.svg" />
              <span>No cartão de crédito</span>
            </div>
          </div>

          <div class="cards_ofertas_preco">
            <span class="cards_ofertas_simbolo">R$</span>
            <span class="cards_ofertas_reais">79</span>

            <div class="cards_ofertas_centavos">
              <span class="cards_ofertas_centavos_numero">,90</span>
              <span class="cards_ofertas_centavos_mes">/MÊS</span>
            </div>
          </div>

          <a class="cards_ofertas_ancora">Eu quero</a>

          <details class="cards_ofertas_beneficios">
            <summary class="cards_ofertas_sumario">
              <span class="cards_ofertas_span_beneficios">Benefícios incluídos</span>
              <img width="12" height="8" loading="lazy" alt="Seta para baixo" title="Seta para baixo"
                src="../assets/images/icon-arrow.svg" />
            </summary>
            <ul class="cards_ofertas_ul_beneficios">
              <li class="cards_ofertas_li_beneficios">

                <img class="cards_ofertas_picture_beneficios" src=../assets/images/icon-checkmark-light.svg alt=""
                  loading="lazy" />

                <span class="cards_ofertas_span_beneficios_incluidos">Oi Play Básico</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Livros</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News Meia Hora</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News O Dia</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News Isto É</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Expert Remoto</span>
              </li>
            </ul>
          </details>

          <div class="cards_ofertas_detalhes">
            <img width="14" height="14" loading="lazy" alt="ícone do símbolo de um sinal de adição"
              title="ícone do símbolo de um sinal de adição" src="../assets/images/icon-more.svg" />
            <span class="cards_fertas_span_detalhes">Detalhes da oferta</span>
          </div>
        </div>
      </div>
      <canvas class="cards_ofertas_borda cards_ofertas_borda_cinza"></canvas>
      <div class="cards_ofertas_box">
        <div class="cards_ofertas_card">

          <div class="cards_ofertas_titulo_container">
            <h4 class="cards_ofertas_titulo_oifibra">oi fibra <span
                class="cards_ofertas_titulo_oifibra_destaque">start</span></h4>
            <h3 class="cards_ofertas_titulo">400 MEGA</h3>
            <span class="cards_ofertas_titulo_span">+ telefone fixo</span>
          </div>

          <div class="cards_ofertas_infos_container">
            <div class="cards_ofertas_infos_wifi">
              <img width="20" height="20" loading="lazy" alt="Wi-Fi" title="Wi-Fi" class="cards_ofertas_icon_wifi_gray"
                src="../assets/images/icon-wifi.svg" />
              <img width="20" height="20" loading="lazy" alt="Wi-Fi" title="Wi-Fi" class="cards_ofertas_icon_wifi_green"
                src="../assets/images/icon-wifi-green.svg" />
              <span class="cards_ofertas_span_wifi">1 ponto <b>Wi-Fi 5</b></span>
            </div>
            <div class="cards_ofertas_infos_cartao">
              <img width="20" height="20" loading="lazy" alt="Carteira de dineiro" title="Carteira de dineiro"
                class="cards_ofertas_icon_wallet_gray" src="../assets/images/icon-wallet.svg" />
              <img width="20" height="20" loading="lazy" alt="Carteira de dineiro" title="Carteira de dineiro"
                class="cards_ofertas_icon_wallet_green" src="../assets/images/icon-wallet-green.svg" />
              <span>No cartão de crédito ou débito em conta</span>
            </div>
          </div>

          <div class="cards_ofertas_preco">
            <span class="cards_ofertas_simbolo">R$</span>
            <span class="cards_ofertas_reais">99</span>

            <div class="cards_ofertas_centavos">
              <span class="cards_ofertas_centavos_numero">,90</span>
              <span class="cards_ofertas_centavos_mes">/MÊS</span>
            </div>
          </div>

          <a class="cards_ofertas_ancora">Eu quero</a>

          <details class="cards_ofertas_beneficios">
            <summary class="cards_ofertas_sumario">
              <span class="cards_ofertas_span_beneficios">Benefícios incluídos</span>
              <img width="12" height="8" loading="lazy" alt="Seta para baixo" title="Seta para baixo"
                src="../assets/images/icon-arrow.svg" />
            </summary>
            <ul class="cards_ofertas_ul_beneficios">
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Play Básico</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Livros</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Notícias</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Áudio Livros</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News Meia Hora</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News Marie Claire, Glamour e GQ</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Expert Remoto</span>
              </li>
            </ul>
          </details>

          <div class="cards_ofertas_detalhes">
            <img width="14" height="14" alt="ícone do símbolo de um sinal de adição"
              title="ícone do símbolo de um sinal de adição" src="../assets/images/icon-more.svg" />
            <span class="cards_fertas_span_detalhes">Detalhes da oferta</span>
          </div>
        </div>
      </div>
      <canvas class="cards_ofertas_borda cards_ofertas_borda_cinza"></canvas>
      <div class="cards_ofertas_box">
        <div class="cards_ofertas_card">

          <div class="cards_ofertas_titulo_container">
            <h3 class="cards_ofertas_titulo">500 MEGA</h3>
            <span class="cards_ofertas_titulo_span">+ telefone fixo</span>
          </div>

          <div class="cards_ofertas_infos_container">
            <div class="cards_ofertas_infos_wifi">
              <img width="20" height="20" loading="lazy" alt="Wi-Fi" title="Wi-Fi" class="cards_ofertas_icon_wifi_gray"
                src="../assets/images/icon-wifi.svg" />
              <img width="20" height="20" loading="lazy" alt="Wi-Fi" title="Wi-Fi" class="cards_ofertas_icon_wifi_green"
                src="../assets/images/icon-wifi-green.svg" />
              <span class="cards_ofertas_span_wifi">1 ponto <b>Wi-Fi 5</b></span>
            </div>
            <div class="cards_ofertas_infos_cartao">
              <img width="20" height="20" loading="lazy" alt="Carteira de dineiro" title="Carteira de dineiro"
                class="cards_ofertas_icon_wallet_gray" src="../assets/images/icon-wallet.svg" />
              <img width="20" height="20" loading="lazy" alt="Carteira de dineiro" title="Carteira de dineiro"
                class="cards_ofertas_icon_wallet_green" src="../assets/images/icon-wallet-green.svg" />
              <span>No cartão de crédito ou débito em conta</span>
            </div>
          </div>

          <div class="cards_ofertas_preco">
            <span class="cards_ofertas_simbolo">R$</span>
            <span class="cards_ofertas_reais">109</span>

            <div class="cards_ofertas_centavos">
              <span class="cards_ofertas_centavos_numero">,90</span>
              <span class="cards_ofertas_centavos_mes">/MÊS</span>
            </div>
          </div>

          <a class="cards_ofertas_ancora">Eu quero</a>

          <details class="cards_ofertas_beneficios">
            <summary class="cards_ofertas_sumario">
              <span class="cards_ofertas_span_beneficios">Benefícios incluídos</span>
              <img width="12" height="8" loading="lazy" alt="Seta para baixo" title="Seta para baixo"
                src="../assets/images/icon-arrow.svg" />
            </summary>
            <ul class="cards_ofertas_ul_beneficios">
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Play Básico</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Livros</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Notícias</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Áudio Livros</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News Meia Hora</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News Estadão</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi News Isto É</span>
              </li>
              <li class="cards_ofertas_li_beneficios">
                <picture class="cards_ofertas_picture_beneficios"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos">Oi Expert Remoto</span>
              </li>
            </ul>
          </details>

          <div class="cards_ofertas_detalhes">
            <img width="14" height="14" alt="ícone do símbolo de um sinal de adição"
              title="ícone do símbolo de um sinal de adição" src="../assets/images/icon-more.svg" />
            <span class="cards_fertas_span_detalhes">Detalhes da oferta</span>
          </div>
        </div>
      </div>
      <canvas class="cards_ofertas_borda"></canvas>
      <div class="cards_ofertas_box">
        <div class="cards_ofertas_card cards_ofertas_oi_expert">

          <div class="cards_ofertas_titulo_container">
            <h3 class="cards_ofertas_titulo cards_ofertas_oi_expert">700 MEGA</h3>
            <span class="cards_ofertas_titulo_span cards_ofertas_oi_expert">+ telefone fixo</span>
          </div>

          <div class="cards_ofertas_infos_container cards_ofertas_oi_expert">
            <div class="cards_ofertas_infos_wifi cards_ofertas_oi_expert">
              <img width="20" height="20" loading="lazy" alt="Wi-Fi" title="Wi-Fi" class="cards_ofertas_img_wifi"
                src="../assets/images/icon-wifi.svg" />
              <span class="cards_ofertas_span_wifi cards_ofertas_oi_expert">2 pontos <b>Wi-Fi 5</b></span>
            </div>
            <div class="cards_ofertas_infos_cartao cards_ofertas_oi_expert">
              <img width="24" height="24" loading="lazy" alt="ícone do símbolo de uma estrela"
                title="ícone do símbolo de uma estrela" src="../assets/images/icon-star.svg" />
              <span class="cards_ofertas_span_wifi cards_ofertas_oi_expert">Oi Expert <b>Pro Care</b></span>
            </div>
          </div>

          <div class="cards_ofertas_preco cards_ofertas_oi_expert">
            <span class="cards_ofertas_simbolo cards_ofertas_oi_expert">R$</span>
            <span class="cards_ofertas_reais cards_ofertas_oi_expert">169</span>

            <div class="cards_ofertas_centavos cards_ofertas_oi_expert">
              <span class="cards_ofertas_centavos_numero cards_ofertas_oi_expert">,90</span>
              <span class="cards_ofertas_centavos_mes cards_ofertas_oi_expert">/MÊS</span>
            </div>
          </div>

          <a class="cards_ofertas_ancora">Eu quero</a>

          <details class="cards_ofertas_beneficios cards_ofertas_oi_expert">
            <summary class="cards_ofertas_sumario cards_ofertas_oi_expert">
              <span class="cards_ofertas_span_beneficios cards_ofertas_oi_expert">Benefícios incluídos</span>
              <img width="12" height="8" loading="lazy" alt="Seta para baixo" title="Seta para baixo"
                src="../assets/images/icon-arrow-green.svg" />
            </summary>
            <ul class="cards_ofertas_ul_beneficios cards_ofertas_oi_expert">
              <li class="cards_ofertas_li_beneficios cards_ofertas_oi_expert">
                <picture class="cards_ofertas_picture_beneficios cards_ofertas_oi_expert"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos cards_ofertas_oi_expert">Oi Play Básico</span>
              </li>
              <li class="cards_ofertas_li_beneficios cards_ofertas_oi_expert">
                <picture class="cards_ofertas_picture_beneficios cards_ofertas_oi_expert"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos cards_ofertas_oi_expert">Oi Livros</span>
              </li>
              <li class="cards_ofertas_li_beneficios cards_ofertas_oi_expert">
                <picture class="cards_ofertas_picture_beneficios cards_ofertas_oi_expert"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos cards_ofertas_oi_expert">Oi Notícias</span>
              </li>
              <li class="cards_ofertas_li_beneficios cards_ofertas_oi_expert">
                <picture class="cards_ofertas_picture_beneficios cards_ofertas_oi_expert"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos cards_ofertas_oi_expert">Oi Áudio Livros</span>
              </li>
              <li class="cards_ofertas_li_beneficios cards_ofertas_oi_expert">
                <picture class="cards_ofertas_picture_beneficios cards_ofertas_oi_expert"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos cards_ofertas_oi_expert">Oi News Meia Hora</span>
              </li>
              <li class="cards_ofertas_li_beneficios cards_ofertas_oi_expert">
                <picture class="cards_ofertas_picture_beneficios cards_ofertas_oi_expert"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos cards_ofertas_oi_expert">Oi News Marie Claire,
                  Glamour e GQ</span>
              </li>
              <li class="cards_ofertas_li_beneficios cards_ofertas_oi_expert">
                <picture class="cards_ofertas_picture_beneficios cards_ofertas_oi_expert"><img width="16" height="16"
                    src=../assets/images/icon-checkmark-light.svg alt="Marca de Seleção" title="Marca de Seleção"
                    loading="lazy" />
                </picture>
                <span class="cards_ofertas_span_beneficios_incluidos cards_ofertas_oi_expert">Oi Expert Remoto</span>
              </li>
            </ul>
          </details>

          <div class="cards_ofertas_detalhes cards_ofertas_oi_expert">
            <img width="14" height="14" alt="ícone do símbolo de um sinal de adição"
              title="ícone do símbolo de um sinal de adição" src="../assets/images/icon-plus-green.svg" />
            <span class="cards_fertas_span_detalhes cards_ofertas_oi_expert">Detalhes da oferta</span>
          </div>
        </div>
      </div>
      <canvas class="cards_ofertas_borda"></canvas>

      <a href="#" class="cards_ofertas_ancora_saiba_mais">Saiba mais sobre os benefícios</a>

    </div>
  </div>

  <section class="cards_ofertas_combo_section">
    <div class="max_width_container">
      <div class="cards_ofertas_combo_container">
        <div class="cards_ofertas_peca_oi">
          <p>PEÇA OI FIBRA +</p>
          <span class="cards_ofertas_outros_produtos">OUTROS PRODUTOS</span>
        </div>

        <div class="cards_ofertas_icons">
          <div class="cards_ofertas_icons_box">
            <div class="cards_ofertas_icons_img">
              <img width="25" height="25" loading="lazy" alt="Tv" title="TV" src="../assets/images/icon-televisao.svg">
            </div>
            <label class="cards_ofertas_icons_text">Canais</label>
          </div>
          <div class="cards_ofertas_icons_box">
            <div class="cards_ofertas_icons_img">
              <img width="25" height="24" loading="lazy" alt="Telefone" title="Telefone"
                src="../assets/images/icon-telefone.svg">
            </div>
            <label class="cards_ofertas_icons_text">Fixo</label>
          </div>
          <div class="cards_ofertas_icons_box">
            <div class="cards_ofertas_icons_img">
              <img width="25" height="24" loading="lazy" alt="Avatar com telefone" title="Avatar com telefone"
                src="../assets/images/icon-suporte.svg">
            </div>
            <label class="cards_ofertas_icons_text">Suporte</label>
          </div>
          <div class="cards_ofertas_icons_box">
            <div class="cards_ofertas_icons_img">
              <img width="25" height="25" loading="lazy" alt="Presente embrulhado" title="Presente embrulhado"
                src="../assets/images/icon-presente.svg">
            </div>
            <label class="cards_ofertas_icons_text">Conteúdos</label>
          </div>
        </div>
        <a class="cards_ofertas_meucombo_ancora" href="https://oinovafibra.oi.com.br/fibra/s/?bundle=true">Montar meu
          combo</a>
      </div>
    </div>
    </div>
    <dialog class="cards_ofertas_modal">
      <div class="cards_ofertas_modal_container">
        <button class="cards_ofertas_close_modal_button">&#x2715</button>
        <span class="cards_ofertas_modal_name">Detalhes da oferta</span>
        <div class="cards_ofertas_modal_title">
          <!-- <span class="cards_ofertas_modal_oferta"
            >Internet Oi Fibra X: 700 MEGA</span
          > -->
        </div>

        <div class="cards_ofertas_modal_oferta_subtitle_description">
          <!-- <span class="cards_ofertas_modal_oferta_description"
            >700 MEGA com 2 pontos Wi-Fi 5 + Oi Expert Care R$ 199,90/mês</span
          > -->
        </div>
        <div class="cards_ofertas_modal_oferta_subtitle_description_value">
          <!-- <span class="cards_ofertas_modal_oferta_description"
            >700 MEGA com 2 pontos Wi-Fi 5 + Oi Expert Care R$ 199,90/mês</span
          > -->
        </div>
        <canvas class="cards_ofertas_modal_first_line"></canvas>

        <!-- <ul class="cards_ofertas_modal_lista"> -->
        <!-- <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title">Conexão & Caring</span>
            <p class="cards_ofertas_modal_item_paragraph">
              Solução pra quem quer
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >ampliar a cobertura Wi-Fi</b
              >
              com alta tecnologia e contar com todo o cuidado do
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >Oi Expert Care</b
              >.
            </p>
            <p class="cards_ofertas_modal_item_paragraph">
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >2 pontos Wi-Fi 5:</b
              >
              Esses pontos garantem uma maior cobertura e potência do sinal. Ao
              contrário dos repetidores comuns que distribuem a internet com
              pouco ou nenhuma qualidade pra cada dispositivo e que exigem troca
              de rede manual quando você anda pela casa, os nossos formam uma
              rede inteligente e única.
            </p>
            <p class="cards_ofertas_modal_item_paragraph">
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >Oi Expert Care:</b
              >
              Com esse serviço você tem atendimento e suporte diferenciado. Os
              experts da Oi gerenciam proativamente a performance da sua Oi
              Fibra tratando eventuais falhas
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >antes mesmo que você perceba</b
              >
              e estão à disposição pra te ajudar desde questões do nosso serviço
              à como usar e configurar Smart TVs, impressoras e muito mais.
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title"
              >Taxa de habilitação</span
            >
            <p class="cards_ofertas_modal_item_paragraph">
              A oferta possui taxa de habilitação grátis mediante permanência de
              <b class="cards_ofertas_modal_item_paragraph_bold">12 meses</b>.
              Caso a banda larga seja cancelada
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >antes desse período</b
              >, será cobrado o valor de R$ 540,00 de forma proporcional aos
              meses restantes.
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title">Instalação</span>
            <p class="cards_ofertas_modal_item_paragraph">
              O dia da instalação da Oi Fibra será agendado de acordo com as
              datas e horários disponíveis.
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title">Equipamento</span>
            <p class="cards_ofertas_modal_item_paragraph">
              Os 2 pontos Wi-Fi 5 (roteador + 1 ponto) serão entregues em
              <b class="cards_ofertas_modal_item_paragraph_bold">comodato</b>.
              Em caso de cancelamento, deverão ser
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >devolvidos para a Oi</b
              >. Essas condições valem também para os pontos que podem ser
              adicionados (até mais 2 pontos Wi-Fi 5 por R$ 40/mês).
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title"
              >Velocidade da oferta</span
            >
            <p class="cards_ofertas_modal_item_paragraph">
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >700 MEGA de internet</b
              >: Até 700 MEGA de download, até 350 MEGA de upload. Essas são as
              velocidades máximas nominais, sendo que a velocidade apresentada
              está sujeita a variações em razão da capacidade dos dispositivos
              utilizados pelo cliente, meio de conexão escolhido pelo cliente
              (via cabo ou via Wi-Fi), quantidade de dispositivos conectados ao
              mesmo tempo, assim como outros fatores externos alheios à vontade
              da Oi.
            </p>
            <p class="cards_ofertas_modal_item_paragraph">
              <b class="cards_ofertas_modal_item_paragraph_bold"
                >Dispositivo conectado à internet no roteador ou ponto extra
                cabeado:</b
              >
              <br />
              <b class="cards_ofertas_modal_item_paragraph_list">- via cabo:</b>
              até 700 MEGA de download, até 350 MEGA de upload.
              <br />
              <b class="cards_ofertas_modal_item_paragraph_list"
                >- via Wi-Fi:</b
              >
              até 600 MEGA de download, até 350 MEGA de upload.
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title"
              >Franquia de dados</span
            >
            <p class="cards_ofertas_modal_item_paragraph">
              A Franquia de dados é ilimitada.
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title"
              >Informações importantes para uma melhor experiência de
              navegação:</span
            >
            <p class="cards_ofertas_modal_item_paragraph">
              Os dispositivos (smartphone, computador etc.) precisam ter as
              configurações mínimas necessárias para que atinjam o máximo de
              desempenho, tanto via cabo como via Wi-Fi.
            </p>

            <p class="cards_ofertas_modal_item_paragraph">
              Os pontos Wi-Fi 5 são dual-band, ou seja, tem frequência de 2,4
              GHz e 5 GHz no Wi-Fi. Verifique se os seus dispositivos permitem a
              navegação em ambas frequências. A conexão via cabo proporciona
              maior estabilidade e não sofre tantas interferências quanto a rede
              Wi-Fi.
              <a
                class="cards_ofertas_modal_item_link"
                href="https://www.oi.com.br/internet/lp/boas-vindas-fibra"
                >Saiba mais aqui.</a
              >
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title"
              >Validade da oferta</span
            >
            <p class="cards_ofertas_modal_item_paragraph">
              A oferta está com preço promocional e é válida por 12 meses a
              partir da data de adesão e prorrogável automaticamente a cada 30
              dias. Caso a oferta seja cancelada pela Oi, comunicaremos com 30
              dias de antecedência.
            </p>
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title"
              >Regulamento da oferta</span
            >
            <br />

            <a
              class="cards_ofertas_modal_item_link"
              href="https://www.oi.com.br/internet/regulamento"
              >Consulte todas as regras</a
            >
          </li>

          <li class="cards_ofertas_modal_item">
            <span class="cards_ofertas_modal_item_title">Reajuste anual</span>
            <p class="cards_ofertas_modal_item_paragraph">
              O valor mensal da oferta poderá, a critério da Oi, ser reajustada
              anualmente de acordo com a variação positiva do IGP-DI ou índice
              geral que o substitua.
            </p>
          </li> -->
        <!-- </ul> -->
      </div>
    </dialog>

  </section>
</section>