.modal-whatsappv2-components__button-green {
	display: flex;
	min-width: 232px;
	height: 48px;
	padding: 2px 16px;
	align-items: center;
	gap: 8px;
	background-color: transparent;

	width: 100%;

	border-radius: 999px;
	border: 2px solid var(--cttbtn-v2-button-border-color);

	span {
		color: var(--cttbtn-v2-button-border-color);
		text-align: center;

		font-size: 16px;
		font-weight: 500;
		line-height: 150%;
		/* 24px */
	}
}