<div class="modal-whatsappv2">
	<div id="modal-whatsapp-v2" class="modal-whatsappv2__menu-container">
		@@include("./menus/main/index.html")
		@@include("./menus/assinarOiFibra/index.html")
	</div>

	<button
		class="modal-whatsappv2__toggle-button"
		data-gtmButton="contato_float_button"
		accesskey="w"
		id="whatsapp-modal-openbutton"
		onclick="contactButtonV2.toggleModal()"
	>
		<img
			src="assets\images\icon-whatsapp-primary-light.svg"
			alt="whatsapp icon"
			loading="lazy"
		/>
	</button>
</div>
