<div class="cttbtn_mainContent">
  <p>Como você quer assinar Oi Fibra?</p>

  <div class="cttbtn_mainContent_buttons">
    <a
      data-focusedScreen="cttbtn_main"
      target="_blank"
      href="https://api.whatsapp.com/send?phone=553180013131&text=Ol%C3%A1!%20Quero%20conhecer%20as%20ofertas%20da%20Oi*"
      class="cttbtn_tabeable"
      id="cttbtn_mainContent_buttons-anchor-whatsapp"
      data-gtmButton="whatsapp-contact-button"
    >
      <span>
        <div class="cttbtn_mainContent_buttons_primary">
          <img
            src="../../../assets/images/icon-whatsapp-primary-light.svg"
            alt="icone de whatsapp"
            title="icone de whatsapp"
          />
        </div>
        Por WhatsApp
      </span>
    </a>

    <button
      data-focusedScreen="cttbtn_main"
      class="cttbtn_tabeable"
      onclick="toggleRenderComponent({show: '.renderComponent_chatBot', hidden:'.renderComponent_phonebtn', focus: 'cttbtn_chatbot'})"
      data-gtmButton="chat-contact-button"
      id="cttbtn_tabeable-button-por-chat"
    >
      <span>
        <div class="cttbtn_mainContent_buttons_primary">
          <img
            src="../../../assets/images/icon-message-light.svg"
            alt="icone de mensagem"
            title="icone de mensagem"
          />
        </div>
        Por chat
      </span>
    </button>

    <button
      data-focusedScreen="cttbtn_main"
      class="cttbtn_tabeable"
      onclick="toggleRenderComponent({show: '.renderComponent_phonebtn', hidden:'.renderComponent_chatBot', focus: 'cttbtn_phone'})"
      data-gtmButton="telephone-contact-button"
      id="cttbtn_tabeable-button-por-telefone"
    >
      <span>
        <div class="cttbtn_mainContent_buttons_primary">
          <img
            src="../../../assets/images/icon-phone-primary-light.svg"
            title="icone de telefone"
            alt="icone de telefone"
          />
        </div>
        Por telefone
      </span>
    </button>
  </div>
</div>

<div class="cttbtn_mainContent">
  <p>Tem Oi Fibra e quer atendimento?</p>
  <div class="cttbtn_mainContent_buttons">
    <a
      target="_blank"
      href="https://api.whatsapp.com/send?phone=553131313131&text=Oi, Joice! Pode me ajudar?"
      data-focusedScreen="cttbtn_main"
      class="cttbtn_tabeable"
      data-gtmButton="whatsapp-footer-contact-button"
    >
      <span id="cttbtn_mainContent_buttons_secundary-fale-pelo-whatsapp">
        <div class="cttbtn_mainContent_buttons_secundary">
          <img
            src="../../../assets/images/icon-whatsapp-secundary-light.svg"
            alt=""
          />
        </div>
        <span>
          Fale pelo
          <b>WhatsApp</b>
        </span>
      </span>
    </a>
    <a
      id="cttbtn_tabeable-oi-e"
      target="_blank"
      href="https://play.google.com/store/apps/details?id=br.com.oi.minhafibra"
      data-focusedScreen="cttbtn_main"
      class="cttbtn_tabeable"
      data-gtmButton="oi_e-contact-button"
    >
      <span>
        <div class="cttbtn_mainContent_buttons_secundary">
          <img src="../../../assets/images/icon-oi_e-light.svg" alt="" />
        </div>
        <span>
          Use o
          <b>aplicativo</b>
        </span>
      </span>
    </a>
    <a
      id="cttbtn_tabeable-contato-oi"
      target="_blank"
      href="tel:08000318000"
      data-focusedScreen="cttbtn_main"
      class="cttbtn_tabeable"
      data-gtmButon="telefone-footer-contact-button"
    >
      <span>
        <div class="cttbtn_mainContent_buttons_secundary">
          <img
            src="../../../assets/images/icon-phone-secundary-light.svg"
            alt=""
          />
        </div>
        <span>
          ligue
          <b>0800 031 800</b>
        </span>
      </span>
    </a>
  </div>
</div>
