<div class="cttbtn_phoneContent" id="cttbtn_phoneContent">
  <div class="ctttn_closeButton">
    <button
      onclick="
      toggleRenderComponent({hidden:'.renderComponent_chatBot'}); 
      toggleRenderComponent({hidden:'.renderComponent_phonebtn'});
      toggleRenderComponent({focus:'cttbtn_main'})"
      class="cttbtn_tabeable"
      data-focusedScreen="cttbtn_phone"
    >
      &#x2715;
    </button>
  </div>

  <p>COMPRE PELO TELEFONE</p>
  <a
    href="tel:08000318000"
    class="cttbtn_tabeable"
    data-focusedScreen="cttbtn_phone"
    id="cttbtn_tabeable-anchor-phone"
    data-gtmButton="ligar_0800_button"
  >
    <img
      src="assets\images\icon-phone-primary-light.svg"
      alt="icone de telefone"
    />
    0800 031 8000
  </a>
</div>
