{
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"jsxBracketSameLine": false,
	"trailingComma": "none",
	"bracketSpacing": false,
	"rangeEnd": 120,
	"files": [
		"./components/**/*.jsx",
		"./pages/**/*.{js, jsx}",
		"./widgets/**/*.{js, jsx}",
		"./utils/**/*.{js, jsx}"
	]
}
