{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "rangeEnd": 120,
  "files": ["./components/**/*.jsx","./pages/**/*.{js, jsx}", "./widgets/**/*.{js, jsx}", "./utils/**/*.{js, jsx}"]
}
