<section class="max_width_container lojaonline__container">
	<div class="lojaonline__box">
        <div class="lojaonline__background"><picture class="lojaonline__background">
			<source
				media="(min-width: 1920px)"
				srcset="assets/images/lojaonline-background.webp"
			>
			<source
				media="(min-width: 1366px)"
				srcset="assets/images/lojaonline_background_desktop_1366.webp"
			>
			<source
				media="(min-width: 1024px)"
				srcset="assets/images/lojaonline_background_desktop_1024.webp"
			>
			<source
				media="(min-width: 768px)"
				srcset="assets/images/lojaonline_background_desktop_768.webp"
			>
			<source
				media="(min-width: 360px)"
				srcset="assets/images/lojaonline_background_mobile.webp"
			>
			<img src="/assets/images/lojaonline_background_mobile.webp" alt="">
		</picture>
        </div>
		<div class="lojaonline__textcontainer">
			<h2 class="lojaonline__textcontainer__title">loja <b>online</b></h2>
			<p class="lojaonline__textcontainer__bodytext">
				Assine Oi Fibra e compre Smart TVs, celulares e mais com desconto no Oi Place
			</p>
			<a href="#" class="lojaonline__textcontainer__anchorbutton">Quero Oi Fibra <hr class="lojaonline__textcontainer__anchorbutton__arrow"></a>
		</div>
		<div class="lojaonline__img">
			<img class="lojaonline__img__computador" src="/assets/images/lojaonline-imagebanner.webp" loading="lazy" alt="" />
		</div>

		<span class="lojaonline__tagdiscount">10% OFF</span>
	</div>
</section>
