<section class="oiplace_carousel_container" id="carousel">
	<div class="max_width_container_oiplace">
		<div class="oiplace_carousel_title">
			<img
				alt="Oi Place"
				title="Oi Place"
				width="117"
				height="40"
				class="oiplace_carousel_title_image"
				src="../assets/images/oiplace.webp"
			/>
			<h2 class="oiplace_carousel_title_text">
				Potencialize sua conexão, seu entretenimento e sua casa com produtos
				selecionados pelos nossos especialistas.
			</h2>
		</div>
	</div>
	<div class="max_width_container_oiplace">
		<div class="oiplace_carousel_container"></div>
		<div class="oiplace_btn_wrapper">
			<button id="oiPlacebtnArrowPrev" class="oiplace_btn_prev_carousel">
				<img
					width="16"
					height="25"
					loading="lazy"
					src="../assets/images/arrow-carousel-left.svg"
					alt="Ícone verde de seta para o lado esquerdo"
					title="Ícone verde de seta para esquerda"
				/>
			</button>
		</div>

		<div id="oiPlaceCardsWrapper" class="oiplace_cards_wrapper">
			<div class="oiplace_card_item">
				<div class="oiplace_card_item_promo">10% OFF</div>
				<img
					class="oiplace_card_item_image"
					src="../assets/images/roteador-mesh.webp"
				/>
				<div class="oiplace_card_item_info">
					<h1>Roteador Wi-Fi Mesh Nokia Beacon 1 com 1 unidade</h1>
					<div class="oiplace_card_item_price">
						<span class="oiplace_card_item_price_old">De: <s>R$672</s></span>
						<span class="oiplace_card_item_price_new">R$ 604,80</span>
					</div>
				</div>
			</div>

			<div class="oiplace_card_item">
				<div class="oiplace_card_item_promo">10% OFF</div>
				<img
					class="oiplace_card_item_image"
					src="../assets/images/roteador-mesh.webp"
				/>
				<div class="oiplace_card_item_info">
					<h1>Roteador Wi-Fi Mesh Nokia Beacon 1 com 1 unidade</h1>
					<div class="oiplace_card_item_price">
						<span class="oiplace_card_item_price_old">De: <s>R$672</s></span>
						<span class="oiplace_card_item_price_new">R$ 604,80</span>
					</div>
				</div>
			</div>

			<div class="oiplace_card_item">
				<div class="oiplace_card_item_promo">10% OFF</div>
				<img
					class="oiplace_card_item_image"
					src="../assets/images/roteador-mesh.webp"
				/>
				<div class="oiplace_card_item_info">
					<h1>Roteador Wi-Fi Mesh Nokia Beacon 1 com 1 unidade</h1>
					<div class="oiplace_card_item_price">
						<span class="oiplace_card_item_price_old">De: <s>R$672</s></span>
						<span class="oiplace_card_item_price_new">R$ 604,80</span>
					</div>
				</div>
			</div>

			<div class="oiplace_card_item">
				<div class="oiplace_card_item_promo">10% OFF</div>
				<img
					class="oiplace_card_item_image"
					src="../assets/images/roteador-mesh.webp"
				/>
				<div class="oiplace_card_item_info">
					<h1>Roteador Wi-Fi Mesh Nokia Beacon 1 com 1 unidade</h1>
					<div class="oiplace_card_item_price">
						<span class="oiplace_card_item_price_old">De: <s>R$672</s></span>
						<span class="oiplace_card_item_price_new">R$ 604,80</span>
					</div>
				</div>
			</div>
		</div>

		<div class="oiplace_btn_wrapper">
			<button id="oiPlacebtnArrowNext" class="oiplace_btn_next_carousel">
				<img
					width="16"
					height="25"
					loading="lazy"
					src="../assets/images/arrow-carousel-right.svg"
					alt="Ícone verde de seta para o lado direito"
					title="Ícone verde de seta para direita"
				/>
			</button>
		</div>
	</div>

	<div class="max_width_container_oiplace">
		<div class="oiplace_button_read">Veja tudo no Oi Place</div>
	</div>
</section>
