.banner-274955__oifibra {
	// max-width: fit-content;

	&__background {
		justify-content: center;
		// justify-content: flex-end;
		position: relative;
		background-color: #00211f;
		&::before {
			content: '';
			inset: 0 auto 0 auto;
			width: 100%;
			position: absolute;
			@media (min-width: 2550px) {
				max-width: 2550px;
				background: linear-gradient(271deg, #00211f 0%, rgba(0, 33, 31, 0) 30%),
					linear-gradient(86deg, #00211f 0%, rgba(0, 33, 31, 0) 10%),
					rgba(211, 211, 211, 0) 141.964px -164.85px / 83.96% 149.591% no-repeat;
			}

			@media (max-width: 1366px) {
				background: linear-gradient(
						92deg,
						rgba(0, 19, 0, 0.85) 10.43%,
						rgba(0, 0, 0, 0) 82.53%
					),
					rgba(211, 211, 211, 0) 00% / cover no-repeat;
			}
		}
		img {
			max-width: 2550px;
			width: 100%;
			@media (min-width: 1920px) {
				object-position: 20%;
			}
		}
	}
	&__title {
		font-size: 3.75rem;
		font-weight: 500;
		font-family: 'Simplon Oi';
		color: var(--banneroifibra-text-color);
		margin-bottom: 20px;

		&__bold {
			background: linear-gradient(69deg, #40d802 26.33%, #90d604 61%);
		}
	}
	&__oferta {
		display: flex;
		flex-direction: row;
		gap: 12px;
		&__megas {
			display: flex;
			flex-direction: column;
			font-family: 'Simplon Oi';
			font-size: 7.25rem;
			font-style: normal;
			font-weight: 500;
			margin-top: 18px;
			// max-width: 190px;

			&__text {
				font-family: 'Simplon BP';
				font-size: 1.875rem;
				font-style: normal;
				font-weight: 500;
				line-height: 46px;
				align-self: flex-end;
				line-height: 100%;

				background: linear-gradient(69deg, #40d802 26.33%, #90d604 61%);
			}

			&__number {
				line-height: 80%;
				background: linear-gradient(69deg, #40d802 26.33%, #90d604 61%);
			}
		}
		&__preços {
			display: flex;
			flex-direction: column;

			&__preco-container {
				&__text {
					font-family: 'Simplon Oi';
					font-size: 1.68rem;
					font-style: normal;
					font-weight: 500;
					color: var(--banneroifibra-text-color);
				}
				&__number {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 14px;
					color: var(--banneroifibra-text-color);
					&__reais {
						font-family: 'Simplon Oi';
						font-size: 8.625rem;
						font-style: normal;
						font-weight: 500;
						line-height: 90%;
					}
					&__months {
						display: flex;
						flex-direction: column;
						align-items: center;
						font-family: 'Simplon Oi';

						font-style: normal;
						font-weight: 500;
						margin-left: -15px;
						&__text {
							font-size: 2.125rem;
						}
						&__centavos {
							font-size: 3.563rem;
						}
					}
				}
			}

			&__card {
				color: var(--banneroifibra-text-color);
				font-family: 'Simplon BP';
				font-size: 0.938rem;
				font-style: normal;
				font-weight: 500;
			}
		}
	}
	&__button {
		background: var(--banneroifibra-background-button);
		border-radius: 2.875em;
		padding: 16px 24px;
		margin-top: 4px;
		font-family: 'Simplon BP';
		font-weight: 600;
		font-size: 1em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		color: var(--banneroifibra-text-color-button);
		max-width: 434px;
		cursor: pointer;
		margin-top: 12px;
	}
	@media screen and (max-width: 768px) {
		&__title {
			font-size: 2.625rem;
			margin-bottom: 0px;
		}
		&__oferta {
			flex-direction: column;
			gap: 16px;
			&__megas {
				font-size: 4.438rem;
				max-width: 190px;
				flex-direction: row;
				align-items: flex-end;
				

				&__number {
					line-height: 80%;
				}

				&__text {
					font-size: 1.875rem;
					text-align: end;
				}
			}
			&__preços {
				flex-direction: row;
				flex-wrap: wrap;
				max-width: 336px;

				&__preco-container {
					display: flex;
					align-items: flex-end;
					&__text {
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						&__paragraph {
							font-size: 1.063rem;
						}
						&__reais {
							font-size: 1.875rem;
							line-height: 80%;
						}
					}
					&__number {
						&__reais {
							font-size: 5.375rem;
							line-height: 70%;
						}
						&__months {
							&__centavos {
								font-size: 2.563rem;
								line-height: 80%;
							}
							&__text {
								font-size: 1.438rem;
							}
						}
					}
				}

				&__card {
					margin-top: 12px;
					font-size: 0.75rem;
				}
			}
		}
		&__button {
			max-width: 246px;
			min-height: 56px;
		}
	}
	@media screen and (max-width: 414px) {
		&__title {
			font-size: 2.625rem;
		}
		&__oferta {
			// margin-bottom: 20px;
			&__megas {
				font-size: 3.875rem;
				max-width: 190px;
				display: flex;
				flex-direction: row;
				gap: 0rem;

				&__text {
					font-size: 1.4rem;
				}
			}
			&__preços {
				&__preco-container {
					&__text {
						&__paragraph {
							font-size: 1rem;
						}
						&__reais {
							font-size: 1.9rem;
						}
					}
					&__number {
						&__reais {
							font-size: 5.375rem;
						}
						&__months {
							margin-bottom: 3px;
							&__centavos {
								font-size: 2.5rem;
								line-height: 100%;
							}
							&__text {
								font-size: 1.25rem;
							}
						}
					}
				}
			}
		}
		&__button {
			margin-top: 30px;
			max-width: 100%;
		}
	}
}
