<section class="plansForCompanies__section home-section">
    <div class="width-container">
        <div class="plansForCompanies__flexbox">
            <div class="plansForCompanies__contentArea">
                <h2 class="plansForCompanies__title">
                    Quer internet fibra</br><b> ótica pra sua empresa?</b>
                </h2>
                <span class="plansForCompanies__subtitle">Temos planos especiais pra quem tem CNPJ.</span>
            </div>
            <div class="plansForCompanies__ctaArea">
                <a href="" class="plansForCompanies__cta home-cta">Quero internet pra empresa</a>
                <a href="" class="plansForCompanies__seePartners home-cta">Confira nossos parceiros</a>
            </div>
        </div>
    </div>
</section>