<section class="oi_expert_container" id="oi-expert">
  <div class="max_width_container">
    <div class="oi_expert_container_flex">
      <div class="oi_expert_img_txt_bt">
        <img src="../assets/images/logo-oi-expert.svg" alt="Logo do Oi Expert" title="Logo do Oi Expert" width="169" height="40" class="oi_expert_img_logo" loading="lazy" />
        <div class="oi_expert_texto">
          <h2 class="oi_expert_texto_primeiro_paragrafo">
            Quer descomplicar sua vida digital? Conte com a gente. ;)
          </h2>
          <p class="oi_expert_texto_paragrafo">
            Cliente Oi Fibra conta com o Oi Expert: especialistas pra te ajudar
            24h por dia com soluções de tecnologia.
          </p>
          <p class="oi_expert_texto_paragrafo">
            Com o Oi Expert, você tem acesso a assistência qualificada de
            especialistas pra tirar dúvidas sobre seus computadores, celulares,
            games, Smart TVs, roteadores Wi-Fi Mesh e muito mais.
          </p>
        </div>
        <div class="oi_expert_botoes">
          <a data-gtmButton="btn_section-oi-expert_mais-sobre-oi-expert" id="oi-expert-conheca" class="oi_expert_botao_conheca" href="https://www.oi.com.br/oiexpert/">Conheça o Oi Expert</a>
          <a data-gtmButton="btn_section-oi-expert_saibar-mais-sobre-o-serviço-de-oi-fibra-_saiba-mais" id="oi-expert-quero" class="oi_expert_botao_quero" href="https://oinovafibra.oi.com.br/fibra/s/?skipshopWindow=true">Quero Oi Fibra</a>
        </div>
      </div>
      <figure class="oi_expert_img_mobile">
        <img class="oi_expert_imagem" src="../assets/images/Oi_Expert_Mobile.webp" alt="Na foto, uma mulher com suéter vermelho está de pé enquanto sorri olhando para a tela de um tablet." title="Quer descomplicar sua vida digital? Conte com a gente | Oi Fibra" width="360" height="310" loading="lazy" />
      </figure>
      <figure class="oi_expert_img_desktop">
        <img class="oi_expert_imagem" src="../assets/images/Oi_Expert_Desktop.webp" alt="Na foto, uma mulher com suéter vermelho está de pé enquanto sorri olhando para a tela de um tablet." title="Quer descomplicar sua vida digital? Conte com a gente | Oi Fibra" width="636" height="660" loading="lazy" />
      </figure>
    </div>
  </div>
</section>