<section class="heroBanner__section home-section">
    <div class="width-container heroBanner__width-container">
        <img class="heroBanner__backgroundImage gray-when-contrast"
             src="assets/images/hero-banner/banner-hero-kv-main.webp" 
             alt="Programa Acampamento de Magia, Rio Connection e Betinho, conteúdos exclusivos do Globoplay."
             title="Conteúdos exclusivos do Globoplay, programa Acampamento de Magia, Rio Connection e Betinho." 
        >
        <div class="heroBanner__flexbox-top">
            <h1 class="heroBanner__topicTitle">
                internet <b>fibra ótica</b>
            </h1>
            <span class="heroBanner__title">
                Assine Oi Fibra <b>com Globoplay</b>
            </span>
            <h2 class="heroBanner__description">
                Planos de internet residencial Oi Fibra com até 1 Giga de velocidade.
            </h2>
            <div class="heroBanner__signFiberContainer">
                <span class="heroBanner__signFiberTitle">
                    Assine Oi Fibra com Globoplay por:
                </span>
                <span class="heroBanner__signFiberOffer">
                    <span class="heroBanner__signFiberVelocity">400 <b>MEGA</b></span>
                    <span class="heroBanner__signFiberPriceArea">
                        <span class="heroBanner__priceCifrao">
                            R$
                        </span>
                        <span class="heroBanner__priceIntValue">124</span>
                        <span class="heroBanner__decimalValueAndDeadlineArea">
                            <span class="heroBanner__decimalValue">,90</span>
                            <span class="heroBanner__deadline">/mês</span>
                        </span>
                    </span>
                </span>
                <span class="heroBanner__paymentInfo">
                    No cartão de crédito ou débito em conta
                </span>
                <a href="https://www.oi.com.br/internet" class="heroBanner__signFiberCTA home-cta dazzle-hover offer-btn">
                    <span>Consultar disponibilidade</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <path d="M14.9301 19.3201C14.7401 19.3201 14.5501 19.2501 14.4001 19.1001C14.1101 18.8101 14.1101 18.3301 14.4001 18.0401L19.9401 12.5001L14.4001 6.96012C14.1101 6.67012 14.1101 6.19012 14.4001 5.90012C14.6901 5.61012 15.1701 5.61012 15.4601 5.90012L21.5301 11.9701C21.8201 12.2601 21.8201 12.7401 21.5301 13.0301L15.4601 19.1001C15.3101 19.2501 15.1201 19.3201 14.9301 19.3201Z" fill="black"/>
                        <path d="M20.83 13.25H4C3.59 13.25 3.25 12.91 3.25 12.5C3.25 12.09 3.59 11.75 4 11.75H20.83C21.24 11.75 21.58 12.09 21.58 12.5C21.58 12.91 21.24 13.25 20.83 13.25Z" fill="black"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="heroBanner__flexbox-bottom">
            <div class="heroBanner__knowPlans">
                <span class="heroBanner__knowPlans__topicTitle">
                    internet <b>Oi Fibra</b>
                </span>
                <h2 class="heroBanner__knowPlans__title">
                    a internet ideal <b>pra sua casa</b>
                </h2>
                <span class="heroBanner__knowPlans__description">
                    Quer internet fibra ótica com qualidade e estabilidade 
                    pra toda a família?<br> Conheça nossos planos de internet 
                    residencial e assine já!
                </span>
                <a href="https://www.oi.com.br/internet" class="heroBanner__knowPlans__CTA home-cta dazzle-hover offer-btn">
                    <span>Conhecer os planos</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                        <path d="M14.9301 19.3201C14.7401 19.3201 14.5501 19.2501 14.4001 19.1001C14.1101 18.8101 14.1101 18.3301 14.4001 18.0401L19.9401 12.5001L14.4001 6.96012C14.1101 6.67012 14.1101 6.19012 14.4001 5.90012C14.6901 5.61012 15.1701 5.61012 15.4601 5.90012L21.5301 11.9701C21.8201 12.2601 21.8201 12.7401 21.5301 13.0301L15.4601 19.1001C15.3101 19.2501 15.1201 19.3201 14.9301 19.3201Z" fill="black"/>
                        <path d="M20.83 13.25H4C3.59 13.25 3.25 12.91 3.25 12.5C3.25 12.09 3.59 11.75 4 11.75H20.83C21.24 11.75 21.58 12.09 21.58 12.5C21.58 12.91 21.24 13.25 20.83 13.25Z" fill="black"/>
                    </svg>
                </a>
            </div>
            <ul class="heroBanner__benefitsArea">
                <li class="heroBanner__benefitCardItem">
                    <div class="heroBanner__benefitCard">
                        <img src="assets/images/hero-banner/icons/discount.svg" alt="Desconto.">
                        <h3 class="heroBanner__benefitCardDescription">
                            Planos<br /> a partir de <b>R$ 99,90 /mês</b>
                        </h3>
                    </div>
                </li>
                <li class="heroBanner__benefitCardItem">
                    <div class="heroBanner__benefitCard">
                        <img src="assets/images/hero-banner/icons/credit-card.svg" alt="Cartão de crédito.">
                        <h3 class="heroBanner__benefitCardDescription">
                            <b>Desconto</b> no cartão de crédito e no débito em conta
                        </h3>
                    </div>
                </li>
                <li class="heroBanner__benefitCardItem">
                    <div class="heroBanner__benefitCard">
                        <img src="assets/images/hero-banner/icons/wifi.svg" alt="Sinal de Wi-Fi.">
                        <h3 class="heroBanner__benefitCardDescription">
                            Modem <b>WiFi UP:</b> pra sua internet ir mais longe
                        </h3>
                    </div>
                </li>
                <li class="heroBanner__benefitCardItem">
                    <div class="heroBanner__benefitCard">
                        <img src="assets/images/hero-banner/icons/round-check.svg" alt="Check.">
                        <h3 class="heroBanner__benefitCardDescription">
                            Taxa de habilitação <b>incluída</b>
                        </h3>
                    </div>
                </li>
                <li class="heroBanner__benefitCardItem">
                    <div class="heroBanner__benefitCard">
                        <img src="assets/images/hero-banner/icons/money-send.svg" alt="Cifrão.">
                        <h3 class="heroBanner__benefitCardDescription">
                            Pague sua conta usando também <b>Pix ou boleto</b>
                        </h3>
                    </div>
                </li>
                <li class="heroBanner__benefitCardItem">
                    <div class="heroBanner__benefitCard">
                        <img src="assets/images/hero-banner/icons/gift.svg" alt="Presente.">
                        <h3 class="heroBanner__benefitCardDescription">
                            Aproveite <b>Oi Expert</b>, <b>Oi Notícias,</b> <b>Oi Livros </b>e  <span class="heroBanner__showWordOnlyDesktop"> muito</span> mais
                        </h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>