<section class="section_jatemoifibra" id="vantagens-fibra">
    <div class="jatemoifibra__container">
        <div class="max_width_container">
            <div class="jatemoifibra__content">
                <div class="jatemoifibra__image_icon_fibra">
                    <picture class="jatemoifibra__image_desktop">
                        <img id="jatemoifibra__icon_fibra" src="assets/images/icon-fibra.svg" width="80px" height="80px"
                            loading="lazy" alt="" />
                    </picture>
                </div>

                <div class="jatemoifibra__ofertas_fibra">
                    <h3 class="jatemoifibra__title">Já tem Oi Fibra?</h3>
                    <p class="jatemoifibra__confira_ofertas">Confira as ofertas que preparamos para você!</p>
                </div>
                <div class="jatemoifibra__ancoras">
                    <div class="jatemoifibra__cta ancora_whatsapp">
                        <a href="" class="jatemoifibra__ancora_text confira_whatsapp">Continue pelo WhatsApp</a>
                        <picture class="jatemoifibra__image_desktop">
                            <img id="jatemoifibra__icon_whatsapp" src="assets/images/icon-whatsapp-primary-light.svg"
                                width="24px" height="24px" loading="lazy" alt="" />
                        </picture>
                    </div>
                    <div class="jatemoifibra__cta ancora_minhaoi">
                        <a href="" class="jatemoifibra__ancora_text confira_minhaoi">Confira pelo Minha Oi</a>
                        <picture class="jatemoifibra__image_desktop">
                            <img id="jatemoifibra__icon_minhaoi" src="assets/images/icon-arrow-right.svg" width="24px"
                                height="24px" loading="lazy" alt="" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>