<section class="profitability_section">
	<div class="profitability_icon_text_content">
		<img
			alt="Ícone internet fibra"
			class="profitability_icon"
			height="76"
			loading="lazy"
			width="76"
			src="../assets/images/icon_fibra_correct.svg"
			data-src-dark="../assets/images/icone_fibra_correct_dark.svg"
		/>
		<div class="profitability_text_content">
			<h2 class="profitability_title">Já tem Oi Fibra?</h2>
			<span class="profitability_subtitle"
				>Confira as ofertas que preparamos pra você!</span
			>
		</div>
	</div>

	<div class="profitability_anchors_content">
		<a
			class="profitability_anchor"
			id="btn_confira_por_whatsapp"
			href="https://api.whatsapp.com/send?phone=553131313131&amp;campanha=%22Internetupveloc%22&amp;origem=%22Siteinternetbox%22&amp;text=Ola!%20Quero%20mudar%20o%20plano%20da%20minha%20internet."
			>Continue pelo WhatsApp
			<img
				alt="Ícone contato Whatsapp"
				class="profitability_btn_icon"
				height="24"
				loading="lazy"
				width="24"
				src="../assets/images/icon-whatsapp.svg"
				data-src-dark="../assets/images/icon-waths-dark.svg"
		/></a>
		<a
			class="profitability_anchor profitability_moi_anchor"
			id="btn_confira_pelo_minha_oi"
			href="https://minha.oi.com.br/minhaoi/vendas/turbine-internet?utm_source=site-internet-oi&amp;utm_medium=card-internet&amp;origem=site-internet-box"
		>
			Confira pelo Minha Oi
			<img
				alt="Seta direcionando para esquerda"
				class="profitability_btn_icon"
				height="24"
				loading="lazy"
				width="24"
				src="../assets/images/arrow-right.svg"
				data-src-dark="../assets/images/arrow-right-dark.svg"
		/></a>
	</div>
</section>
