.banner-274955 {
	height: 566px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__utils {
		&__text-neon {
			background: inherit;
			background-clip: text !important;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			position: relative;
			max-width: fit-content;
			&::before {
				content: attr(data-blur-content);
				position: absolute;
				background-image: inherit;
				background-clip: text;
				color: transparent;
				filter: blur(4px);
			}
		}
	}
}
