.banner-274955__oifibraxp {
	&__background {
		justify-content: center;
		position: relative;
		background-color: #00211f;
		font-family: 'Simplon BP';
		img {
			width: 100%;
			max-width: 1366px;
		}
	}

	&__titles-container {
		display: flex;
		flex-direction: column-reverse;
		gap: 9px;

		&__title {
			font-family: 'Simplon Oi';
			font-size: 2.5rem;
			font-weight: 500;
			color: var(--banneroifibra-text-color);
			margin-bottom: 4px;

			&__span {
				text-shadow: 0px 0px 11px rgba(112, 255, 132, 0.6);
				background: linear-gradient(69deg, #00f06e 26.33%, #b5ffbf 61%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		&__callout {
			font-family: 'Simplon BP'; //Simplon BP Medium
			font-size: 0.75rem;
			font-weight: 500px;
			color: var(--color-success-400);

			background-color: var(--color-success-100);
			border-radius: 999px;
			box-shadow: 0px 0px 10.9px 0px rgba(112, 255, 132, 0.3);
			// min-width: 165px;
			max-width: fit-content;
			height: 20px;
			padding: 2px 8px;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__details-container {
		display: flex;
		flex-direction: column;
		gap: 20px;

		&__offer {
			&__mobile {
				font-size: 0.875rem;
				font-weight: 700;
				line-height: 140%;
				color: var(--color-neutral-100);
				display: flex;
				flex-direction: column;
			}
			&__desktop {
				display: none;
			}
		}
		&__vector {
			display: none;
		}
		&__price {
			color: var(--color-neutral-100);
			font-weight: 500;
			display: flex;
			align-items: center;

			&__text {
				display: flex;
				flex-direction: column;
				font-size: 0.625rem;
				margin: 0px 4px 0px 4px;
				&__real {
					font-size: 1rem;
				}
			}
			&__value {
				display: flex;
				flex-direction: row;
				align-items: center;

				&__number {
					font-family: 'Simplon Oi';
					font-size: 38px;
				}
				&__per-month {
					display: flex;
					flex-direction: column;
					font-size: 0.875rem;

					&__cents {
						font-family: 'Simplon Oi';
					}
				}
			}
		}
	}
	&__button {
		width: 301px;
		height: 48px;
		border-radius: 48px;
		padding: 16px 24px;
		background-color: var(--color-secondary-300);

		display: flex;
		justify-content: center;
		align-items: center;

		font-family: 'Simplon BP';
		font-weight: 500;
		font-size: 1rem;
		color: var(--color-neutral-600);
		margin-top: 12px;
	}
}

@media screen and (min-width: 769px) {
	.banner-274955__oifibraxp {
		&__titles-container {
			flex-direction: column;
			gap: 14px;

			&__title {
				font-family: 'Simplon Oi';
				font-size: 3.75rem;
				font-weight: 500;
				color: var(--banneroifibra-text-color);
				margin-bottom: 4px;

				&__span {
					text-shadow: 0px 0px 11px rgba(112, 255, 132, 0.6);
					background: linear-gradient(69deg, #00f06e 26.33%, #b5ffbf 61%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			&__callout {
				font-size: 0.75rem;
				font-weight: 500px;
				color: var(--color-success-400);
				text-transform: uppercase;

				background-color: var(--color-success-100);
				border-radius: 999px;
				box-shadow: 0px 0px 10.9px 0px rgba(112, 255, 132, 0.3);
				padding-inline: 8px;
				height: 20px;
				padding: 2px 8px;
				text-wrap: nowrap;

				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&__details-container {
			margin-top: 24px;
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 1rem;
			color: var(--color-neutral-100);
			gap: 25px;

			&__offer {
				&__desktop {
					font-weight: 700;
					width: 172px;
					min-height: 84px;
					line-height: 140%;
					letter-spacing: 1px;
					color: var(--color-neutral-100);
					display: flex;
					flex-direction: column;
				}
				&__mobile {
					display: none;
				}
			}
			&__vector {
				display: block;
			}
			&__price {
				display: flex;
				flex-direction: column;
				font-weight: 500;
				margin-bottom: 7px;
				align-items: flex-start;

				&__text {
					font-size: 1rem;
					flex-direction: row;
					gap: 4px;
				}

				&__value {
					display: flex;

					&__number {
						font-family: 'Simplon Oi';
						font-size: 3.75rem;
						line-height: 100%;
					}

					&__per-month {
						display: flex;
						flex-direction: column;
						justify-content: center;
						margin-left: 6px;

						&__cents {
							font-size: 1.375rem;
						}
						&__month {
							font-size: 1rem;
						}
					}
				}
			}
		}

		&__button {
			width: 312px;
			height: 48px;
			border-radius: 999px;
			padding: 8px 12px;
			background-color: var(--color-secondary-300);

			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 28px;

			font-family: 'Simplon BP';
			font-weight: 500;
			font-size: 1rem;
			color: var(--color-neutral-600);
		}
	}
}
