<section class="section_faq" id="faq">
  <div class="faq__container">
    <div class="max_width_container">
      <div class="faq__all_container">
        <div class="faq__left_content">
          <div class="faq__title">
            <img
              id="faq__title_image"
              src="assets/images/icon-help.svg"
              alt="Ícone de dúvida"
              loading="lazy"
            />
            <h2>Tire suas dúvidas sobre os planos Oi Fibra</h2>
          </div>
        </div>
        <div class="faq__right_content">
          <div class="faq__duvidas">
            <details class="duvidas__details" open>
              <summary class="duvidas__header_summary">
                <h3>Internet fibra ótica: o que é e como funciona?</h3>
                <img
                  id="faq__title_image"
                  src="assets/images/new-icon-down-arrow.svg"
                  data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                  alt="Ícone de dúvida"
                  loading="lazy"
                />
              </summary>
              <div class="duvidas__content">
                <p>
                  A fibra ótica é um cabo fino e flexível usado pra transmitir
                  dados na velocidade da luz. Essa tecnologia permite oferecer
                  internet residencial de alta velocidade pros usuários.
                </p>
                <p>
                  O cabo de fibra ótica é composto por um filamento feito de
                  vidro que não sofre com interferências externas e nem grandes
                  perdas de sinais ao longo do trajeto. Por isso, o sinal da
                  internet fibra ótica é transmitido até a casa dos usuários com
                  mais velocidade e estabilidade.
                </p>
              </div>
            </details>
            <details class="duvidas__details">
              <summary class="duvidas__header_summary">
                <h3>Internet fibra ótica: quais são os benefícios?</h3>
                <img
                  id="faq__title_image"
                  src="assets/images/new-icon-down-arrow.svg"
                  data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                  alt="Ícone de dúvida"
                  loading="lazy"
                />
              </summary>
              <div class="duvidas__content">
                <p>
                  Oi Fibra é a internet da Oi que usa a fibra ótica pra oferecer
                  a melhor experiência de navegação pra você e sua família. Com
                  a conexão banda larga de alta velocidade, você assiste a
                  filmes e séries com alta qualidade de transmissão, joga online
                  com menos lag e faz download de arquivos pesados mais rápido.
                </p>
                <p>
                  Tudo isso é possível porque a tecnologia FTTH (Fiber To The
                  Home ou fibra para casa) leva o cabo da fibra até dentro da
                  casa dos usuários, garantindo sinal de internet com muito mais
                  estabilidade e velocidade.
                </p>
                <p>
                  Outras operadoras utilizam a tecnologia FTTC (Fiber to the
                  Curb), que leva a fibra até o poste na rua, seguindo até a
                  casa do usuário por meio de cabos convencionais.
                </p>
                <p>
                  Ao contratar os planos de internet Oi Fibra, você ganha acesso
                  ao plano Oi Play TV Básico, serviço de streaming da Oi pra
                  assistir filmes e séries, além de canais de TV ao vivo direto
                  pelo computador, celular ou tablet.
                </p>
                <p>
                  Clientes Oi Fibra a partir dos planos com velocidade de
                  internet de 400 Mega têm assistência do Oi Expert, com
                  especialistas 24h por dia pra te dar suporte com computadores,
                  celulares, Smart TV e roteadores Wi-Fi Mesh.
                </p>
              </div>
            </details>
            <details class="duvidas__details">
              <summary class="duvidas__header_summary">
                <h3>Como contratar a internet residencial Oi Fibra?</h3>
                <img
                  id="faq__title_image"
                  src="assets/images/new-icon-down-arrow.svg"
                  data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                  alt="Ícone de dúvida"
                  loading="lazy"
                />
              </summary>
              <div class="duvidas__content">
                <p>
                  Pra contratar a internet residencial Oi Fibra, você deve
                  conferir na página de Oi Fibra a disponibilidade dos nossos
                  planos pra sua região. Você contrata pelo telefone 0800 031
                  0453 ou pelo nosso chat de vendas, de segunda a sábado, das 7h
                  às 22h, e aos domingos, das 7h às 19h (horário de Brasília),
                  exceto feriados.
                </p>
                <p>
                  Se preferir, você também pode
                  <a href="">contratar pelo WhatsApp</a> .
                </p>
                <p>
                  Se Oi Fibra ainda não chegou à sua região, você pode deixar
                  seu contato que a gente te avisa assim que chegar.
                </p>
              </div>
            </details>
            <details class="duvidas__details">
              <summary class="duvidas__header_summary">
                <h3>Como é feita a instalação da Internet Oi Fibra?</h3>
                <img
                  id="faq__title_image"
                  src="assets/images/new-icon-down-arrow.svg"
                  data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                  alt="Ícone de dúvida"
                  loading="lazy"
                />
              </summary>
              <div class="duvidas__content">
                <p>
                  O plano de negócios é customizado por parceiro. Solicite uma
                  reunião para pensarmos em conjunto o seu plano.
                </p>
              </div>
            </details>
            <details class="duvidas__details">
              <summary class="duvidas__header_summary">
                <h3>
                  Velocidade de internet: qual é o melhor plano de internet pra
                  minha casa?
                </h3>
                <img
                  id="faq__title_image"
                  src="assets/images/new-icon-down-arrow.svg"
                  data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                  alt="Ícone de dúvida"
                  loading="lazy"
                />
              </summary>
              <div class="duvidas__content">
                <p>
                  Oi Fibra 200 Mega é ideal pra conectar vários dispositivos ao
                  mesmo tempo, assistir filmes e séries, trabalhar ou estudar de
                  casa com qualidade de sinal.
                </p>
                <p>
                  Oi Fibra 400 Mega ou 500 Mega é indicado pra quem adora
                  assistir filmes e maratonar séries online sem travar,
                  trabalhar e estudar ao mesmo tempo com velocidade e
                  estabilidade.
                </p>
                <p>
                  Oi Fibra 1 Giga é internet perfeita pra gamers! O plano tem
                  muita velocidade de download e upload (1 Giga tem 1.000 mega),
                  com ping baixo e sinal estável pra jogar sem lag.
                </p>
                <p>
                  Consulte a cobertura de Oi Fibra na sua região no site de Oi
                  Fibra e escolha o plano ideal para você!
                </p>
              </div>
            </details>

            <div
              id="duvidas__details_hide"
              style="display: none"
              class="duvidas__details_mostrarMais"
            >
              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>
                    Todos os planos de internet da Oi têm o roteador WiFi?
                  </h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Sim. Os planos Oi Internet oferecem o roteador WiFi UP, que
                    permite levar o sinal de internet pra casa toda e conectar
                    vários dispositivos ao mesmo tempo! Toda a família pode usar
                    Wi-Fi pra ver vídeos, fazer downloads, jogar online e
                    acessar redes sociais.
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>
                    Instalação Oi Fibra: como é feita a instalação da internet
                    residencial da Oi?
                  </h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Ao assinar um dos nossos planos de internet fixa, é preciso
                    agendar a visita técnica na sua casa pra fazer a instalação
                    da Oi Fibra.
                  </p>
                  <p>
                    No dia e horário marcados por você, vamos chegar ao seu
                    endereço e avaliar as necessidades técnicas pra instalar a
                    internet residencial.
                  </p>
                  <p>
                    Diferentemente da conexão de outras operadoras, nossa
                    internet fibra leva o cabo até dentro da sua residência, não
                    importando se você mora em uma casa ou apartamento. Isso
                    permite que o sinal da banda larga que você recebe seja mais
                    estável, sem perdas ou oscilações na velocidade.
                  </p>
                  <p>
                    Além do cabo da fibra ótica, também vamos instalar um
                    equipamento na sua casa, o modem WiFi UP. Com esse aparelho,
                    você poderá se conectar à internet Oi usando um cabo de rede
                    ou a conexão Wi-Fi, sem fio.
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>O que são as velocidades de upload e download?</h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Toda vez que você está assistindo a um filme ou baixando um
                    arquivo, está na verdade fazendo o download de dados da
                    internet para o seu computador ou celular.
                  </p>
                  <p>
                    A velocidade de download do seu plano de internet
                    residencial se refere justamente à rapidez com que você
                    conseguirá baixar informações. Quanto maior a velocidade,
                    mais rápido você vai navegar e fazer o download de arquivos.
                  </p>
                  <p>
                    Enquanto a velocidade de download mede a rapidez com que a
                    sua internet residencial baixa informações, a velocidade de
                    upload mede o contrário: a rapidez com que seu computador
                    envia dados pra internet.
                  </p>
                  <p>
                    A velocidade de upload é importante para postar fotos e
                    vídeos em suas redes sociais mais rápido. Nossa internet
                    fibra ótica pode atingir altas velocidades de download e
                    upload.
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>
                    Quais são os planos disponíveis de internet residencial Oi
                    Fibra?
                  </h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Oi Fibra disponibiliza diversos planos de internet com
                    velocidades que vão até 1 Giga. Consulte a disponibilidade
                    de internet no seu CEP.
                  </p>
                  <p>
                    <strong>Oi Fibra 400 Mega</strong>: download de 400 Mega e
                    upload de 200 Mega.
                  </p>
                  <p>
                    <strong>Oi Fibra 500 Mega</strong>: download de 500 Mega e
                    upload de 250 Mega.
                  </p>
                  <p>
                    <strong>Oi Fibra 1 Giga</strong>: download de 1 Giga e
                    upload de 500 Mega.
                  </p>
                  <p>
                    As velocidades da internet fibra ótica podem variar de
                    acordo com a taxa de uso da rede.
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>
                    Tudo o que precisa saber sobre o plano Oi Fibra 400 Mega
                  </h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Com o plano de internet fixa Oi Fibra 400 Mega você tem 400
                    mega de velocidade de download e 200 mega de velocidade de
                    upload. Com a velocidade da internet da Oi você pode
                    assistir filmes online com qualidade de imagem e de som
                    Ultra HD (4K), enviar e baixar vários arquivos ao mesmo
                    tempo e fazer videochamadas com velocidade e estabilidade.
                    Tudo isso graças à tecnologia da internet fibra ótica.
                  </p>
                  <p>
                    Ao assinar o plano de 200 Mega, você também leva o potente
                    roteador WiFi UP, que distribui a internet pra casa toda.
                    Além disso, você também conta com outros benefícios, como
                    instalação grátis; acesso ao Oi Play Básico e ao Oi Expert
                    Remoto, pra te ajudar com problemas de tecnologia, tirar
                    dúvidas e fazer diagnósticos.
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>
                    Oi Fibra: como consultar disponibilidade de internet por
                    CEP?
                  </h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Aqui no site da Oi Fibra, clique no botão “Consultar
                    disponibilidade”; informe o seu CEP, o número da sua
                    residência, o seu nome e o seu celular. Com essas
                    informações, você consegue consultar a cobertura e
                    disponibilidade de internet no por CEP e descobrir os planos
                    disponíveis na sua região.
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>
                    Não tem disponibilidade de internet no meu CEP, o que fazer?
                  </h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Estamos sempre trabalhando pra expandir a cobertura da Oi
                    Fibra por todo o país. Aqui no site da Oi Fibra, clique no
                    botão “Consultar disponibilidade”. Depois, informe o seu
                    CEP, o número da sua residência, o seu nome e o seu celular.
                    Se ainda não tiver a internet da Oi no seu endereço, você
                    pode deixar seu contato que te avisaremos por WhatsApp assim
                    que ela chegar!
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>O que é o roteador WiFi UP?</h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    Quem assina um plano de internet para residência Oi Fibra
                    leva também o roteador WiFi UP. O aparelho leva internet pra
                    casa toda e consegue conectar seu computador, celular, Smart
                    TV ou videogame por meio da rede WiFi.
                  </p>
                  <p>
                    O modem WiFi UP, superpotente, disponibiliza conexão por
                    WiFi em duas redes: 2,4 GHz e 5 GHz.
                  </p>
                  <p>
                    A frequência de rede 5 GHz é a mais veloz, mas o sinal de
                    WiFi não chega aos lugares mais distantes da casa. Já a
                    frequência 2,4 GHz tem alcance maior, chega a vários lugares
                    da sua residência, mas a velocidade é menor.
                  </p>
                  <p>
                    Todos os nossos planos de internet para residência Oi Fibra
                    já vêm com WiFi. Se a sua casa tem mais de 100 metros
                    quadrados ou outros andares, talvez seja preciso usar uma
                    rede Mesh pra ampliar a cobertura do WiFi.
                  </p>
                  <p>
                    Nossos especialistas selecionaram várias opções de aparelhos
                    pra você criar uma rede internet WiFi Mesh em casa e
                    aproveitar toda a velocidade da nossa internet residencial.
                    Acesse o Oi Place pra saber mais.
                  </p>
                </div>
              </details>

              <details class="duvidas__details">
                <summary class="duvidas__header_summary">
                  <h3>Planos de internet Oi vêm com telefone fixo?</h3>
                  <img
                    id="faq__title_image"
                    src="assets/images/new-icon-down-arrow.svg"
                    data-src-dark="assets/images/new-icon-down-arrow-dark.svg"
                    alt="Ícone de dúvida"
                    loading="lazy"
                  />
                </summary>
                <div class="duvidas__content">
                  <p>
                    As ofertas de internet fibra ótica nesta página são
                    exclusivas de internet residencial Oi Fibra. Pra contratar
                    internet banda larga Oi Fibra com telefone fixo, entre em
                    contato conosco através do telefone 0800 031 0453.
                  </p>
                  <p>
                    O atendimento funciona de segunda a sábado, das 7h às 22h, e
                    aos domingos, das 7h às 19h (horário de Brasília), exceto
                    feriados.
                  </p>
                  <p>
                    Confira as velocidades disponíveis em nossos planos de banda
                    larga com fixo.
                  </p>
                </div>
              </details>
            </div>
          </div>
          <button
            data-gtmButton="btn_duvidas-ver-mais-duvidas"
            id="btnMais"
            class="faq__button_maisDuvidas"
            onclick="mostarDuvidasFaq()"
          >
            <p id="textoButDuvidas">Ver mais dúvidas</p>
            <img
              id="mostrarMais__button_image"
              src="assets/images/new-icon-chevron-down.svg"
              data-src-dark="assets/images/new-icon-chevron-down-dark.svg"
              width="24px"
              height="24px"
              loading="lazy"
              alt=""
              style="transform: rotate(0deg)"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function mostarDuvidasFaq() {
    const displayDuvidas = document.getElementById("duvidas__details_hide");
    const setaOi = document.getElementById("mostrarMais__button_image");
    const btnDuvida = document.getElementById("textoButDuvidas");

    if (displayDuvidas.style.display === "none") {
      displayDuvidas.style.display = "block";
      setaOi.style.transform = "rotate(180deg)";
      setaOi.style.transition = "all 0.5s";
      btnDuvida.innerHTML = "Ver menos dúvidas";
    } else {
      displayDuvidas.style.display = "none";
      setaOi.style.transform = "rotate(0deg)";
      setaOi.style.transition = "all 0.5s";
      btnDuvida.innerHTML = "Ver mais dúvidas";
    }
  }
</script>
