<button
  class="cttbtn_whatsappBtn"
  onclick="changeWhatsappModalState(this)"
  data-gtmButton="contato_float_button"
  accesskey="w"
  id="modal-button-id"
>
  <img
    src="assets\images\icon-whatsapp-primary-light.svg"
    alt="whatsapp icon"
    loading="lazy"
  />
</button>

<div class="cttbtn_externalContainer" id="cttbtn_externalContainer">
  <div
    onclick="changeWhatsappModalState(this)"
    class="cttbtn_exitmask"
    id="cttbtn_exitmask"
  ></div>

  <div class="cttbtn_cardButtons" id="cttbtn_cardButtons">
    <div class="ctttn_closeButton">
      <button
        data-focusedScreen="cttbtn_main"
        class="cttbtn_tabeable"
        onclick="changeWhatsappModalState(this)"
      >
        &#x2715;
      </button>
    </div>

    <!-- main screen -->
    <div class="cttbtn_defaultCardButton cttbtn_mainScreen">
      @@include("./store/_mainScreen.html")
    </div>

    <!-- chat bot -->
    <div class="cttbtn_defaultCardButton renderComponent_chatBot">
      @@include("./store/_chatbot.html")
    </div>

    <!-- phone -->
    <div class="cttbtn_defaultCardButton renderComponent_phonebtn">
      @@include("./store/_phone.html")
    </div>
  </div>
</div>

<!-- <script defer src="scripts/utils/BrasilStates/index.js"></script> -->
