<section class="section_oi_e">
  <div class="max_width_container">
    <div class="oi_e_container">
      <figure class="oi_e_img_left">
        <img
          src="../assets/images/mockup-mao-oi.png"
          width="448px"
          height="500px"
          alt="A imagem mostra uma mão segurando a tela do aplicativo Oie envolta numa auréola verde."
          title="App Oie com Internet residencial | Oi Fibra"
          loading="lazy"
        />
      </figure>
      <div class="oi_e_content">
        <figure class="oi_e_content_logo">
          <img
            src="../assets/images/logotipo-oi-e.png"
            width="65px"
            height="40px"
            alt="A imagem mostra a logo Oie"
            title="Logo do Oie"
            loading="lazy"
          />
        </figure>
        <span class="oi_e_content_span"
          >Conheça o app Oi_e: atendimento e suporte técnico Oi Fibra</span
        >
        <p class="oi_e_content_p">
          Depois de garantir sua Oi Fibra, você pode gerenciar sua conta e
          outras informações pelo nosso aplicativo Oi_e. Tenha suporte também
          pela Joice, nossa inteligência artificial, no WhatsApp
          <b>31 3131-3131.</b>
        </p>
        <div id="oi-e-store-mobile" class="oi_e_anchor_container_mobile">
          <a
          data-gtmButton="btn_apple_store_oi_e"
          class="oi_e_anchor" 
          href="https://oifibra.page.link/home"
            ><img
              src="../assets/images/app-store.png"
              width="148px"
              height="56px"
              alt="Ícone app store"
              title="Ícone app store"
              loading="lazy"
            />
          </a>
          <a
            data-gtmButton="btn_google_play-oi_e"
            id ="oi-e-google-play-mobile" 
            class="oi_e_anchor" 
            href="https://oifibra.page.link/home"
            ><img
              src="../assets/images/google-play.png"
              width="148px"
              height="56px"
              alt="Ícone play store"
              title="Ícone play store"
              loading="lazy"
            />
          </a>
        </div>
        <div id="oi-e-store-desktop" class="oi_e_anchor_container_desktop">
          <a
            data-gtmButton="btn_apple_store_oi_e"
            class="oi_e_anchor"
            href="https://apps.apple.com/br/app/oi-e/id1532420580"
            ><img
              src="../assets/images/app-store-desktop.png"
              width="162px"
              height="56px"
              alt="Ícone app store"
              title="Ícone app store"
              loading="lazy"
          /></a>
          <a
            data-gtmButton="btn_google_play-oi_e"
            id="oi-e-google-play-desktop"
            class="oi_e_anchor"
            href="https://play.google.com/store/apps/details?id=br.com.oi.minhafibra"
            ><img
              src="../assets/images/google-play-desktop.png"
              width="162px"
              height="56px"
              alt="Ícone play store"
              title="Ícone play store"
              loading="lazy"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
