<section class="oiSolutions__section home-section">
    <div class="width-container-for-carousel">
        <div class="oiSolutions__flexbox">
            <div class="oiSolutions__topPartContainer">
                <div class="oiSolutions__topIcons">
                    <img src="assets/images/solucoes-oi/icons/user-support.svg" alt="Profissional de suporte técnico.">
                    <img src="assets/images/solucoes-oi/icons/lamp-charging.svg" alt="Lâmpada.">
                    <img src="assets/images/solucoes-oi/icons/internet-normal-fiber.svg" alt="Cabo de fibra ótica.">
                    <img src="assets/images/solucoes-oi/icons/device-responsive.svg" alt="Computador desktop e celular.">
                </div>
                <h2 class="oiSolutions__title">
                    <span>soluções pro </span> <b>seu dia a dia</b>
                </h2>
                <span class="oiSolutions__subtitle">
                    Saiba como a Oi pode facilitar sua vida. 
                    São soluções pra sua casa e também 
                    pra sua empresa.
                </span>
            </div>

            <div class="oiSolutions__carousel-wrapper">
                <div class="oiSolutions__card">
                    <img class="oiSolutions__cardBackground gray-when-contrast" 
                        src="assets/images/solucoes-oi/oi-saude-background.webp"
                        alt="Profissional de saúde em atendimento remoto."
                    >
                    <div class="oiSolutions__cardContent">
                        <img class="oiSolutions__cardContentIcon"
                            src="assets/images/solucoes-oi/icons/oi-saude-logo.svg"
                            data-src-dark="assets/images/solucoes-oi/icons/oi-saude-logo-white.svg"
                            alt="Oi Saúde."
                        />
                        <span class="oiSolutions__cardContentDescription">
                            Experimente mais bem-estar e saúde com consultas online 24h por dia</br> e mais serviços 
                        </span>
                        <a href="#" class="oiSolutions__cardContentCTA signStreaming__oiSaudeCTA home-cta dazzle-hover">
                            <span>conhecer o Oi Saúde</span>
                           <img 
                            title="Saiba mais sobre o Oi Saúde."
                            src="assets/images/solucoes-oi/icons/arrow-right-oi-saude.svg"
                            data-src-dark="assets/images/solucoes-oi/icons/green-arrow-right.svg"
                           >
                        </a>
                    </div>
                </div>
                <div class="oiSolutions__card">
                    <img class="oiSolutions__cardBackground gray-when-contrast" 
                        src="assets/images/solucoes-oi/oi-energia-background.webp"
                        alt="Placas de captação de energia solar."
                    >
                    <div class="oiSolutions__cardContent">
                        <img class="oiSolutions__cardContentIcon"
                            src="assets/images/solucoes-oi/icons/oi-energia-logo.svg"
                            data-src-dark="assets/images/solucoes-oi/icons/oi-energia-logo-white.svg"
                            alt="Oi Energia."
                        />
                        <span class="oiSolutions__cardContentDescription">
                            Ganhe desconto na conta de luz da sua casa ou empresa todo mês e ajude o meio ambiente
                        </span>
                        <a href="#" class="oiSolutions__cardContentCTA signStreaming__oiEnergiaCTA home-cta dazzle-hover">
                            <span>conhecer o Oi Energia</span>
                           <img 
                            title="Conheça o Oi Energia."
                            src="assets/images/solucoes-oi/icons/arrow-right-oi-energia.svg"
                            data-src-dark="assets/images/solucoes-oi/icons/green-arrow-right.svg"
                           >
                        </a>
                    </div>
                </div>
            </div>
            <div class="oiSolutions__dotsContainer"></div>
        </div>
    </div>
</section>