.section_header_top {
	border-bottom: 1px solid #dbdbdb;
}

.section_header_top_acessibility_hidden {
	display: flex;
	height: 0;
	overflow-y: hidden;
	align-items: center;
	color: #1f1f1f;

	&:focus-within {
		height: 1.5rem;
		border-bottom: 1px solid #dbdbdb;
		font-weight: 400;
		align-items: center;
		font-size: 0.56rem;
	}
}

.header_top {
	display: flex;
	margin: 10px 0;
	justify-content: center;
	align-items: center;
}

.header_top > a,
.header_top_accessibility > a,
.header_top_accessibility > button {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 16px;
	color: var(--header-acessibility);
}

.header_top > a {
	display: none;
}

.header_top_accessibility {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

	a {
		border-right: 1px solid #dbdbdb;
		padding-right: 16px;
	}

	button {
		width: 20px;
		padding: 0;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	

	// :nth-child(2),
	// :nth-child(3) {
	// 	margin-left: 16px;
	// }
}

.header_top_accessibility > button,
.header_middle_button > button,
.header-modal_li_buttons {
	background: none;
	border: none;
}

//estilos modal
.header-modal_city_modal,
.header-modal_search_bar > input,
.max_width_container > li {
	background-color: #00ab0f;
}

.header-modal_city_modal {
	position: fixed;
	inset: 0;
	height: 100%;
	color: white;
}

.header-modal_search_bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #8cc272de;
}

.button_accessibility_fontsize {
	background-color: red;
	padding: 5px;
}

.elUl {
	padding: 8px 0;
	padding-bottom: 250px;
	list-style: none;
	gap: 16px;
	&:hover {
		color: #8cc272de;
		opacity: 0.9;
	}

	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100% - 86px);
}

.header-modal_input-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 68.48px;
}

.header-modal_input-content > input {
	width: 100%;
	font-family: 'Simplon Oi';
	font-size: 0.938rem;
	padding-right: 6px;
	background: none;
	border: none;
	font-size: 1.563rem;
	color: white;
	&:focus {
		outline: none;
	}
	&::-webkit-search-cancel-button {
		display: none;
	}
	&::placeholder {
		color: #7ed586;
		font-weight: 500;
	}
}

.header-modal_input-content > button {
	background: none;
	padding: 6px 0 6px 12px;
	font-family: 'Simplon Oi';
	height: 2.5rem;
	font-size: 0.938rem;
	color: #ffffff;
	border-right: none;
	border-bottom: none;
	border-top: none;
	border-left: 1px solid #8cc272de;
}

.max_width_container > li {
	padding: 8px 0;
	cursor: pointer;
	list-style: none;
	width: 100%;

	&:hover {
		color: white;
	}
}

.header-modal_li_buttons {
	color: inherit;
	opacity: 0.9;
	font-size: 1.563rem;
	font-weight: 500;
	width: 100%;
	text-align: left;

	&:hover {
		color: white;
	}
}
//fim modal

.section_header_middle {
	border-bottom: 2px solid #00d318;
}

.header_middle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.header_middle_button {
	margin-right: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

#changeLocalization {
	&:hover {
		text-decoration: underline;
		text-decoration-color: black;
	}
}

.header_middle_button > span {
	display: none;
	color: var(--header-middle-button);
	font-weight: 400;
	font-size: 1rem;
	line-height: 150%;
}

.img-dropdown-mobile {
	height: 100%;
	cursor: pointer;
}

.header_middle_button > a {
	display: none;
	background-color: #fbd84b;
	padding: 12px 24px;
	color: #1f1f1f;
	font-weight: 500;
	font-size: 1rem;
	line-height: 150%;
	border-radius: 999px;
}

.header_middle {
	height: 80px;
}

.header_middle_button > button {
	color: var(--header-middle-button);
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 0.75rem;
	line-height: 24px;

	position: relative;

	// drop icon (V)
	&::after {
		position: absolute;
		inset: 4px -1rem 0 auto;
		content: '';
		width: 8px;
		height: 8px;
		border-width: 0 2px 2px 0;
		border-style: solid;
		border-color: #00a300;
		transform: rotate(45deg);
	}
}

.img-dropdown-desktop {
	display: none;
}

.header_bottom {
	background-color: var(--header-bottom-background);
	padding: 24px 0;
}

.header_bottom_anchors_img {
	display: flex;
	justify-content: space-between;
}

.header_bottom_anchors_img > button {
	display: flex;
	background: none;
	border: none;
	gap: 9px;
}

.header_bottom_anchors_img > ul > li {
	display: inline-block;
	font-weight: 400;
	font-size: 1rem;
	line-height: 24px;
	cursor: pointer;
}

#oi-play-id {
	display: none;
}

#beneficios-id {
	display: none;
}

.header_bottom_anchor {
	text-decoration: none;
	color: #ffffff;
}

#oi-fibra-id {
	font-weight: 700;
}

// #header-bottom-anchor-oi-fibra {
// }

#header_bottom_span {
	display: none;
	font-weight: 500;
	font-size: 1rem;
	line-height: 150%;
	color: #00a300;
}

.header_anchor_acessibility {
	display: flex;
	justify-content: space-between;

	a {
		color: #282828;
	}
}

@media screen and (min-width: 768px) {
	//modal
	.header-modal_li_buttons,
	.header-modal_input-content > input {
		font-size: 2.563rem;
	}

	.header-modal_search_bar {
		height: 88px;
	}

	.header-modal_input-content > button {
		font-size: 1.375rem;
	}

	.header-modal_li_buttons {
		font-family: 'Simplon Oi';
	}

	//

	.section_header_top_acessibility_hidden {
		&:focus-within {
			font-size: 0.875rem;
		}
	}

	.header_anchor_acessibility {
		display: flex;
		justify-content: flex-start;
		gap: 35px;
	}

	.header_top {
		display: flex;
		justify-content: space-between;
		margin: 8px 0;
	}

	.header_top > a,
	.header_top_accessibility > a,
	.header_top_accessibility > button {
		height: 20px;
		font-size: 0.875rem;
		line-height: 140%;
	}

	.header_top > a {
		display: block;
	}

	#header_bottom_span {
		display: block;
		&:active {
			font-weight: 700;
		}
	}

	.header_middle_button {
		font-weight: 400;
		font-size: 1rem;
		line-height: 150%;
		gap: 4px;
	}

	.header_middle_button > span {
		display: flex;
		align-items: center;
	}

	.header_middle_button_p,
	.header_middle_button > button {
		height: 24px;
	}

	.header_middle_button > button {
		gap: 4px;
		font-weight: 500;
		font-size: 1rem;
		color: #00a300;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		border: none;
	}

	.header_middle_button > a {
		display: block;
		margin-left: 40px;
	}
	.header_bottom_anchors_img > ul > li {
		margin-right: 16px;
		line-height: 150%;
	}

	#oi-play-id {
		display: inline-block;
	}

	#beneficios-id {
		display: inline-block;
	}

	.header_bottom {
		padding: 16px 0;
		max-height: 56px;
	}

	.header_bottom_anchor {
		font-weight: 400;
		font-size: 1rem;
		line-height: 150%;
	}
}

@media screen and (min-width: 1364px) {
	.elUl {
		margin: 8px auto;
	}
}
