<section class="cookies_bar_section">
  <div class="max_width_container">
    <div class="cookies_bar_container">
        <p class="cookies_bar_paragraph">
          Usamos cookies pra melhorar sua navegação. Leia nossa
          <a class="cookies_bar_anchor" href="https://www.oi.com.br/portal-de-privacidade/" target="_blank"
            >Política de Privacidade</a>.
        </p>
        <button onclick="fecharCookies()" id="cookies_bar_botao_entrar" class="cookies_bar_botao_entendi">Entendi</button>
    </div>
  </div>
</section>
<script src="../scripts/components/cookiesBar.js"></script>
  
