<footer class="footer_fibra_container" id="footer-fibra">
  <div class="max_width_container">
    <div class="footer_fibra_container_flex">
      <div class="footer_fibra_container_logo_links">
        <a href="https://www.oi.com.br/internet/" aria-label=""
          ><img
            class="footer_fibra_logo"
            src="../assets/images/logo-oi-verde.svg"
            alt="Logo verde da Oi"
            title="Logo da Oi"
            width="39"
            height="32"
            loading="lazy"
        /></a>
        <div class="footer_fibra_links">
          <ul class="footer_fibra_links_list">
            <li class="footer_fibra_links_list_item">
              <a
                class="footer_fibra_ancora_list"
                href="https://www.oi.com.br/internet"
                aria-label="Tem Oi Fibra pra você aqui neste link"
                >Oi Fibra</a
              >
            </li>
            <li class="footer_fibra_links_list_item">
              <a
                class="footer_fibra_ancora_list"
                href="https://www.oi.com.br/internet/oi-play"
                aria-label="Tem Oi Play pra você aqui neste link."
                >Oi Play</a
              >
            </li>
            <li class="footer_fibra_links_list_item">
              <a
                class="footer_fibra_ancora_list"
                href="https://www.oi.com.br/internet/beneficios"
                aria-label="Acesse e fique por dentro dos benefícios Oi Fibra."
                >Benefícios</a
              >
            </li>
          </ul>
        </div>

        <div class="footer_fibra_apps">
          <p class="footer_fibra_apps_paragrafo">Baixe o app Oi_e:</p>
          <div class="footer_fibra_apps_mobile">
            <a class="footer_fibra_ancora" href="https://oifibra.page.link/home"
              ><img
                src="../assets/images/app-store-mobile.png"
                target="_blank"
                alt="Ícone app store"
                title="Ícone app store"
                width="110"
                height="40"
                loading="lazy"
              />
            </a>
            <a
              class="footer_fibra_ancora"
              href="https://oifibra.page.link/home"
              target="_blank"
              ><img
                src="../assets/images/google-play-mobile.png"
                alt="Ícone play store"
                title="Ícone play store"
                width="110"
                height="40"
                loading="lazy"
              />
            </a>
          </div>
          <div class="footer_fibra_apps_desktop">
            <a
              class="footer_fibra_ancora"
              href="https://apps.apple.com/br/app/oi-e/id1532420580"
              target="_blank"
              ><img
                src="../assets/images/app-store-desktop.png"
                alt="Ícone app store"
                title="Ícone app store"
                width="111"
                height="40"
                loading="lazy"
              />
            </a>
            <a
              class="footer_fibra_ancora"
              href="https://play.google.com/store/apps/details?id=br.com.oi.minhafibra"
              target="_blank"
              ><img
                src="../assets/images/google-play-desktop.png"
                alt="Ícone play store"
                title="Ícone play store"
                width="111"
                height="40"
                loading="lazy"
              />
            </a>
          </div>
        </div>

        <div class="footer_fibra_social_media">
          <ul class="footer_fibra_social_list">
            <li class="footer_fibra_social_list_item">
              <a
                class="footer_fibra_ancora_social"
                href="https://www.oi.com.br/"
              >
                Ir para o site da Oi
              </a>
            </li>
            <li class="footer_fibra_social_list_item">
              <a
                class="footer_fibra_ancora_social"
                href="https://www.facebook.com/OiOficial/"
                target="_blank"

              >
                <img
                  class="footer_fibra_icon_social"
                  src="../assets/images/Logo_ Facebook.svg"
                  alt="Logo do Facebook."
                  title="Acesse o Facebook da Oi."
                  width="24"
                  height="24"
                  loading="lazy"
              /></a>
            </li>
            <li class="footer_fibra_social_list_item">
              <a
                class="footer_fibra_ancora_social"
                href="https://twitter.com/oi_oficial"
                target="_blank"

              >
                <img
                  class="footer_fibra_icon_social"
                  src="../assets/images/Logo_ Twitter.svg"
                  alt="Logo do Twitter."
                  title="Ícone que representa a rede social Twitter."
                  width="24"
                  height="24"
                  loading="lazy"
              /></a>
            </li>
            <li class="footer_fibra_social_list_item">
              <a
                class="footer_fibra_ancora_social"
                href="https://www.youtube.com/user/oi/"
                target="_blank"

              >
                <img
                  class="footer_fibra_icon_social"
                  src="../assets/images/Logo_ YouTube.svg"
                  alt="Logo do Youtube."
                  title="Veja o canal da Oi no Youtube."
                  width="24"
                  height="24"
                  loading="lazy"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_fibra_container_regulamentos">
        <p class="footer_fibra_primeiro_paragrafo">
          A Oi, dentro das determinações legais e normativas aplicáveis, poderá
          suspender ou cancelar, imediatamente, os benefícios desta oferta, caso
          constate utilização fraudulenta e/ou indevida dos mesmos. Para mais
          informações,
          <a
            class="footer_fibra_ancora_paragrafo"
            href="https://www.oi.com.br/internet/regulamento"
            aria-label="contrato e regras das ofertas"
            >consulte o contrato e regras das ofertas</a
          >
        </p>
        <p class="footer_fibra_paragrafo">
          Precisa de um fixo? Conheça nossos
          <a
            class="footer_fibra_ancora_paragrafo"
            href="https://www.oi.com.br/internet/plano-de-internet-com-telefone-fixo"
            aria-label="Planos de Banda Larga com Fixo."
          >
            Planos de Banda Larga com Fixo</a
          >
        </p>
        <p class="footer_fibra_paragrafo">
          Caso queira comprar apenas o Fixo, conheça nosso
          <a
            class="footer_fibra_ancora_paragrafo"
            href="https://www.oi.com.br/fixo"
            aria-label="Plano Fixo"
            >Plano Fixo</a
          >
        </p>
        <a
          class="footer_fibra_ancora_paragrafo"
          href="https://www.oi.com.br/oi/sobre-a-oi/regulamentacao/informacoes/planos-de-servicos-vigor/oi-velox"
          aria-label=""
          >Lista de Ofertas Banda Larga</a
        >
      </div>
    </div>
  </div>
</footer>

<script defer src="scripts/components/footerfibra.js"></script>
