<section class="section_vantagens_fibra" id="vantagens-fibra">
  <div class="vantagensFibra__container">
    <picture class="vantagensFibra__image_mobile">
      <img
        id="vantagensFibra__title_image_mobile"
        src="assets/images/saiba-mais-pai-filha-mobile.png"
        alt=""
      />
    </picture>
    <div class="max_width_container">
      <div class="vantagensFibra__content">
        <picture class="vantagensFibra__image_desktop">
          <img
            id="vantagensFibra__title_image_desktop"
            src="assets/images/saiba-mais-pai-filha-desktop.png"
            width="560px"
            height="560px"
            loading="lazy"
            alt=""
          />
        </picture>
        <div class="vantagens">
          <h2 class="vantagens__title">
            O que é a internet fibra ótica e quais as vantagens dos planos Oi
            Fibra
          </h2>
          <p class="vantagens__paragraph">
            A internet residencial da Oi usa cabos de fibra ótica que chegam
            dentro da sua casa, levando conexão com maior desempenho que a banda
            larga convencional.
          </p>
          <p class="vantagens__paragraph">
            A velocidade da internet da Oi garante mais estabilidade pra você
            aproveitar a melhor experiência de navegação e maior cobertura de
            sinal com o roteador WiFi UP.
          </p>
          <p class="vantagens__paragraph">
            Assista filmes e vídeos, maratone séries, jogue online, faça lives e
            transmissões ao vivo, use redes sociais, trabalhe ou estude de casa.
            Oi Fibra oferece a melhor tecnologia de fibra ótica pra conectar
            toda a família.
          </p>
          <p class="vantagens__paragraph">
            Aproveite as ofertas de planos de internet Oi Fibra 200 Mega, 400
            Mega, 500 Mega ou até 1 Giga, com Oi Play e instalação grátis.
            Consulte a disponibilidade da internet por CEP e escolha o melhor
            plano Oi pra você.
          </p>

          <div class="vantagens__buttons">
            <!-- <a href="https://ti-oinovafibra.cs195.oi.com.br/fibra/s/"></a> -->
            <button 
              data-gtmButton="btn_saibamais_assine-agora" 
              class="vantagens__button_assine">Assine agora</button>
            <button 
              data-gtmButton="btn_saibamais_assine-pelo-whatsapp"
              id="vantagens-assine-pelo-whatsapp" 
              class="vantagens__button_assineWhatsapp">
              <img
                id="vantagensFibra__title_image_desktop"
                src="assets/images/new-icon-whatsapp.svg"
                width="24px"
                height="24px"
                loading="lazy"
                alt=""
              />
              Assine pelo WhatsApp
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
