<section class="carousel_container" id="carousel">
  <div class="max_width_container">
    <h2 class="carousel_container_title">
      Aproveite ao máximo sua internet fibra ótica
    </h2>
  </div>
  <div class="max_width_container_carousel">
    <div class="carousel_container"></div>
    <div class="btn_wrapper">
      <button id="btnArrowPrev" class="btn_prev_carousel">
        <img
          width="16"
          height="25"
          loading="lazy"
          src="../assets/images/arrow-carousel-left.svg"
          alt="Ícone verde de seta para o lado esquerdo"
          title="Ícone verde de seta para esquerda"
        />
      </button>
    </div>

    <div id="cardsWrapper" class="cards_wrapper">
      <div class="card_item">
        <figure class="card_figure">
          <img
            class="card_img"
            loading="lazy"
            src="../assets/images/image-carousel-woman-on-a-call.webp"
            alt="Mulher falando em seu telefone na frente da tela de um computador"
            title="Mulher falando em seu telefone na frente da tela de um computador"
          />
        </figure>
        <div class="card_info_wrapper">
          <h3 class="card_title">
            Oi Fibra tem internet rápida com cobertura em várias cidades do país
          </h3>
          <p class="card_paragraph">
            Nossa banda larga com fibra ótica leva o sinal até a sua casa com a
            melhor experiência de navegação e até 1 Giga de velocidade. Confira
            a disponibilidade de internet por CEP.
          </p>
        </div>
      </div>
      <div class="card_item">
        <figure class="card_figure">
          <img
            class="card_img"
            loading="lazy"
            src="../assets/images/image-carousel-woman-relaxing.webp"
            alt="Menina relaxando deitada no chão de madeira com os braços atrás da cabeça com fone de ouvido."
            title="Menina relaxando deitada no chão de madeira com os braços atrás da cabeça com fone de ouvido."
          />
        </figure>
        <div class="card_info_wrapper">
          <h3 class="card_title">
            Internet para casa toda com fibra ótica e roteador WiFi UP
          </h3>
          <p class="card_paragraph">
            Tenha internet fibra com Wi-Fi dentro de casa em todos os ambientes,
            com maior cobertura de sinal, desempenho e estabilidade. Deixe sua
            casa mais conectada com Oi Fibra X.
          </p>
        </div>
      </div>
      <div class="card_item">
        <figure class="card_figure">
          <img
            class="card_img"
            loading="lazy"
            src="../assets/images/image-carousel-boy-playing.webp"
            alt="Menino em seu computador jogando com fone de ouvido"
            title="Menino em seu computador jogando com fone de ouvido"
          />
        </figure>
        <div class="card_info_wrapper">
          <h3 class="card_title">
            Internet pra jogar online com alta velocidade e baixa latência
          </h3>
          <p class="card_paragraph">
            Internet gamer com até 1 Giga pra jogar sem travar, menos lag e
            ping, mais velocidade de upload e estabilidade pra streaming de
            jogos.
          </p>
        </div>
      </div>
      <div class="card_item">
        <figure class="card_figure">
          <img
            class="card_img"
            loading="lazy"
            src="../assets/images/image-carousel-woman-and-child.webp"
            alt="Mulher e uma criança olhando para baixo e sorrindo"
            title="Mulher e uma criança olhando para baixo e sorrindo"
          />
        </figure>
        <div class="card_info_wrapper">
          <h3 class="card_title">
            Assista filmes e séries online sem travar com a internet da Oi
          </h3>
          <p class="card_paragraph">
            Oi Fibra oferece a melhor experiência pra assistir filmes, séries e
            vídeos em streaming na Smart TV, computador, celular, console ou
            tablet.
          </p>
        </div>
      </div>
      <div class="card_item">
        <figure class="card_figure">
          <img class="card_img" 
          loading="lazy"
          src="../assets/images/image-carousel-web-chat-talk.webp" alt="Imagem da
          tela de um computador, na tela a imagem de várias pessoas em uma video
          chamada" title="Imagem da tela de um computador, na tela a imagem de
          várias pessoas em uma video chamada" />
        </figure>
        <div class="card_info_wrapper">
          <h3 class="card_title">
            Garanta produtividade no home office com a internet fibra da Oi
          </h3>
          <p class="card_paragraph">
            A internet fibra ótica da Oi oferece conexão rápida e estável pra
            fazer reuniões ou videochamadas com qualidade de áudio e vídeo, e
            acelerar o download e upload de arquivos.
          </p>
        </div>
      </div>

      <div class="card_item">
        <figure class="card_figure">
          <img
            class="card_img"
            loading="lazy"
            src="../assets/images/image-carousel-woman-watching-tv.webp"
            alt="Mulher confortável sorrindo no sofá assistindo televisão com um balde de pipoca"
            title="Mulher confortável sorrindo no sofá assistindo televisão com um balde de pipoca"
          />
        </figure>
        <div class="card_info_wrapper">
          <h3 class="card_title">
            Planos Oi internet têm Oi Play com canais ao vivo
          </h3>
          <p class="card_paragraph">
            Assine Oi Fibra e garanta o Oi Play pra assistir a canais de TV com
            futebol ao vivo, notícias, novelas, desenhos e clássicos do cinema.
          </p>
        </div>
      </div>
    </div>

    <div class="btn_wrapper">
      <button id="btnArrowNext" class="btn_next_carousel">
        <img
          width="16"
          height="25"
          loading="lazy"
          src="../assets/images/arrow-carousel-right.svg"
          alt="Ícone verde de seta para o lado direito"
          title="Ícone verde de seta para direita"
        />
      </button>
    </div>
  </div>

  <div class="carousel_dots">
    <button
      aria-label="Vai para o card 1"
      class="card_radio active"
      value="0"
      onclick="goToCardIndex(this)"
    ></button>
    <button
      aria-label="Vai para o card 2"
      class="card_radio dot1"
      value="1"
      onclick="goToCardIndex(this)"
    ></button>
    <button
      aria-label="Vai para o card 3"
      class="card_radio dot2"
      value="2"
      onclick="goToCardIndex(this)"
    ></button>
    <button
      aria-label="Vai para o card 4"
      class="card_radio dot3"
      value="3"
      onclick="goToCardIndex(this)"
    ></button>
    <button
      aria-label="Vai para o card 5"
      class="card_radio dot4"
      value="4"
      onclick="goToCardIndex(this)"
    ></button>
    <button
      aria-label="Vai para o card 6"
      class="card_radio dot5"
      value="5"
      onclick="goToCardIndex(this)"
    ></button>
  </div>
</section>
