<section class="newHeader__top-section home-section">
    <div class="width-container">
        <div class="newHeader__topArea__flexbox">
            <div class="newHeader__topArea__leftSide">
                <a href="/">
                    <img class="newHeader__logoIcon" src="assets/images/newHeader/header-logo-icon.svg" data-src-dark="assets/images/newHeader/header-logo-icon-green.svg">
                </a>
                <ul class="newHeader__topArea__links">
                    <li>
                        <a class="newHeader__topArea__link newHeader__topArea__selectedLink" href="/">Pra sua casa</a>
                    </li>
                    <li>
                        <a class="newHeader__topArea__link" href="https://www.oi.com.br/empresas/">Pra sua empresa</a>
                    </li>
                </ul>
            </div>
            <div class="newHeader__topArea__rightSide">
                <div id="vlibras-and-contrast-container" class="newHeader__acessibility__container">
                    <div class="newHeader__acessibility__icon-area">
                        <img 
                        class="newHeader__acessibility__icon-image"
                        src="assets/images/newHeader/acessibility-icon.svg"
                        data-src-dark="assets/images/newHeader/acessibility-icon-blue.svg"
                        alt="">
                    </div>
                    <button class="newHeader__acessibility__button" id="button_accessibility_theme">
						<img
							src="assets/images/newHeader/contrast-icon-black.svg"
							data-src-dark="assets/images/newHeader/contrast-icon-white.svg"
							loading="lazy"
							alt="Botao de alto contraste"
							
						/>
					</button>
					<button class="newHeader__acessibility__button" id="button_accessibility_vlibras">
						<img class="button_accessibility_vlibras_icon"
						src="assets/images/newHeader/libras-icon-black.svg"
						data-src-dark="assets/images/newHeader/libras-icon-white.svg"
						loading="lazy"
						alt="Botao do VLibras"	
					/>
					</button>
                </div>
                <div class="newHeader__menuOrAlreadyClientContainer">
                    <a href="https://www.oi.com.br/minha-oi/" class="newHeader__alreadyClientLink">
                        <img src="assets/images/newHeader/already-client-black.svg" 
                            alt=""
                            data-src-dark="assets/images/newHeader/already-client-white.svg"
                        >
                        <span>
                            Já sou cliente
                        </span>
                    </a>
                    <button class="newHeader__menuButton">
                        <img src="assets/images/newHeader/menu-icon-black.svg" 
                        alt=""
                        data-src-dark="assets/images/newHeader/menu-icon-white.svg"
                    >
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="header-modal-container"></div>
<div id="button_accessibility_sum"></div>
<div id="button_accessibility_subtraction"></div>
<div id="changeLocalization"></div>
<div id="header-modal_inputcontent"></div>
<div id="container-city-modal"></div>