<section class="section_header_top_acessibility_hidden">
	<div class="max_width_container">
		<div class="header_anchor_acessibility">
			<a href="#main" accesskey="1" data-analytics="header">Ir para o corpo do site</a>
			<a href="#header-container" accesskey="2" data-analytics="header">Ir para o cabeçalho da página</a>
			<a href="#informationContainer" accesskey="3" data-analytics="header">Ir para o rodapé da página</a>
		</div>
	</div>
</section>
<style type="text/css">
	.newHeader__menuWidthContainer::-webkit-scrollbar {
		display: none !important;
		width: 0 !important;
		height: 0 !important;
	}

	.newHeader__menuHeader {
		justify-content: unset;
		gap: 104px;
	}

	.newHeader__menuHeader__closeButton {
		display: none;
	}

	/*Configuração para o banner com cnpj*/
	.newHeader__menuOptionCard::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: -webkit-gradient(linear, left top, right top, color-stop(0, #000), to(rgba(0, 0, 0, 0)));
		background: linear-gradient(90deg, #000 0, rgba(0, 0, 0, 0) 100%);
		top: 0;
		left: 0;
		z-index: 1;
	}

	.btn_central_de_ajuda {
		justify-content: unset;
		gap: 8px;
	}

	.newHeader__menuOptionCard-bg__internet-boost {
		z-index: -2;
		width: 100%;
		min-width: 268px;
		position: absolute;
		left: 0;
		top: 0;
	}

	.menuAttendance::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(222deg, rgba(0, 0, 0, 0.00) 15.9%, #000 55.64%);
		top: 0;
		left: 0;
		z-index: -1;
	}

	.newHeader__new-cnpj-container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		left: unset;
		min-width: fit-content;
		overflow: unset;
		padding: 0;
		border-radius: 0;
	}

	.new-cnpj-adjusts {
		min-width: 286px;
		min-height: 110px;
		overflow: hidden;
		padding: 16px;
		border-radius: 16px;
	}


	.newHeader__menuOptionCard-onlyTitle__internet-boost {
		font-size: 1rem;
		line-height: 150%;
		font-weight: 700;
		color: #fff;
		max-width: 246px !important;
	}

	.new-cnpj {
		padding: 23px 0 16px 16px;
	}

	.newHeader__menuOptionCard-bg__new-cnpj {
		position: absolute;
		z-index: -1;
		min-width: 100%;
		top: -46px;
		left: 0;
	}

	.newHeader__menuOptionCard-onlyTitle__new-cnpj {
		max-width: 246px;
		font-size: 0.875rem;
		line-height: 150%;
		font-weight: 700;
		color: #fff;
	}

	.newHeader__menuOptionCard-links-whyOi__new-cnpj-adjusts a {
		font-size: 1rem;
		gap: 8px;
		max-width: fit-content;
	}

	.newHeader__menuOptionCard-links-whyOi__new-cnpj-adjusts li {
		margin-top: 0;
		height: unset;
		width: 100%;
	}

	@media screen and (min-width: 767px) {
		.newHeader__menuOptionCard-bg__new-cnpj {
			top: -97px;
		}

		.newHeader__menuWidthContainer {
			overflow: scroll;
		}

		.newHeader__new-cnpj-container {
			padding-block: 12px;
			gap: 12px;
		}
	}

	@media screen and (max-width: 767px) {
		.newHeader__menuOptionContainer {
			height: 82vh !important;

		}

		.newHeader__menuOptionCard-bg__new-cnpj {
			top: -97px;
		}
	}

	img.newHeader__logoIcon {
		height: 55px;
	}

	.newHeader__menuOptionCard-bg__new-cnpj {
		top: -50px;
		height: 167px;
		object-fit: cover;
	}

	@media screen and (min-width: 992px) {
		.newHeader__menuOptionCard-onlyTitle__new-cnpj {

			max-width: 200px;
		}

		.new-cnpj-adjusts {
			min-height: 144px;
			justify-content: space-between;
		}

		.newHeader__menuOptionCard-bg__internet-boost {
			height: 100%;
		}

		.newHeader__menuOptionCard-onlyTitle__internet-boost {
			max-width: 172px !important;

		}

		.newHeader__menuOptionCard-bg__new-cnpj {

			top: 0;
			height: fit-content;
		}
	}
</style>
<section class="newHeader__top-section home-section" id="header-container">
	<div class="width-container">
		<div class="newHeader__topArea__flexbox">
			<!-- header 1o nivel (esquerda): Pra sua casa/ Pra sua empresa -->
			<div class="newHeader__topArea__leftSide">
				<a data-analytics="header" href="https://www.oi.com.br/">
					<img
						alt="" class="newHeader__logoIcon"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/header-logo-icon-green.svg"
						src="assets/images/newHeader/header-logo-icon.svg" /> 
				</a>
				<ul class="newHeader__topArea__links">
					<li>
						<a class="newHeader__topArea__link newHeader__topArea__selectedLink" data-analytics="header"
							href="/">Pra sua casa</a>
					</li>
					<li>
						<a class="newHeader__topArea__link" data-analytics="header"
							href="https://www.oi.com.br/empresas/">Pra sua empresa</a>
					</li>
				</ul>
			</div>

			<!-- modal para fechar o dropdown de regiões -->
			<div class="newHeader__topArea__changeLocationContainer-overlay" onclick="closeRegionalizationModal()">
				&nbsp;</div>

			<!-- troca de região -->
			<div class="newHeader__topArea__regionalizationArea" id="changeLocalization">
				<img alt=""
					class="newHeader__topArea__regionalizationIcon"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/location-dark-mode.svg"
					src="assets/images/newHeader/location-light-mode.svg" /> <span class="newHeader__topArea__cityName">
					Rio de Janeiro<span class="newHeader__topArea__ufName">, RJ</span> </span> <img alt=""
					class="newHeader__topArea__chevron"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
					src="assets/images/newHeader/chevron-down-black.svg" />
				<div class="newHeader__topArea__changeLocationContainer">&nbsp;</div>
			</div>

			<!-- header 1o nivel (direita): acessibilidade -->
			<div class="newHeader__topArea__rightSide">
				<div class="newHeader__acessibility__container" id="vlibras-and-contrast-container">
					<div class="newHeader__acessibility__icon-area">
						<img alt=""
							class="newHeader__acessibility__icon-image"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/acessibility-icon-blue.svg"
							src="assets/images/newHeader/acessibility-icon.svg" />
					</div>
					<button class="newHeader__acessibility__button" id="button_accessibility_theme"><img
							alt="Botao de alto contraste"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/contrast-icon-white.svg"
							loading="lazy" src="assets/images/newHeader/contrast-icon-black.svg" />
					</button>
					<button
						class="newHeader__acessibility__button" id="button_accessibility_vlibras"><img
							alt="Botao do VLibras" class="button_accessibility_vlibras_icon"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/libras-icon-white.svg"
							loading="lazy" src="assets/images/newHeader/libras-icon-black.svg" />
					</button>
				</div>
				
				<!-- header 1o nivel (direita): Já sou cliente -->
				<div class="newHeader__menuOrAlreadyClientContainer">
					<a class="newHeader__alreadyClientLink"
						data-analytics="header" href="https://www.oi.com.br/minha-oi/">
						<img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/already-client-white.svg"
							src="assets/images/newHeader/already-client-black.svg" /> 
							<span> J&aacute; sou cliente</span> 
					</a>
					<!-- menu hamburguer para mobile -->
					<button class="newHeader__menuButton" onclick="triggerMenuMobile()"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/menu-icon-white.svg"
							src="assets/images/newHeader/menu-icon-black.svg" />
					</button>
				</div>
			</div>
			<!-- Campo de busca fake: é um botão que leva para o Faq -->
			<a class="newHeader__topArea__FAQCTA" data-analytics="header" href="https://www.oi.com.br/faq/">
				<img alt=""
					class="newHeader__topArea__searchIcon"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/search-icon-white.svg"
					src="assets/images/newHeader/search-icon-black.svg" /> 
				<span>Busca</span> 
			</a>

			<!-- ___________________________________________________________________________________ -->
			<!-- header 2o nivel -->

			<!-- lista de menus a esquerda -->
			<ul class="newHeader__topArea__menuDesktop">
				<li class="newHeader__topArea__menuDesktop__item"> 
					<!-- dispara o header 3o nivel (modal) -->
					<button	onclick="menuSelected(event ,'menu-option-products-and-services', 'Produtos e serviços')">Produtos e serviços<button>
					<img alt="" class="newHeader__topArea__selectedMenuItem-chevron"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-green.svg"
					src="assets/images/newHeader/chevron-down-black.svg" />
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<!-- dispara o header 3o nivel (modal) -->
					<button onclick="menuSelected(event ,'menu-option-why-oi', 'Por que Oi')">Por que Oi</button>
					<img alt=""	class="newHeader__topArea__selectedMenuItem-chevron" data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-green.svg" src="assets/images/newHeader/chevron-down-black.svg" />
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<a data-analytics="header" href="https://www.oi.com.br/blog/">Blog </a>
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<a data-analytics="header" href="https://www.oi.com.br/negociacao/">Negociar d&iacute;vidas </a>
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<!-- dispara o header 3o nivel (modal) -->
					<button class="newHeader__topArea__menuDesktop__item-atendimento"
						onclick="menuSelected(event ,'menu-option-attendance-client', 'Atendimento cliente Oi')">
						<img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/user-support-dark.svg"
							src="assets/images/newHeader/user-support.svg" /> 
						<span>Atendimento Oi</span>
					</button>
					<img alt="" class="newHeader__topArea__selectedMenuItem-chevron"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-green.svg"
						src="assets/images/newHeader/chevron-down-black.svg" />
				</li>
			</ul>

			<!-- botões a direita: whatsapp e Assinar Oi Fibra -->
			<div class="newHeader__topArea__floatingButtons">
				<button class="newHeader__topArea__whatsappButton"
					onclick="document.getElementById('modal-contato').style.display='block'">
					<img alt=""
						class="newHeader__topArea__whatsappIcon"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/whatsapp-icon-green.svg"
						src="assets/images/newHeader/whatsapp-icon-white.svg" />
				</button>
				<button
					class="newHeader__topArea__signFiber" onclick="openSignFiberModal()">Assinar Oi Fibra</button>
			</div>
		</div>
	</div>

	<!-- ___________________________________________________________________________________ -->
	<!-- header 3o nivel: modal -->

	<div class="home-section newHeader__menuContainer">
		<!-- fecha a modal -->
		<button class="newHeader__menuContainer__overlay" onclick="closeMenuContainer()">
		</button>

		<!-- menu mobile -->
		<div class="width-container newHeader__menuWidthContainer">
			<div class="newHeader__menuMobile__top">

				<!-- header 1o nivel: mobile -->
				<ul class="newHeader__menuMobile__top-links">
					<li>
						<a class="newHeader__menuMobile__top-link newHeader__menuMobile__top-selectedLink"
							data-analytics="header" href="/">Pra sua casa</a>
					</li>
					<li>
						<a class="newHeader__menuMobile__top-link" data-analytics="header"
							href="https://www.oi.com.br/empresas/">Pra sua empresa</a>
					</li>
				</ul>
				<!-- fecha a modal -->
				<button class="newHeader__menuHeader__close-btn" onclick="closeMenuContainer()">
					<img alt=""
						class="newHeader__menuHeader__close-icon"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/close-icon-white.svg"
						src="assets/images/newHeader/close-icon-black.svg" />
				</button>
			</div>

			<!-- header 2o nivel -->
			<div class="newHeader__menuMobile__selectArea" id="select-area">
				<ul class="newHeader__topArea__menuMobile">
					<li class="newHeader__topArea__menuMobile__item">
						<button onclick="menuSelected(event ,'menu-option-products-and-services', 'Produtos e serviços')">
							<span>Produtos e servi&ccedil;os </span> 
							<img alt=""
								class="newHeader__topArea__menuMobile__chevron"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								src="assets/images/newHeader/chevron-down-black.svg" />
						</button>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<button onclick="menuSelected(event ,'menu-option-why-oi', 'Por que Oi')">
							<span> Por que Oi </span>
							<img alt="" class="newHeader__topArea__menuMobile__chevron"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								src="assets/images/newHeader/chevron-down-black.svg" />
						</button>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<a data-analytics="header" href="https://www.oi.com.br/blog/">
							<span> Blog </span> 
							<img alt=""
								class="newHeader__topArea__menuMobile__chevron"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								src="assets/images/newHeader/chevron-down-black.svg" /> 
						</a>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<a data-analytics="header" href="https://www.oi.com.br/negociacao/">
							<span> Negociar d&iacute;vidas </span> 
							<img alt=""
								class="newHeader__topArea__menuMobile__chevron"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								src="assets/images/newHeader/chevron-down-black.svg" /> 
						</a>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<button class="newHeader__topArea__menuMobile__item-atendimento" onclick="menuSelected(event ,'menu-option-attendance-client', 'Atendimento cliente Oi')">
							<img alt=""
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/user-support-dark.svg"
								src="assets/images/newHeader/user-support-white.svg" /> 
							<span>Atendimento Cliente Oi</span>
						</button>
					</li>
				</ul>
			</div>

			<!-- header 3o nivel -->
			 <!-- cabeçalho: botão de voltar -> titulo troca dinamicamente -->
			<div class="newHeader__menuHeader">
				<button class="newHeader__menuHeader__back-btn" onclick="backToMenuOptions()">
					<img alt="" class="newHeader__menuHeader__back-icon"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-left-white.svg"
						src="assets/images/newHeader/chevron-left-black.svg" />
				</button>
				<span class="newHeader__menuHeader__title"> Atendimento cliente Oi </span>
				<button class="newHeader__menuHeader__closeButton" onclick="backToMenuOptions()">
					<img alt=""
						class="newHeader__menuHeader__close-icon"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/close-icon-white.svg"
						src="assets/images/newHeader/close-icon-black.svg" />
				</button>
			</div>

			 <!-- corpo com options: Produtos e Serviços -->
			<div class="newHeader__menuOptionContainer" id="menu-option-products-and-services">
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img alt="" data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/smart-house-dark.svg"
							src="assets/images/newHeader/smart-house.svg" /> 
							<span> Pra sua casa </span>
						</div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a data-analytics="header"
								href="https://www.oi.com.br/internet">
								<span> Internet Oi Fibra </span> 
								<img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> 
							</a>
						</li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/internet/wifi-em-casa-com-maior-cobertura/"><span> Internet
									Oi Fibra + ponto extra Wi-Fi </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/internet/plano-de-internet-com-telefone-fixo/"><span>
									Internet Oi Fibra + telefone fixo </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/fixo/"><span> Telefone fixo </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/tv-hd"><span> TV HD </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/regulatorio/produtos-pra-voce/#internet"><span> Ofertas
									Regulat&oacute;rias </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink newHeader__greenOption">
							<a data-analytics="header" href="https://oinovafibra.oi.com.br/fibra/s/?bundle=true">
								<span> Monte seu plano </span>
								<img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									src="assets/images/newHeader/chevron-right-green.svg" /> 
							</a>
						</li>
					</ul>
				</div>

				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/category-dark.svg"
							src="assets/images/newHeader/category.svg" /> <span> Internet + streaming </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oinovafibra.oi.com.br/fibra/s/?productCode=BL_700MB_VAR_PRMNT_JUL24_129_90_109_90&amp;speed=700"><span>
									Oi Fibra com Paramount+ </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oinovafibra.oi.com.br/fibra/s/?svodcode=SVOD_GLOBOPLAY_ANUNCIOS"><span> Oi
									Fibra com Globoplay </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oinovafibra.oi.com.br/fibra/s/?productCode=BL_700MB_VAR_JUL24_MAX_129_90_109_90&amp;speed=700"><span>
									Oi Fibra com Max </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink newHeader__greenOption"><a
								href="https://www.oi.com.br/internet/entretenimento/"><span> Todos os streamings </span>
								<img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									src="assets/images/newHeader/chevron-right-green.svg" /> </a></li>
					</ul>
				</div>

				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/plus-dark.svg"
							src="assets/images/newHeader/plus.svg" /> <span> Outros servi&ccedil;os </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://saude.produtosoi.com.br/"><span> Oi Sa&uacute;de <label for="">Consultas
										m&eacute;dicas online</label> </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oienergia.com.br/"><span> Oi Energia <label for="">Energia limpa e mais
										barata</label> </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
					</ul>
				</div>

				<!-- banner lateral-->
				<div class="newHeader__menuOptionCard"><img alt="" class="newHeader__menuOptionCard-bg" loading="lazy"
						src="assets/images/newHeader/products-and-services-menu-card-bg.webp" />
					<div class="newHeader__menuOptionCard-content"><span class="newHeader__menuOptionCard-title"> <img
								alt="" src="assets/images/newHeader/briefcase.svg" /> <span> Venda Oi Fibra </span>
						</span> <span class="newHeader__menuOptionCard-subtitle"> Aumente sua renda vendendo produtos da
							Oi </span>

						<ul class="newHeader__menuOptionCard-links">
							<li><a data-analytics="header"
									href="https://www.oi.com.br/seja-parceiro-oi/empresas/"><span> Pra empresas </span>
									<img alt="" class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg" /> </a></li>
							<li><a data-analytics="header"
									href="https://www.oi.com.br/seja-parceiro-oi/televendas/"><span> Televendas </span>
									<img alt="" class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg" /> </a></li>
							<li><a data-analytics="header"
									href="https://www.oi.com.br/seja-parceiro-oi/porta-a-porta/"><span> Venda direta
									</span> <img alt="" class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg" /> </a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- corpo com options: Por que Oi -->
			<div class="newHeader__menuOptionContainer" id="menu-option-why-oi">
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/gift-dark.svg"
							src="assets/images/newHeader/gift.svg" /> <span> Benef&iacute;cios </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oifibrarecompensa.com.br/#indique"><span> Indique e ganhe </span> <img
									alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/tecnico-virtual/"><span> Suporte especializado
								</span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/internet/beneficios/"><span> Benef&iacute;cios Oi Fibra
								</span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
					</ul>
				</div>

				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/group-people-dark.svg"
							src="assets/images/newHeader/group-people.svg" /> <span> Compromissos </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oinovafibra.my.site.com/esg/s/"><span> ESG e sustentabilidade </span> <img
									alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/acessibilidade/"><span> Acessibilidade </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oifuturo.org.br/"><span> Oi Futuro </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oifuturo.org.br/espacos/centro-cultural/"><span> Futuros - Arte e
									Tecnologia </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oifuturo.org.br/espacos/musehum/"><span> Musehum </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://oifuturo.org.br/programas/nave/"><span> N&uacute;cleo Avan&ccedil;ado em
									Educa&ccedil;&atilde;o </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink newHeader__greenOption"><a data-analytics="header"
								href="https://www.oi.com.br/sobre-a-oi/"><span> Sobre a Oi </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									src="assets/images/newHeader/chevron-right-green.svg" /> </a></li>
					</ul>
				</div>

				<div class="newHeader__menuOptionCard newHeader__menuOptionCard-whyOi"><img alt=""
						class="newHeader__menuOptionCard-bg" loading="lazy"
						src="assets/images/newHeader/why-oi-menu-card-bg.webp" />
					<div class="newHeader__menuOptionCard-content"><span class="newHeader__menuOptionCard-onlyTitle"> A
							Oi tem os clientes <b>mais satisfeitos</b> </span>

						<ul class="newHeader__menuOptionCard-links newHeader__menuOptionCard-links-whyOi">
							<li><a data-analytics="header" href="https://www.youtube.com/watch?v=v2lPqWqz4C8"><span>
										Assista </span> <img alt="" class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg" /> </a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- corpo com options: Atendimento Oi -->
			<div class="newHeader__menuOptionContainer" id="menu-option-attendance-client">
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/flash-dark.svg"
							src="assets/images/newHeader/flash.svg" /> <span> Resolva r&aacute;pido </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/segunda-via/"><span> 2&ordf; via de conta </span>
								<img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/atendimento-oi/#:~:text=Consulta-,de,-protocolo"><span>
									Consultar protocolo </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/religar-servico/#/religar/consulta"><span>
									Desbloquear servi&ccedil;o </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/contato/coleta-aparelhos"><span> Devolver
									equipamento </span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/negociacao/"><span> Negociar d&iacute;vidas </span> <img
									alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
					</ul>
				</div>

				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/router-dark.svg"
							src="assets/images/newHeader/router.svg" /> <span> Sua Oi Fibra </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/internet/lp/boas-vindas-fibra/#dicas-uso"><span> Dicas
								</span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/internet/teste-de-velocidade/"><span> Teste de velocidade
								</span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/manuais-digitais/"><span> Manuais de modens </span>
								<img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/tecnico-virtual/"><span> Suporte t&eacute;cnico
								</span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
					</ul>
				</div>

				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/smartphone-dark.svg"
							src="assets/images/newHeader/smartphone.svg" /> <span> Aplicativos </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/faq/p/voce-ja-conhece-o-oie"><span> Oi_e </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/"><span> Minha Oi </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/pwa/tecnico-virtual/"><span> T&eacute;cnico virtual </span>
								<img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
					</ul>
				</div>

				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/phone-dark.svg"
							src="assets/images/newHeader/phone.svg" /> <span> Fale com a Oi </span></div>

					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://www.oi.com.br/minha-oi/atendimento-oi/"><span> Canais de atendimento
								</span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a data-analytics="header"
								href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=553131313131"><span> Pelo WhatsApp
								</span> <img alt="" class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									src="assets/images/newHeader/chevron-down-black.svg" /> </a></li>
						<li class="newHeader__optionLink"><a class="btn_pelo_whatsapp" data-analytics="header"
								href="tel:08000310453"><span style="display: flex;flex-direction: column;">Assinar pelo
									telefone <b style="font-size: 14px;font-weight: 400;color: #8F8F8F;">0800 031
										0453</b></span> <img alt="" class="newHeader__optionLink__chevron"
									src="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-black.svg" />
							</a></li>
						<li class="newHeader__optionLink newHeader__greenOption"><a data-analytics="header"
								href="https://www.oi.com.br/faq/"><span> Central de ajuda </span> <img alt=""
									class="newHeader__optionLink__chevron"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									src="assets/images/newHeader/chevron-right-green.svg" /> </a></li>
					</ul>
				</div>

				<div class="newHeader__new-cnpj-container">
					<div class="newHeader__menuOptionCard-content menuAttendance new-cnpj-adjusts"><span
							class="newHeader__menuOptionCard-onlyTitle__new-cnpj">A Nio est&aacute; chegando e
							trar&aacute; muitas novidades.<br />
							Fique Ligado!</span> <img alt="" class="newHeader__menuOptionCard-bg__new-cnpj"
							src="/lumis/portal/file/fileDownload.jsp?fileId=FF808181956D315801956D5642C702B5&amp;inline=1" />
						<ul
							class="newHeader__menuOptionCard-links newHeader__menuOptionCard-links-whyOi__new-cnpj-adjusts">
							<li><a data-analytics="header"
									href="https://www.oi.com.br/regulatorio/#transformacao"><span>Leia mais</span> <img
										alt="" class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg" /> </a></li>
						</ul>
					</div>

					<div class="newHeader__menuOptionCard-content menuAttendance new-cnpj-adjusts"><span
							class="newHeader__menuOptionCard-onlyTitle__internet-boost">Aumente a velocidade do seu
							plano</span> <img alt="" class="newHeader__menuOptionCard-bg__internet-boost"
							src="assets/images/newHeader/why-oi-menu-card-bg.webp" />
						<ul
							class="newHeader__menuOptionCard-links newHeader__menuOptionCard-links-whyOi__new-cnpj-adjusts">
							<li><a data-analytics="header"
									href="https://minha.oi.com.br/minhaoi/vendas/turbine-internet?origem=minhaoi30-portal-coi"><span>
										Confira as ofertas </span> <img alt=""
										class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg" /> </a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal do botão "Assinar Oi Fibra" -->
	<div class="home-section newHeader__signFiberModal">
		<!-- fecha a modal -->
		<button class="newHeader__signFiberModal__overlay" onclick="closeSignFiberModal()"></button>

		<div class="width-container newHeader__signFiberModalContainer">
			<button	class="newHeader__signFiberModal__closeBtn" onclick="closeSignFiberModal()">
				<img alt=""
					class="newHeader__menuHeader__close-icon"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/close-icon-white.svg"
					src="assets/images/newHeader/close-icon-black.svg" />
			</button>
			<span class="newHeader__signFiberModalTitle"> Assinar Oi Fibra </span> 
			<span class="newHeader__signFiberModalSubtitle"> Escolha a melhor op&ccedil;&atilde;o e confira as nossas ofertas: </span>

			<!-- lista de cards -->
			<ul class="newHeader__signFiberModalCards">
				<li class="newHeader__signFiberModalCard"><a data-analytics="header"
						href="https://www.oi.com.br/internet"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/signfiber-home-dark.svg"
							src="assets/images/newHeader/signfiber-home.svg" /> <span> Pra sua casa </span> <img alt=""
							class="newHeader__signFiberModalCard-arrow"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/arrow-right.svg"
							src="assets/images/newHeader/arrow-right-black.svg" /> </a></li>
				<li class="newHeader__signFiberModalCard"><a data-analytics="header"
						href="https://www.oi.com.br/empresas/oi-fibra?utm_source=site-oi&amp;utm_medium=pra-sua-empresa"><img
							alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/signfiber-briefcase-dark.svg"
							src="assets/images/newHeader/signfiber-briefcase.svg" /> <span> Pra sua empresa </span> <img
							alt="" class="newHeader__signFiberModalCard-arrow"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/arrow-right.svg"
							src="assets/images/newHeader/arrow-right-black.svg" /> </a></li>
				<li class="newHeader__signFiberModalCard"><a data-analytics="header"
						href="https://www.oi.com.br/minha-oi/"><img alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/signfiber-user-dark.svg"
							src="assets/images/newHeader/signfiber-user.svg" /> <span> Pra quem j&aacute; &eacute;
							cliente Oi </span> <img alt="" class="newHeader__signFiberModalCard-arrow"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/arrow-right.svg"
							src="assets/images/newHeader/arrow-right-black.svg" /> </a></li>
				<li class="newHeader__topArea__menuDesktop__item"><a class="btn-ajude-rs"
						href="https://www.oi.com.br/internet/oi-pelo-rs/" target="_blank"><img alt="coração"
							class="newHeader__topArea__selectedMenuItem-chevron"
							src="/lumis/portal/file/fileDownload.jsp?fileId=8ABAB5B08ECB8D86018F5F2EFF76137E&amp;inline=1" /><span>Oi
							pelo Rio Grande do Sul</span></a></li>
			</ul>
		</div>
	</div>
</section>

<div id="button_accessibility_sum" style="display: none;"></div>
<div id="button_accessibility_subtraction" style="display: none;"></div>