<section class="section_header_top_acessibility_hidden">
	<div class="max_width_container">
		<div class="header_anchor_acessibility">
			<a href="#main" accesskey="1" data-analytics="header"
				>Ir para o corpo do site</a
			>
			<a href="#header-container" accesskey="2" data-analytics="header"
				>Ir para o cabeçalho da página</a
			>
			<a href="#informationContainer" accesskey="3" data-analytics="header"
				>Ir para o rodapé da página</a
			>
		</div>
	</div>
</section>
<section class="newHeader__top-section home-section" id="header-container">
	<div class="width-container">
		<div class="newHeader__topArea__flexbox">
			<div class="newHeader__topArea__leftSide">
				<a href="/" data-analytics="header">
					<img
						class="newHeader__logoIcon"
						src="assets/images/newHeader/header-logo-icon.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/header-logo-icon-green.svg"
						alt=""
					/>
				</a>
				<ul class="newHeader__topArea__links">
					<li>
						<a
							class="newHeader__topArea__link newHeader__topArea__selectedLink"
							href="/"
							data-analytics="header"
							>Pra sua casa</a
						>
					</li>
					<li>
						<a
							class="newHeader__topArea__link"
							href="https://www.oi.com.br/empresas/"
							data-analytics="header"
							>Pra sua empresa</a
						>
					</li>
				</ul>
			</div>
			<div
				class="newHeader__topArea__changeLocationContainer-overlay"
				onclick="closeRegionalizationModal()"
			></div>
			<button
				id="changeLocalization"
				class="newHeader__topArea__regionalizationArea"
			>
				<img
					src="assets/images/newHeader/location-light-mode.svg"
					class="newHeader__topArea__regionalizationIcon"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/location-dark-mode.svg"
					alt=""
				/>
				<span class="newHeader__topArea__cityName">
					Rio de Janeiro<span class="newHeader__topArea__ufName">, RJ</span>
				</span>
				<img
					class="newHeader__topArea__chevron"
					src="assets/images/newHeader/chevron-down-black.svg"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
					alt=""
				/>
				<div class="newHeader__topArea__changeLocationContainer"></div>
			</button>

			<div class="newHeader__topArea__rightSide">
				<div
					id="vlibras-and-contrast-container"
					class="newHeader__acessibility__container"
				>
					<div class="newHeader__acessibility__icon-area">
						<img
							class="newHeader__acessibility__icon-image"
							src="assets/images/newHeader/acessibility-icon.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/acessibility-icon-blue.svg"
							alt=""
						/>
					</div>
					<button
						class="newHeader__acessibility__button"
						id="button_accessibility_theme"
					>
						<img
							src="assets/images/newHeader/contrast-icon-black.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/contrast-icon-white.svg"
							loading="lazy"
							alt="Botao de alto contraste"
						/>
					</button>
					<button
						class="newHeader__acessibility__button"
						id="button_accessibility_vlibras"
					>
						<img
							class="button_accessibility_vlibras_icon"
							src="assets/images/newHeader/libras-icon-black.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/libras-icon-white.svg"
							loading="lazy"
							alt="Botao do VLibras"
						/>
					</button>
				</div>
				<div class="newHeader__menuOrAlreadyClientContainer">
					<a
						href="https://www.oi.com.br/minha-oi/"
						class="newHeader__alreadyClientLink"
						data-analytics="header"
					>
						<img
							src="assets/images/newHeader/already-client-black.svg"
							alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/already-client-white.svg"
						/>
						<span> Já sou cliente </span>
					</a>
					<button onclick="triggerMenuMobile()" class="newHeader__menuButton">
						<img
							src="assets/images/newHeader/menu-icon-black.svg"
							alt=""
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/menu-icon-white.svg"
						/>
					</button>
				</div>
			</div>

			<a
				href="https://www.oi.com.br/faq/"
				class="newHeader__topArea__FAQCTA"
				data-analytics="header"
			>
				<img
					class="newHeader__topArea__searchIcon"
					src="assets/images/newHeader/search-icon-black.svg"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/search-icon-white.svg"
					alt=""
				/>
				<span>Busca</span>
			</a>

			<ul class="newHeader__topArea__menuDesktop">
				<li class="newHeader__topArea__menuDesktop__item">
					<button
						onclick="menuSelected(event ,'menu-option-products-and-services', 'Produtos e serviços')"
					>
						Produtos e serviços
					</button>
					<img
						class="newHeader__topArea__selectedMenuItem-chevron"
						src="assets/images/newHeader/chevron-down-black.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-green.svg"
						alt=""
					/>
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<button
						onclick="menuSelected(event ,'menu-option-why-oi', 'Por que Oi')"
					>
						Por que Oi
					</button>
					<img
						class="newHeader__topArea__selectedMenuItem-chevron"
						src="assets/images/newHeader/chevron-down-black.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-green.svg"
						alt=""
					/>
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<a href="https://www.oiplace.com.br/" data-analytics="header">
						Loja Oi Place
					</a>
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<a href="https://www.oi.com.br/blog/" data-analytics="header">
						Blog
					</a>
				</li>
				<li class="newHeader__topArea__menuDesktop__item">
					<button
						onclick="menuSelected(event ,'menu-option-attendance-client', 'Atendimento cliente Oi')"
						class="newHeader__topArea__menuDesktop__item-atendimento"
					>
						<img
							src="assets/images/newHeader/user-support.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/user-support-dark.svg"
							alt=""
						/>
						<span>Atendimento Oi</span>
					</button>
					<img
						class="newHeader__topArea__selectedMenuItem-chevron"
						src="assets/images/newHeader/chevron-down-black.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-green.svg"
						alt=""
					/>
				</li>
			</ul>

			<div class="newHeader__topArea__floatingButtons">
				<button
					class="newHeader__topArea__whatsappButton"
					onclick="contactButtonV2.toggleModal()"
				>
					<img
						class="newHeader__topArea__whatsappIcon"
						src="assets/images/newHeader/whatsapp-icon-white.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/whatsapp-icon-green.svg"
						alt=""
					/>
				</button>
				<button
					onclick="openSignFiberModal()"
					class="newHeader__topArea__signFiber"
				>
					Assinar Oi Fibra
				</button>
			</div>
		</div>
	</div>
	<div class="home-section newHeader__menuContainer">
		<button
			onclick="closeMenuContainer()"
			class="newHeader__menuContainer__overlay"
		></button>

		<div class="width-container newHeader__menuWidthContainer">
			<div class="newHeader__menuMobile__top">
				<ul class="newHeader__menuMobile__top-links">
					<li>
						<a
							class="newHeader__menuMobile__top-link newHeader__menuMobile__top-selectedLink"
							href="/"
							data-analytics="header"
							>Pra sua casa</a
						>
					</li>
					<li>
						<a
							class="newHeader__menuMobile__top-link"
							href="https://www.oi.com.br/empresas/"
							data-analytics="header"
							>Pra sua empresa</a
						>
					</li>
				</ul>
				<button
					onclick="closeMenuContainer()"
					class="newHeader__menuHeader__close-btn"
				>
					<img
						class="newHeader__menuHeader__close-icon"
						src="assets/images/newHeader/close-icon-black.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/close-icon-white.svg"
						alt=""
					/>
				</button>
			</div>
			<div id="select-area" class="newHeader__menuMobile__selectArea">
				<!-- <div class="newHeader__menuMobile__inputArea">
                    <img src="assets/images/newHeader/search-icon-gray.svg"
                        data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/search-icon-white.svg" alt="" />
                    <input placeholder="Faça sua busca" type="text" class="menuMobile__searchInput">
                </div> -->
				<ul class="newHeader__topArea__menuMobile">
					<li class="newHeader__topArea__menuMobile__item">
						<button
							onclick="menuSelected(event ,'menu-option-products-and-services', 'Produtos e serviços')"
						>
							<span> Produtos e serviços </span>
							<img
								class="newHeader__topArea__menuMobile__chevron"
								src="assets/images/newHeader/chevron-down-black.svg"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								alt=""
							/>
						</button>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<button
							onclick="menuSelected(event ,'menu-option-why-oi', 'Por que Oi')"
						>
							<span> Por que Oi </span>
							<img
								class="newHeader__topArea__menuMobile__chevron"
								src="assets/images/newHeader/chevron-down-black.svg"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								alt=""
							/>
						</button>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<a href="https://www.oiplace.com.br/" data-analytics="header">
							<span> Loja Oi Place </span>
							<img
								class="newHeader__topArea__menuMobile__chevron"
								src="assets/images/newHeader/chevron-down-black.svg"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								alt=""
							/>
						</a>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<a href="https://www.oi.com.br/blog/" data-analytics="header">
							<span> Blog </span>
							<img
								class="newHeader__topArea__menuMobile__chevron"
								src="assets/images/newHeader/chevron-down-black.svg"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
								alt=""
							/>
						</a>
					</li>
					<li class="newHeader__topArea__menuMobile__item">
						<button
							onclick="menuSelected(event ,'menu-option-attendance-client', 'Atendimento cliente Oi')"
							class="newHeader__topArea__menuMobile__item-atendimento"
						>
							<img
								src="assets/images/newHeader/user-support-white.svg"
								data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/user-support-dark.svg"
								alt=""
							/>
							<span>Atendimento Cliente Oi</span>
						</button>
					</li>
				</ul>
			</div>

			<div class="newHeader__menuHeader">
				<button
					onclick="backToMenuOptions()"
					class="newHeader__menuHeader__back-btn"
				>
					<img
						class="newHeader__menuHeader__back-icon"
						src="assets/images/newHeader/chevron-left-black.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-left-white.svg"
						alt=""
					/>
				</button>
				<span class="newHeader__menuHeader__title">
					Atendimento cliente Oi
				</span>
				<button
					onclick="closeMenuContainer()"
					class="newHeader__menuHeader__closeButton"
				>
					<img
						class="newHeader__menuHeader__close-icon"
						src="assets/images/newHeader/close-icon-black.svg"
						data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/close-icon-white.svg"
						alt=""
					/>
				</button>
			</div>

			<div
				id="menu-option-products-and-services"
				class="newHeader__menuOptionContainer"
			>
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/smart-house.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/smart-house-dark.svg"
							alt=""
						/>
						<span> Pra sua casa </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a href="https://www.oi.com.br/internet" data-analytics="header">
								<span> Internet Oi Fibra </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/internet/wifi-em-casa-com-maior-cobertura/"
								data-analytics="header"
							>
								<span> Internet Oi Fibra + ponto extra Wi-Fi </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>

						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/internet/plano-de-internet-com-telefone-fixo/"
								data-analytics="header"
							>
								<span> Internet Oi Fibra + telefone fixo </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>

						<li class="newHeader__optionLink">
							<a href="https://www.oi.com.br/fixo/" data-analytics="header">
								<span> Telefone fixo </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a href="https://www.oi.com.br/tv-hd" data-analytics="header">
								<span> TV HD </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink newHeader__greenOption">
							<a
								href="https://oinovafibra.oi.com.br/fibra/s/?bundle=true"
								data-analytics="header"
							>
								<span> Monte seu plano </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-right-green.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink newHeader__greenOption">
							<a href="https://www.oi.com.br/internet" data-analytics="header">
								<span> Indique um plano pra mim </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-right-green.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div>
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/category.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/category-dark.svg"
							alt=""
						/>
						<span> Internet + streaming </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://oinovafibra.oi.com.br/fibra/s/"
								data-analytics="header"
							>
								<span> Oi Fibra + Globoplay </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://oinovafibra.oi.com.br/fibra/s/"
								data-analytics="header"
							>
								<span> Oi Fibra + Netflix </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://oinovafibra.oi.com.br/fibra/s/"
								data-analytics="header"
							>
								<span> Oi Fibra + Paramount </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<!-- <li class="newHeader__optionLink newHeader__greenOption">
                            <a href="#">
                                <span>
                                    Todos os streamings
                                </span>
                                <img class="newHeader__optionLink__chevron"
                                    src="assets/images/newHeader/chevron-right-green.svg"
                                    data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg" alt="" />
                            </a>
                        </li> -->
					</ul>
				</div>

				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/plus.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/plus-dark.svg"
							alt=""
						/>
						<span> Outros serviços </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://saude.produtosoi.com.br/"
								data-analytics="header"
							>
								<span>
									Oi Saúde
									<label for="">Consultas médicas online</label>
								</span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a href="https://oienergia.com.br/" data-analytics="header">
								<span>
									Oi Energia
									<label for="">Energia limpa e mais barata</label>
								</span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<!-- <li class="newHeader__optionLink newHeader__greenOption">
                            <a href="#">
                                <span>
                                    Todos os serviços
                                </span>
                                <img class="newHeader__optionLink__chevron"
                                    src="assets/images/newHeader/chevron-right-green.svg"
                                    data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg" alt="" />
                            </a>
                        </li> -->
					</ul>
				</div>

				<div class="newHeader__menuOptionCard">
					<img
						class="newHeader__menuOptionCard-bg"
						src="assets/images/newHeader/products-and-services-menu-card-bg.webp"
						alt=""
					/>
					<div class="newHeader__menuOptionCard-content">
						<span class="newHeader__menuOptionCard-title">
							<img src="assets/images/newHeader/briefcase.svg" alt="" />
							<span> Venda Oi Fibra </span>
						</span>
						<span class="newHeader__menuOptionCard-subtitle">
							Aumente sua renda vendendo produtos da Oi
						</span>
						<ul class="newHeader__menuOptionCard-links">
							<li>
								<a
									href="https://www.oi.com.br/seja-parceiro-oi/empresas/"
									data-analytics="header"
								>
									<span> Pra empresas </span>
									<img
										class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg"
										alt=""
									/>
								</a>
							</li>
							<li>
								<a
									href="https://www.oi.com.br/seja-parceiro-oi/televendas/"
									data-analytics="header"
								>
									<span> Televendas </span>
									<img
										class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg"
										alt=""
									/>
								</a>
							</li>
							<li>
								<a
									href="https://www.oi.com.br/seja-parceiro-oi/porta-a-porta/"
									data-analytics="header"
								>
									<span> Venda direta </span>
									<img
										class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg"
										alt=""
									/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="menu-option-why-oi" class="newHeader__menuOptionContainer">
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/gift.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/gift-dark.svg"
							alt=""
						/>
						<span> Benefícios </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://www.oifibrarecompensa.com.br/#indique"
								data-analytics="header"
							>
								<span> Indique e ganhe </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/tecnico-virtual/"
								data-analytics="header"
							>
								<span> Suporte especializado </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/internet/beneficios/"
								data-analytics="header"
							>
								<span> Benefícios Oi Fibra </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div>
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/group-people.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/group-people-dark.svg"
							alt=""
						/>
						<span> Compromissos </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://oinovafibra.my.site.com/esg/s/"
								data-analytics="header"
							>
								<span> ESG e sustentabilidade </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/acessibilidade/"
								data-analytics="header"
							>
								<span> Acessibilidade </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a href="https://oifuturo.org.br/" data-analytics="header">
								<span> Oi Futuro </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://oifuturo.org.br/espacos/centro-cultural/"
								data-analytics="header"
							>
								<span> Futuros - Arte e Tecnologia </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://oifuturo.org.br/espacos/musehum/"
								data-analytics="header"
							>
								<span> Musehum </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://oifuturo.org.br/programas/nave/"
								data-analytics="header"
							>
								<span> Núcleo Avançado em Educação </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink newHeader__greenOption">
							<a
								href="https://www.oi.com.br/sobre-a-oi/"
								data-analytics="header"
							>
								<span> Sobre a Oi </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-right-green.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div>

				<div class="newHeader__menuOptionCard newHeader__menuOptionCard-whyOi">
					<img
						class="newHeader__menuOptionCard-bg"
						src="assets/images/newHeader/why-oi-menu-card-bg.webp"
						alt=""
					/>
					<div class="newHeader__menuOptionCard-content">
						<span class="newHeader__menuOptionCard-onlyTitle">
							A Oi tem os clientes <b>mais satisfeitos</b>
						</span>
						<ul
							class="newHeader__menuOptionCard-links newHeader__menuOptionCard-links-whyOi"
						>
							<li>
								<a
									href="https://www.youtube.com/watch?v=v2lPqWqz4C8"
									data-analytics="header"
								>
									<span> Assista </span>
									<img
										class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg"
										alt=""
									/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div
				id="menu-option-attendance-client"
				class="newHeader__menuOptionContainer"
			>
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/flash.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/flash-dark.svg"
							alt=""
						/>
						<span> Resolva rápido </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/segunda-via/"
								data-analytics="header"
							>
								<span> 2ª via de conta </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/atendimento-oi/#:~:text=Consulta-,de,-protocolo"
								data-analytics="header"
							>
								<span> Consultar protocolo </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/religar-servico/#/religar/consulta"
								data-analytics="header"
							>
								<span> Desbloquear serviço </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/contato/coleta-aparelhos"
								data-analytics="header"
							>
								<span> Devolver equipamento </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/negociacao/"
								data-analytics="header"
							>
								<span> Negociar dívidas </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div>
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/router.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/router-dark.svg"
							alt=""
						/>
						<span> Sua Oi Fibra </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/internet/lp/boas-vindas-fibra/#dicas-uso"
								data-analytics="header"
							>
								<span> Dicas </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/internet/teste-de-velocidade/"
								data-analytics="header"
							>
								<span> Teste de velocidade </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/manuais-digitais/"
								data-analytics="header"
							>
								<span> Manuais de modens </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/tecnico-virtual/"
								data-analytics="header"
							>
								<span> Suporte técnico </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div>
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/smartphone.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/smartphone-dark.svg"
							alt=""
						/>
						<span> Aplicativos </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://www.assinar-oi-fibra.com.br/blog/aplicativo-oie"
								data-analytics="header"
							>
								<span> Oi_e </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a href="https://www.oi.com.br/minha-oi/" data-analytics="header">
								<span> Minha Oi </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/pwa/tecnico-virtual/"
								data-analytics="header"
							>
								<span> Técnico virtual </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div>
				<div class="newHeader__linksContainer">
					<div class="newHeader__linksContainer-title">
						<img
							src="assets/images/newHeader/phone.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/phone-dark.svg"
							alt=""
						/>
						<span> Fale com a Oi </span>
					</div>
					<ul class="newHeader__optionLinks">
						<li class="newHeader__optionLink">
							<a
								href="https://www.oi.com.br/minha-oi/atendimento-oi/"
								data-analytics="header"
							>
								<span> Canais de atendimento </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink">
							<a
								href="https://api.whatsapp.com/send?1=pt_BR&phone=553131313131"
								data-analytics="header"
							>
								<span> Pelo WhatsApp </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-down-black.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-down-white.svg"
									alt=""
								/>
							</a>
						</li>
						<li class="newHeader__optionLink newHeader__greenOption">
							<a href="https://www.oi.com.br/faq/" data-analytics="header">
								<span> Central de ajuda </span>
								<img
									class="newHeader__optionLink__chevron"
									src="assets/images/newHeader/chevron-right-green.svg"
									data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/chevron-right-green-dark.svg"
									alt=""
								/>
							</a>
						</li>
					</ul>
				</div>

				<div class="newHeader__menuOptionCard newHeader__menuOptionCard-whyOi">
					<img
						class="newHeader__menuOptionCard-bg"
						src="assets/images/newHeader/why-oi-menu-card-bg.webp"
						alt=""
					/>
					<div class="newHeader__menuOptionCard-content menuAttendance">
						<span class="newHeader__menuOptionCard-onlyTitle">
							Aumente a velocidade do seu plano
						</span>
						<ul
							class="newHeader__menuOptionCard-links newHeader__menuOptionCard-links-whyOi"
						>
							<li>
								<a
									href="https://minha.oi.com.br/minhaoi/vendas/turbine-internet?origem=minhaoi30-portal-coi"
									data-analytics="header"
								>
									<span> Confira as ofertas </span>
									<img
										class="newHeader__menuOptionCard__link-chevron"
										src="assets/images/newHeader/arrow-right.svg"
										alt=""
									/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="home-section newHeader__signFiberModal">
		<button
			onclick="closeSignFiberModal()"
			class="newHeader__signFiberModal__overlay"
		></button>
		<div class="width-container newHeader__signFiberModalContainer">
			<button
				onclick="closeSignFiberModal()"
				class="newHeader__signFiberModal__closeBtn"
			>
				<img
					class="newHeader__menuHeader__close-icon"
					src="assets/images/newHeader/close-icon-black.svg"
					data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/close-icon-white.svg"
					alt=""
				/>
			</button>

			<span class="newHeader__signFiberModalTitle"> Assinar Oi Fibra </span>
			<span class="newHeader__signFiberModalSubtitle">
				Escolha a melhor opção e confira as nossas ofertas:
			</span>
			<ul class="newHeader__signFiberModalCards">
				<li class="newHeader__signFiberModalCard">
					<a href="https://www.oi.com.br/internet" data-analytics="header">
						<img
							src="assets/images/newHeader/signfiber-home.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/signfiber-home-dark.svg"
							alt=""
						/>
						<span> Pra sua casa </span>
						<img
							class="newHeader__signFiberModalCard-arrow"
							src="assets/images/newHeader/arrow-right-black.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/arrow-right.svg"
							alt=""
						/>
					</a>
				</li>
				<li class="newHeader__signFiberModalCard">
					<a
						href="https://www.oi.com.br/empresas/oi-fibra?utm_source=site-oi&utm_medium=pra-sua-empresa"
						data-analytics="header"
					>
						<img
							src="assets/images/newHeader/signfiber-briefcase.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/signfiber-briefcase-dark.svg"
							alt=""
						/>
						<span> Pra sua empresa </span>
						<img
							class="newHeader__signFiberModalCard-arrow"
							src="assets/images/newHeader/arrow-right-black.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/arrow-right.svg"
							alt=""
						/>
					</a>
				</li>
				<li class="newHeader__signFiberModalCard">
					<a href="https://www.oi.com.br/minha-oi/" data-analytics="header">
						<img
							src="assets/images/newHeader/signfiber-user.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/signfiber-user-dark.svg"
							alt=""
						/>
						<span> Pra quem já é cliente Oi </span>
						<img
							class="newHeader__signFiberModalCard-arrow"
							src="assets/images/newHeader/arrow-right-black.svg"
							data-src-dark="/lumis-theme/br/com/nova/home/theme/nova-home/assets/images/newHeader/arrow-right.svg"
							alt=""
						/>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<button
		onclick="openSignFiberModal()"
		class="newHeader__signFiberButtonMobile"
	>
		Assinar Oi Fibra
	</button>
</section>
<!-- <section class="newHeader__mid-section home-section">
    <div class="width-container">
        <div class="newHeader__midArea__flexbox">

        </div>
    </div>
</section> -->

<!-- <div id="header-modal-container"></div>

<div id="changeLocalization"></div>
<div id="header-modal_inputcontent"></div>
<div id="container-city-modal"></div> -->
<div id="button_accessibility_sum"></div>
<div id="button_accessibility_subtraction"></div>
