<section class="signStreaming__section home-section">
    <div class="width-container-for-carousel">
        <div class="signStreaming__flexbox">
            <h2 class="signStreaming__title">TV e streaming</h2>
            <span class="signStreaming__subtitle">assine junto <b>com a Oi Fibra</b></span>
            <span class="signStreaming__description">Adicione filmes, séries, desenhos e canais ao vivo ao seu
                plano.</span>

            <!-- CAROUSEL -->
            <div class="signStreaming__carousel-wrapper">
                <div class="signStreaming__card">
                    <img class="signStreaming__cardBackground gray-when-contrast"
                        src="assets/images/signStreaming/tadeu-schmidth-background.webp"
                        alt="Tadeu Schmidt, jornalista e apresentador." />
                    <div class="signStreaming__cardContent">
                        <img class="signStreaming__cardContentIcon gray-when-contrast"
                            src="assets/images/signStreaming/icons/globoplay-icon.svg" alt="Globoplay." />
                        <span class="signStreaming__cardContentDescription">
                            Assista ao <b>BBB 24 horas</b>, filmes, séries, novelas, desenhos e conteúdos exclusivos
                            Globoplay.
                        </span>
                        <a href="" class="signStreaming__cardContentCTA home-cta dazzle-hover">
                            <span>Assinar Globoplay</span>
                            <svg title="Assine um plano de internet Oi Fibra com Globoplay."
                                xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.9001 19.1807C14.0501 19.3307 14.2401 19.4007 14.4301 19.4007C14.6201 19.4007 14.8101 19.3307 14.9601 19.1807L21.0301 13.1107C21.3201 12.8207 21.3201 12.3407 21.0301 12.0507L14.9601 5.98065C14.6701 5.69065 14.1901 5.69065 13.9001 5.98065C13.6101 6.27065 13.6101 6.75065 13.9001 7.04065L18.6901 11.8307H3.5C3.09 11.8307 2.75 12.1707 2.75 12.5807C2.75 12.9907 3.09 13.3307 3.5 13.3307H18.6901L13.9001 18.1207C13.6101 18.4107 13.6101 18.8907 13.9001 19.1807Z"
                                    fill="#70FF84" />
                            </svg>

                        </a>
                    </div>
                </div>
                <div class="signStreaming__card">
                    <img class="signStreaming__cardBackground gray-when-contrast"
                        src="assets/images/signStreaming/reality-show-background.webp"
                        alt="Participantes do reality show De Férias com o Ex Brasil.">
                    <div class="signStreaming__cardContent">
                        <img class="signStreaming__cardContentIcon gray-when-contrast"
                            src="assets/images/signStreaming/icons/paramount-icon.svg" alt="Paramount+." />
                        <span class="signStreaming__cardContentDescription">
                            De Férias com o Ex, séries exclusivas, filmes, conteúdo infantil e uma montanha de
                            conteúdos. </span>
                        <a href="" class="signStreaming__cardContentCTA home-cta dazzle-hover">
                            <span>Assinar Paramount+</span>
                            <svg title="Assine um plano de internet Oi Fibra com Paramount+."
                                xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.9001 19.1807C14.0501 19.3307 14.2401 19.4007 14.4301 19.4007C14.6201 19.4007 14.8101 19.3307 14.9601 19.1807L21.0301 13.1107C21.3201 12.8207 21.3201 12.3407 21.0301 12.0507L14.9601 5.98065C14.6701 5.69065 14.1901 5.69065 13.9001 5.98065C13.6101 6.27065 13.6101 6.75065 13.9001 7.04065L18.6901 11.8307H3.5C3.09 11.8307 2.75 12.1707 2.75 12.5807C2.75 12.9907 3.09 13.3307 3.5 13.3307H18.6901L13.9001 18.1207C13.6101 18.4107 13.6101 18.8907 13.9001 19.1807Z"
                                    fill="#70FF84" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="signStreaming__card">
                    <img class="signStreaming__cardBackground gray-when-contrast"
                        src="assets/images/signStreaming/fighter-background.webp" alt="Lutador." />
                    <div class="signStreaming__cardContent">
                        <img class="signStreaming__cardContentIcon gray-when-contrast"
                            src="assets/images/signStreaming/icons/combate-icon.svg" alt="Canal Combate." />
                        <span class="signStreaming__cardContentDescription">
                            Além dos eventos de lutas ao vivo, tenha acesso a séries e documentários de artes marciais.
                        </span>
                        <a href="" class="signStreaming__cardContentCTA home-cta dazzle-hover">
                            <span>Assinar Combate</span>
                            <svg title="Assine um plano de internet Oi Fibra com canal Combate."
                                xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.9001 19.1807C14.0501 19.3307 14.2401 19.4007 14.4301 19.4007C14.6201 19.4007 14.8101 19.3307 14.9601 19.1807L21.0301 13.1107C21.3201 12.8207 21.3201 12.3407 21.0301 12.0507L14.9601 5.98065C14.6701 5.69065 14.1901 5.69065 13.9001 5.98065C13.6101 6.27065 13.6101 6.75065 13.9001 7.04065L18.6901 11.8307H3.5C3.09 11.8307 2.75 12.1707 2.75 12.5807C2.75 12.9907 3.09 13.3307 3.5 13.3307H18.6901L13.9001 18.1207C13.6101 18.4107 13.6101 18.8907 13.9001 19.1807Z"
                                    fill="#70FF84" />
                            </svg>

                        </a>
                    </div>
                </div>
                <div class="signStreaming__card">
                    <img class="signStreaming__cardBackground gray-when-contrast"
                        src="assets/images/signStreaming/soccer-player-background.webp" alt="Jogador de futebol.">
                    <div class="signStreaming__cardContent">
                        <img class="signStreaming__cardContentIcon gray-when-contrast"
                            src="assets/images/signStreaming/icons/globoplay-icon.svg" alt="Premiere." />
                        <span class="signStreaming__cardContentDescription">
                            A maior oferta de jogos do futebol nacional, ao vivo e exclusivos, só no Premiere. </span>
                        <a href="" class="signStreaming__cardContentCTA home-cta dazzle-hover">
                            <span>Assinar Premiere</span>
                            <svg title="Assine um plano de internet Oi Fibra com Premiere."
                                xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25"
                                fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.9001 19.1807C14.0501 19.3307 14.2401 19.4007 14.4301 19.4007C14.6201 19.4007 14.8101 19.3307 14.9601 19.1807L21.0301 13.1107C21.3201 12.8207 21.3201 12.3407 21.0301 12.0507L14.9601 5.98065C14.6701 5.69065 14.1901 5.69065 13.9001 5.98065C13.6101 6.27065 13.6101 6.75065 13.9001 7.04065L18.6901 11.8307H3.5C3.09 11.8307 2.75 12.1707 2.75 12.5807C2.75 12.9907 3.09 13.3307 3.5 13.3307H18.6901L13.9001 18.1207C13.6101 18.4107 13.6101 18.8907 13.9001 19.1807Z"
                                    fill="#70FF84" />
                            </svg>

                        </a>
                    </div>
                </div>

            </div>
            <div class="signStreaming__dotsContainer"></div>
            <!-- CAROUSEL -->
        </div>
    </div>
</section>