<footer id="footer">
    <div class="container lp__footer">
        <div class="lp__footer--pages__links">
            <!-- mobile -->
            <div class="lp__footer--mobile--rows">
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/internet/" class="lp__footer--pages__links--list--title green-over">Oi Fibra</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/internet/" class="lp__footer--pages__links--list--link green-over">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://servicos.oi.com.br/?utm_source=Portal+Oi&utm_medium=Link&utm_content=Servicos+Adicionais&utm_campaign=Rodape&_gl=1*ijd70j*_gcl_dc*R0NMLjE2NjY0Njg2ODIuQ2pnS0VBandxYzZhQmhEeXNPQzE4T1hMNFY0U0pBQnM5VDBfeVgzQmh5ci1saGRXeXF2ZWt6Vk4wQTZ1TUlrZDRrUjk5cDBWWnBEaXlmRF9Cd0U." class="lp__footer--pages__links--list--link green-over">Serviços pra Internet</a>
                    </li>
                </ul>
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/celular/" class="lp__footer--pages__links--list--title green-over">Celular</a>
                    </li class="lp__footer--pages__links--list--item__option">
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/celular/" class="lp__footer--pages__links--list--link green-over">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://servicos.oi.com.br/?utm_source=Portal+Oi&utm_medium=Link&utm_content=Servicos+Adicionais&utm_campaign=Rodape&_gl=1*1u5upek*_gcl_dc*R0NMLjE2NjY0Njg2ODIuQ2pnS0VBandxYzZhQmhEeXNPQzE4T1hMNFY0U0pBQnM5VDBfeVgzQmh5ci1saGRXeXF2ZWt6Vk4wQTZ1TUlrZDRrUjk5cDBWWnBEaXlmRF9Cd0U." class="lp__footer--pages__links--list--link green-over">Serviços pra Celular</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over">Oi Negocia</a>
                    </li>
                </ul>
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/tv-hd/" class="lp__footer--pages__links--list--title green-over">TV HD</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/tv-hd/" class="lp__footer--pages__links--list--link green-over">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/tv-hd/" class="lp__footer--pages__links--list--link green-over">Serviços Adicionais</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over">Oi Negocia</a>
                    </li>
                </ul>
            </div>
            <div class="lp__footer--mobile--rows">
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/combo/" class="lp__footer--pages__links--list--title green-over">Combo</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/combo/" class="lp__footer--pages__links--list--link green-over">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/combo/" class="lp__footer--pages__links--list--link green-over">Serviços Adicionais</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over">Oi Negocia</a>
                    </li>
                </ul>
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/fixo/" class="lp__footer--pages__links--list--title green-over">Fixo</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/fixo/" class="lp__footer--pages__links--list--link green-over">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/fixo/" class="lp__footer--pages__links--list--link green-over">Serviços Adicionais</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over">Oi Negocia</a>
                    </li>
                </ul>
            </div>
            <!-- mobile -->

            <!-- desktop -->
            <div class="lp__footer--links-menu">
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/internet/" class="lp__footer--pages__links--list--title green-over">Oi Fibra</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/internet/" class="lp__footer--pages__links--list--link green-over" id="PlanosOiFibra">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over" id="AtendimentoOiFibra">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://servicos.oi.com.br/?utm_source=Portal+Oi&utm_medium=Link&utm_content=Servicos+Adicionais&utm_campaign=Rodape&_gl=1*ijd70j*_gcl_dc*R0NMLjE2NjY0Njg2ODIuQ2pnS0VBandxYzZhQmhEeXNPQzE4T1hMNFY0U0pBQnM5VDBfeVgzQmh5ci1saGRXeXF2ZWt6Vk4wQTZ1TUlrZDRrUjk5cDBWWnBEaXlmRF9Cd0U." class="lp__footer--pages__links--list--link green-over" id="ServicosOiFibra">Serviços pra Internet</a>
                    </li>
                </ul>
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/celular/" class="lp__footer--pages__links--list--title green-over">Celular</a>
                    </li class="lp__footer--pages__links--list--item__option">
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/celular/" class="lp__footer--pages__links--list--link green-over" id="PlanosCelular">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over" id="AtendimentoCelular">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://servicos.oi.com.br/?utm_source=Portal+Oi&utm_medium=Link&utm_content=Servicos+Adicionais&utm_campaign=Rodape&_gl=1*1u5upek*_gcl_dc*R0NMLjE2NjY0Njg2ODIuQ2pnS0VBandxYzZhQmhEeXNPQzE4T1hMNFY0U0pBQnM5VDBfeVgzQmh5ci1saGRXeXF2ZWt6Vk4wQTZ1TUlrZDRrUjk5cDBWWnBEaXlmRF9Cd0U." class="lp__footer--pages__links--list--link green-over" id="ServicosCelular">Serviços pra Celular</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over" id="OiNegociaCelular">Oi Negocia</a>
                    </li>
                </ul>
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/tv-hd/" class="lp__footer--pages__links--list--title green-over">TV HD</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/tv-hd/" class="lp__footer--pages__links--list--link green-over" id="PlanosTVHD">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over" id="AtendimentoTVHD">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/tv-hd/" class="lp__footer--pages__links--list--link green-over" id="ServicosTVHD">Serviços Adicionais</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over" id="OiNegociaTVHD">Oi Negocia</a>
                    </li>
                </ul>
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/combo/" class="lp__footer--pages__links--list--title green-over">Combo</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/combo/" class="lp__footer--pages__links--list--link green-over" id="PlanosCombo">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over" id="AtendimentoCombo">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/combo/" class="lp__footer--pages__links--list--link green-over" id="ServicosCombo">Serviços Adicionais</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over" id="OiNegociaCombo">Oi Negocia</a>
                    </li>
                </ul>
                <ul class="lp__footer--pages__links--list">
                    <li class="lp__footer--pages__links--list--first__li">
                        <a target="_blank" href="https://www.oi.com.br/fixo/" class="lp__footer--pages__links--list--title green-over">Fixo</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/fixo/" class="lp__footer--pages__links--list--link green-over" id="PlanosFixo">Planos</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option"> 
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/" class="lp__footer--pages__links--list--link green-over" id="AtendimentoFixo">Atendimento</a> 
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/minha-oi/fixo/" class="lp__footer--pages__links--list--link green-over" id="ServicosFixo">Serviços Adicionais</a>
                    </li>
                    <li class="lp__footer--pages__links--list--item__option">
                        <a target="_blank" href="https://www.oi.com.br/negociacao/" class="lp__footer--pages__links--list--link green-over" id="OiNegociaFixo">Oi Negocia</a>
                    </li>
                </ul>
            </div>
            <!-- desktop -->
        </div>
        <div class="lp__footer__mid">
            <div class="lp__footer__mid__regionalization">
                <a target="_blank" href="https://www.oi.com.br/" class="lp__footer__mid__regionalization--logo__link">
                    <img id="footer__logo" src="assets/images/logoOi.png" alt="Logo da Oi" title="Ir para Home" class="lp__footer__mid__regionalization__logo__icon"/>
                </a>
            </div>
            <div class="lp__footer__mid--social__medias">
                <div class="lp__footer--list--item--mobile">
                    <a class="lp__footer--sub__footer--list--item--atendimento green-over" href="https://www.oi.com.br/minha-oi/">Atendimento ao cliente</a>
                </div>
                <div class="lp__footer__list--social">
                    <a target="_blank" href="https://www.facebook.com/OiOficial/" id="facebookFooter">
                        <img id="icon-facebook" class="_icon-facebook" src="assets/images/new-icon-facebook.svg" alt="Logo do Facebook"/>
                    </a>
                    <a target="_blank" href="https://twitter.com/oi_oficial/" id="twitterFooter">
                        <img id="icon-twitter" class="_icon-twitter" src="assets/images/new-icon-twitter.svg" alt="Logo do Twitter"/>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/oi/" id="youtubeFooter">
                        <img id="icon-youtube" class="_icon-youtube" src="assets/images/new-icon-youtube.svg" alt="Logo do Youtube"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="lp__footer--sub__footer">
            <ul class="lp__footer--sub__footer--list">
                <li><a class="lp__footer--sub__footer--list--item green-over" id="recuperacao-judicial" href="https://www.oi.com.br/empresas/">Recuperação Judicial</a></li>
                <li><a class="lp__footer--sub__footer--list--item green-over" id="sobre-a-Oi" href="https://www.oi.com.br/oi/sobre-a-oi/">Sobre a Oi</a></li>
                <li><a class="lp__footer--sub__footer--list--item green-over" id="lojas-da-Oi" href="https://www.oi.com.br/portaloi/lojas-oi">Lojas da Oi</a></li>
                <li><a class="lp__footer--sub__footer--list--item green-over" id="outras-operadoras" href="https://www.oi.com.br/outras-operadoras/">Outras Operadoras</a></li>
                <li><a class="lp__footer--sub__footer--list--item green-over" id="privacidade-footer" href="https://www.oi.com.br/portal-de-privacidade">Privacidade</a></li>
                <li><a class="lp__footer--sub__footer--list--item green-over" id="interrupcao-servico" href="https://www.oi.com.br/oi/sobre-a-oi/regulamentacao/informacoes/interrupcao-do-servico">Interrupção de Serviços</a></li>
            </ul>
            <span class="lp__footer--sub__footer--green__button" id="openModalAZ" tabindex="0" onclick="openModalAZ('modalOiAZ')"
            onkeypress="openModalAZ('modalOiAZ')">Oi de A a Z</span>
        </div>
    </div>
</footer>