<section class="oiNews__section home-section">
	<div class="width-container-for-carousel">
		<div class="oiNews__flexbox">
			<h2 class="oiNews__title">notícias <b>sobre a oi</b></h2>
			<span class="oiNews__subtitle">
				No blog Oi_e, você tem muitas informações e notícias sobre a gente.
			</span>
			<a
				href="https://www.oi.com.br/blog/"
				class="oiNews__discoverBlog home-cta dazzle-hover"
			>
				Conhecer o blog
				<img
					src="assets/images/oinews/icons/arrow-right-green.svg"
					data-src-dark="assets/images/oinews/icons/arrow-right-black.svg"
					alt="Seta apontando para a direita."
					title="Conhecer o blog da Oi."
				/>
			</a>

			<!-- CAROUSEL -->
			<div class="oiNews__carousel-wrapper">
				<div class="oiNews__card">
					<span class="oiNews__cardTopicFlag"> casa inteligente </span>
					<div class="oiNewsCardBackgroundArea">
						<img
							class="oiNews__cardBackground gray-when-contrast"
							src="assets/images/oinews/lens-flare.webp"
							alt="Fibra ótica."
							title=""
						/>
					</div>
					<div class="oiNews__cardContent">
						<span class="oiNews__cardContentTitle">
							Fibra fake: cuidado com o golpe
						</span>
						<span class="oiNews__cardContentDescription">
							Saiba qual é a diferença entre a fibra ótica da Oi e as outras
							conexões de internet.
						</span>
						<a
							href="https://www.oi.com.br/blog/internet/fibra-fake-cuidado-com-o-golpe/"
							class="oiNews__cardContentCTA home-cta"
							data-title="Fibra fake: cuidado com o golpe"
						>
							<span>Continuar lendo</span>
							<svg
								title="Continuar lendo a matéria sobre fibra fake no blog."
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="25"
								viewBox="0 0 24 25"
								fill="none"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M13.9001 19.1807C14.0501 19.3307 14.2401 19.4007 14.4301 19.4007C14.6201 19.4007 14.8101 19.3307 14.9601 19.1807L21.0301 13.1107C21.3201 12.8207 21.3201 12.3407 21.0301 12.0507L14.9601 5.98065C14.6701 5.69065 14.1901 5.69065 13.9001 5.98065C13.6101 6.27065 13.6101 6.75065 13.9001 7.04065L18.6901 11.8307H3.5C3.09 11.8307 2.75 12.1707 2.75 12.5807C2.75 12.9907 3.09 13.3307 3.5 13.3307H18.6901L13.9001 18.1207C13.6101 18.4107 13.6101 18.8907 13.9001 19.1807Z"
									fill="#FFFFFF"
								/>
							</svg>
						</a>
					</div>
				</div>
				<div class="oiNews__card">
					<span class="oiNews__cardTopicFlag"> tecnologia </span>
					<div class="oiNewsCardBackgroundArea">
						<img
							class="oiNews__cardBackground gray-when-contrast"
							src="assets/images/oinews/woman-with-notebook.webp"
							alt="Fibra ótica."
							title=""
						/>
					</div>
					<div class="oiNews__cardContent">
						<span class="oiNews__cardContentTitle">
							Internet 1 Giga: conheça as vantagens do plano da Oi Fibra
						</span>
						<span class="oiNews__cardContentDescription">
							O que dá pra fazer com tanta velocidade de internet? Fique por
							dentro do plano de 1 Giga.
						</span>
						<a
							href="https://www.oi.com.br/minha-oi/tehttps://www.oi.com.br/blog/internet/internet-1-giga-conheca-as-vantagens-do-plano-de-oi-fibra/cnico-virtual/"
							class="oiNews__cardContentCTA home-cta"
							data-title="Internet 1 Giga: conheça as vantagens do plano da Oi Fibra"
						>
							<span>Ler mais</span>
							<svg
								title="Ler mais sobre as vantagens da internet Oi Fibra no blog."
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="25"
								viewBox="0 0 24 25"
								fill="none"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M13.9001 19.1807C14.0501 19.3307 14.2401 19.4007 14.4301 19.4007C14.6201 19.4007 14.8101 19.3307 14.9601 19.1807L21.0301 13.1107C21.3201 12.8207 21.3201 12.3407 21.0301 12.0507L14.9601 5.98065C14.6701 5.69065 14.1901 5.69065 13.9001 5.98065C13.6101 6.27065 13.6101 6.75065 13.9001 7.04065L18.6901 11.8307H3.5C3.09 11.8307 2.75 12.1707 2.75 12.5807C2.75 12.9907 3.09 13.3307 3.5 13.3307H18.6901L13.9001 18.1207C13.6101 18.4107 13.6101 18.8907 13.9001 19.1807Z"
									fill="#FFFFFF"
								/>
							</svg>
						</a>
					</div>
				</div>
				<div class="oiNews__card">
					<span class="oiNews__cardTopicFlag"> internet </span>
					<div class="oiNewsCardBackgroundArea">
						<img
							class="oiNews__cardBackground gray-when-contrast"
							src="assets/images/oinews/happy-family.webp"
							alt="Fibra ótica."
							title=""
						/>
					</div>
					<div class="oiNews__cardContent">
						<span class="oiNews__cardContentTitle">
							Internet residencial: como escolher a melhor internet para minha
							casa?
						</span>
						<span class="oiNews__cardContentDescription">
							Descubra qual é a velocidade ideal pra você trabalhar, estudar e
							se divertir.
						</span>
						<a
							href="htthttps://www.oi.com.br/blog/internet/internet-residencial-como-escolher-a-melhor-internet-para-minha-casa/ps://www.oiplace.com.br/casa-inteligente/"
							class="oiNews__cardContentCTA home-cta"
							data-title="Internet residencial: como escolher a melhor internet para minha casa?"
						>
							<span>Acessar blog</span>
							<svg
								title="Acessar o blog e conferir a matéria sobre internet residencial."
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="25"
								viewBox="0 0 24 25"
								fill="none"
							>
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M13.9001 19.1807C14.0501 19.3307 14.2401 19.4007 14.4301 19.4007C14.6201 19.4007 14.8101 19.3307 14.9601 19.1807L21.0301 13.1107C21.3201 12.8207 21.3201 12.3407 21.0301 12.0507L14.9601 5.98065C14.6701 5.69065 14.1901 5.69065 13.9001 5.98065C13.6101 6.27065 13.6101 6.75065 13.9001 7.04065L18.6901 11.8307H3.5C3.09 11.8307 2.75 12.1707 2.75 12.5807C2.75 12.9907 3.09 13.3307 3.5 13.3307H18.6901L13.9001 18.1207C13.6101 18.4107 13.6101 18.8907 13.9001 19.1807Z"
									fill="#FFFFFF"
								/>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="oiNews__dotsContainer"></div>
			<!-- CAROUSEL -->
		</div>
	</div>
</section>
