<section class="banner-oi-fibra-container" id="banner-oi-fibra">
  <div class="img_banner_oifibra_principal">
    <picture class="img_banner_oifibra_principal_change">
      <source
        media="(min-width: 2550px)"
        srcset="../assets/images/banner-home-whinderson-size-2550.webp"
      />
      <source
        media="(min-width: 1350px)"
        srcset="../assets/images/banner-home-whinderson-size-2550.webp"
      />
      <source
        media="(min-width: 960px)"
        srcset="../assets/images/banner-home-whinderson-size-1170.webp"
      />
      <source
        media="(min-width: 830px)"
        srcset="../assets/images/banner-home-whinderson-size-830.webp"
      />
      <source
        media="(min-width: 763px)"
        srcset="../assets/images/banner-home-whinderson-size-763.webp"
      />
      <source
        media="(min-width: 600px)"
        srcset="../assets/images/banner-home-whinderson-size-600.webp"
      />

      <source
        media="(min-width: 500px)"
        srcset="../assets/images/banner-home-whinderson-size-520.webp"
      />

      <source
        media="(min-width: 414px)"
        srcset="../assets/images/banner-home-whinderson-size-414.webp"
      />

      <img
        src="../assets/images/banner-home-whinderson-size-360.webp"
        title="banner principal oi fibra"
        alt="banner principal oi fibra"
      />
    </picture>
  </div>
  <div class="max_width_container">
    <div class="content_banner_oifibra_texto">
      <div class="banner_title_oifibra">
        <div class="titulo_oi_fibra">
          <span class="titulo_oifibra_oi">OI</span>
          <span class="titulo_oifibra_fibra" data-blur-value="FIBRA"
            ><b>FIBRA</b></span
          >
        </div>

        <div class="velocidade_e_preco">
          <div class="titulo_oifibra_mega">
            <span class="titulo_oifibra_numero" data-blur-value="400"
              ><b>400</b></span
            >
            <span class="titulo_oifibra_velocidade" data-blur-value="MEGA"
              ><b>MEGA</b></span
            >
          </div>
          <div class="titulo_oifibra_price">
            <div class="titulo_oifibra_price_container">
              <div class="titulo_oifibra_coluna_cifrao">
                <span class="titulo_oifibra_por">POR</span>
                <span class="titulo_oifibra_cifrao">R$</span>
              </div>

              <div class="titulo_oifibra_price_container_mensalidade">
                <div class="titulo_oifibra_coluna_real">
                  <span class="valor_oifibra">99</span>
                </div>
                <div class="titulo_oifibra_coluna_mes_centavo">
                  <span class="centavo_oifibra">90</span>
                  <span class="periodo_oifibra">/MÊS</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="titulo_oifibra_coluna_no_cartao">
          <span class="oifibra_metodo_pagamento"
            >no cartão de crédito ou débito em conta
          </span>
        </div>
        <div class="text_oifibra_melhor_brasil">
          <span class="oifibra_melhor_brasil">
            Oi Fibra é a melhor internet fibra do Brasil, segundo a Anatel
          </span>
        </div>
        <div class="botao_oifibra">
          <a
            class="botao_consultar_disponibilidade"
            id="consultar-disponibilidade-banner-id"
            href="https://oinovafibra.oi.com.br/fibra/s/?productCode=BL_400MB_VAR_MAI23_NW_119_90_109_90&speed=400&skipshopWindow=true"
            data-gtmButton="banner_bora-bora_btn_consultar-disponibilidade"
            >Consultar disponibilidade</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
