.banner-oi-fibra-container {
  height: 504px;
  position: relative;
  color: #ffff;
}

.banner-oi-fibra-container,
.img_banner_oifibra_principal {
  width: 100%;
  overflow: hidden;
}

.img_banner_oifibra_principal img {
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_banner_oifibra_texto {
  display: flex;
  position: relative;
}

.banner_title_oifibra {
  display: flex;
  flex-direction: column;
}

.titulo_oi_fibra {
  display: flex;
  margin-top: 50px;
  gap: 4px;
}

.titulo_oifibra_oi {
  color: #ffffff;
}
.titulo_oifibra_oi,
.titulo_oifibra_fibra {
  display: inline-block;
  font-family: "Simplon Oi";
  font-weight: 500;
  line-height: 58px;
  font-size: 2.5rem;
}
.titulo_oifibra_fibra,
.titulo_oifibra_velocidade,
.titulo_oifibra_numero {
  &::before {
    content: attr(data-blur-value);
    position: absolute;
    background-image: linear-gradient(69.14deg, #40d802 26.33%, #90d604 61%);
    background-clip: text;
    color: transparent;
    filter: blur(2px);
  }
}

.titulo_oifibra_fibra b {
  background-image: linear-gradient(69.14deg, #40d802 26.33%, #90d604 61%);
  background-clip: text;
  color: transparent;
}

.titulo_oifibra_mega {
  display: flex;
  flex-direction: column;
}

.titulo_oifibra_numero {
  font-family: "Simplon Oi";
  font-weight: 500;
  font-size: 3.875rem;
  line-height: 50px;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    45.11deg,
    #00da15 24.55%,
    rgba(165, 240, 0, 0.99) 79.74%
  );
  color: transparent;
}
.titulo_oifibra_velocidade {
  font-family: "Simplon BP";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  background-image: linear-gradient(30.87deg, #0bdb14 34.78%, #a4f000 86.52%);
  background-clip: text;
  color: transparent;
}

.titulo_oifibra_price_container {
  display: flex;
  gap: 6px;
  align-items: flex-end;
  margin-top: 7px;
}

.titulo_oifibra_price_container_mensalidade {
  display: flex;
  align-items: flex-end;
}

.titulo_oifibra_coluna_cifrao,
.titulo_oifibra_coluna_mes_centavo {
  display: flex;
  flex-direction: column;
  font-family: "Simplon Oi";
  line-height: 20px;
}
.titulo_oifibra_por {
  font-size: 0.75rem;
}
.titulo_oifibra_cifrao {
  font-size: 1.25rem;
}

.centavo_oifibra {
  font-size: 1.5rem;
  line-height: 18px;

  &::before {
    content: ",";
  }
}
.periodo_oifibra {
  font-size: 1.25rem;
}

.valor_oifibra {
  font-family: "Simplon Oi";
  font-size: 3.5rem;
  line-height: 22px;
}

.titulo_oifibra_coluna_no_cartao {
  width: 114px;
  font-family: "Simplon BP";
  font-weight: 400;
  color: white;
  font-size: 0.75rem;
  line-height: 12px;
  margin: 6px 0px 12px 0px;
}

.text_oifibra_melhor_brasil {
  border-top: 0.5px solid #ffffff;
  padding-top: 8px;
  width: 130px;
}

.oifibra_melhor_brasil {
  font-family: "Simplon BP";
  font-weight: 700;
  font-size: 0.75rem;
}

.botao_oifibra {
  display: flex;
  justify-content: center;
  min-width: 328px;
}

.botao_consultar_disponibilidade {
  font-family: "Simplon BP";
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #282828;
  background-color: #fbd84b;
  border-radius: 48px;
  width: 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  margin-top: 20px;
}

@media screen and (min-width: 763px) {
  .banner_title_oifibra {
    padding-left: 20px;
  }
  .titulo_oi_fibra {
    margin-top: 20px;
  }
  .botao_oifibra,
  .text_oifibra_melhor_brasil {
    display: flex;
    justify-content: left;
  }

  .titulo_oifibra_oi,
  .titulo_oifibra_fibra {
    font-size: 2.625rem;
  }

  .titulo_oifibra_fibra {
    letter-spacing: 1.02969px;
  }

  .titulo_oifibra_price_container_mensalidade,
  .titulo_oifibra_coluna_mes_centavo {
    display: flex;
    align-items: center;
  }

  .titulo_oifibra_mega {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .titulo_oifibra_numero {
    font-size: 4.5rem;
    line-height: 60px;
  }

  .titulo_oifibra_velocidade {
    font-size: 1.5rem;
  }

  .titulo_oifibra_price_container {
    margin-top: 25px;
    align-items: center;
  }

  .titulo_oifibra_coluna_cifrao {
    .titulo_oifibra_por {
      font-size: 1.125rem;
    }

    .titulo_oifibra_cifrao {
      font-size: 1.875rem;
      line-height: 30px;
    }
  }

  .valor_oifibra {
    font-size: 5.375rem;
  }

  .centavo_oifibra {
    font-size: 2.625rem;
  }
  .periodo_oifibra {
    line-height: 50px;
    font-size: 1.5rem;
  }

  .titulo_oifibra_coluna_no_cartao {
    font-weight: 500;
  }

  .text_oifibra_melhor_brasil {
    font-family: "Simplon BP";
    width: 183px;
  }

  .botao_consultar_disponibilidade {
    font-size: 0.9375rem;
    width: 220px;
  }

  .content_banner_oifibra_texto {
    padding-inline: 42px;
  }
}

@media screen and (min-width: 960px) {
  .text_oifibra_melhor_brasil {
    display: block;
  }
  .oifibra_melhor_brasil {
    padding-top: 10px;
    border-top: 0.5px solid #ffffff;
    font-size: 0.875rem;
  }

  .content_banner_oifibra_texto {
    padding-left: 0px;
  }

  .banner_title_oifibra {
    width: auto;
    padding-left: max(3ch, 5%);

    .titulo_oifibra_oi {
      font-size: 3.75rem;
      line-height: 85px;
    }

    .titulo_oifibra_fibra {
      font-size: 3.75rem;
      line-height: 85px;
      letter-spacing: 1.44628px;
    }
  }

  .titulo_oifibra_mega {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .titulo_oifibra_numero {
      font-size: 7.25rem;
      line-height: 94px;
    }

    .titulo_oifibra_velocidade {
      margin-top: 0px;
      font-size: 1.875rem;
    }
  }

  .velocidade_e_preco {
    flex-direction: row;
    display: flex;
    gap: 14px;
    justify-content: space-between;
  }

  .titulo_oifibra_price_container {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 12px;
  }

  .titulo_oifibra_coluna_cifrao {
    flex-direction: row;
  }

  .titulo_oifibra_coluna_cifrao {
    align-items: baseline;
    gap: 10px;

    .titulo_oifibra_por,
    .titulo_oifibra_cifrao {
      font-size: 1.75rem;
    }
  }

  .titulo_oifibra_price_container_mensalidade {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
  }

  .valor_oifibra {
    font-size: 8.625rem;
    line-height: 96px;
  }

  .titulo_oifibra_coluna_mes_centavo {
    gap: 11px;
    line-height: 51px;

    .centavo_oifibra {
      font-size: 3.625rem;
    }
    .periodo_oifibra {
      line-height: 50px;
      font-size: 2.125rem;
    }
  }

  .titulo_oifibra_coluna_real {
    margin-top: 0px;
  }

  .titulo_oifibra_mega {
    flex-direction: column;
    align-items: flex-end;
  }

  .titulo_oifibra_coluna_no_cartao,
  .text_oifibra_melhor_brasil {
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    border: none;
  }

  .botao_consultar_disponibilidade {
    width: 428px;
    font-size: 1.3125rem;
  }
}

@media screen and (min-width: 1364px) {
  .banner-oi-fibra-container {
    background: linear-gradient(90deg, #000c00, #000900);
  }

  .img_banner_oifibra_principal img {
    left: 0;
    right: 0;
    max-width: 2900px;
  }

  .text_oifibra_melhor_brasil {
    display: block;
    position: absolute;
    right: 180px;
    top: 334px;
    width: 200px;
    border: none;
  }
  .oifibra_melhor_brasil {
    border-top: 0;
    font-size: 0.875rem;
  }

  .content_banner_oifibra_texto {
    padding-left: 0px;
  }

  .banner_title_oifibra {
    width: auto;
    padding-left: 0;

    .titulo_oifibra_oi {
      font-size: 3.75rem;
      line-height: 85px;
    }

    .titulo_oifibra_fibra {
      font-size: 3.75rem;
      line-height: 85px;
      letter-spacing: 1.44628px;
    }
  }

  .titulo_oifibra_mega {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .titulo_oifibra_numero {
      font-size: 7.25rem;
      line-height: 94px;
    }

    .titulo_oifibra_velocidade {
      margin-top: 0px;
      font-size: 1.875rem;
    }
  }

  .velocidade_e_preco {
    flex-direction: row;
    display: flex;
    gap: 14px;
    justify-content: space-between;
  }

  .titulo_oifibra_price_container {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 12px;
  }

  .titulo_oifibra_coluna_cifrao {
    flex-direction: row;
  }

  .titulo_oifibra_coluna_cifrao {
    align-items: baseline;
    gap: 10px;

    .titulo_oifibra_por,
    .titulo_oifibra_cifrao {
      font-size: 1.75rem;
    }
  }

  .titulo_oifibra_price_container_mensalidade {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
  }

  .valor_oifibra {
    font-size: 8.625rem;
    line-height: 96px;
  }

  .titulo_oifibra_coluna_mes_centavo {
    gap: 11px;
    line-height: 51px;

    .centavo_oifibra {
      font-size: 3.625rem;
    }
    .periodo_oifibra {
      line-height: 50px;
      font-size: 2.125rem;
    }
  }

  .titulo_oifibra_coluna_real {
    margin-top: 0px;
  }

  .titulo_oifibra_mega {
    flex-direction: column;
    align-items: flex-end;
  }

  .titulo_oifibra_coluna_no_cartao {
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .botao_consultar_disponibilidade {
    width: 428px;
    font-size: 1.3125rem;
  }
}
