.banner-274955__oifibrax {
	&__background {
		justify-content: center;
		position: relative;
		background-color: #001413;
		&::before {
			content: '';
			inset: 0 auto 0 auto;
			width: 100%;
			position: absolute;
			max-width: 1366px;

			background: linear-gradient(
					271deg,
					#001413 10.48%,
					rgba(0, 33, 31, 0) 36.32%
				),
				linear-gradient(86deg, #001413 29.33%, rgba(0, 30, 28, 0) 60.17%),
				#1b602b00 75.932px -200.951px / 87.187% 198.137% no-repeat;
		}
		img {
			width: 100%;
			max-width: 1366px;
		}
	}
}
