      <div class="max-width">
      <div class="footer_contents">
        <ul class="footer_item-container">
          <li class="footer_item-title">Produtos</li>
          <li class="footer_item"><a href="">Oi Fibra Residencial</a></li>
          <li class="footer_item"><a href="">Oi Fixo</a></li>
          <li class="footer_item"><a href="">Oi Energia</a></li>
          <li class="footer_item"><a href="">Oi Soluções</a></li>
          <li class="footer_item"><a href="">Oi Fibra Empresarial</a></li>
          <li class="footer_item">
            <a href="">Para outras operadoras</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Institucional</li>
          <li class="footer_item"><a href="">Sobre a Oi</a></li>
          <li class="footer_item"><a href="">Portal ESG</a></li>
          <li class="footer_item"><a href="">Investidores</a></li>
          <li class="footer_item"><a href="">Trabalhe na Oi</a></li>
          <li class="footer_item"><a href="">Venda Oi Fibra</a></li>
          <li class="footer_item">
            <a href="">Privacidade</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Regulatório</li>
          <li class="footer_item"><a href="">Interrupção de serviços</a></li>
          <li class="footer_item"><a href="">Universalização</a></li>
          <li class="footer_item"><a href="">Recuperação judicial</a></li>
          <li class="footer_item"><a href="">Reajuste anual</a></li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Aplicativos</li>
          <li class="footer_item"><a href="">Oi_e</a></li>
          <li class="footer_item"><a href="">Minha Oi</a></li>
          <li class="footer_item"><a href="">Oi Play</a></li>
          <li class="footer_item">
            <a href="">Técnico Virtual</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Atendimento</li>
          <li class="footer_item"><a href="">2ª via de conta</a></li>
          <li class="footer_item"><a href="">Negociar dívidas</a></li>
          <li class="footer_item"><a href="">Pedir suporte técnico</a></li>
          <li class="footer_item"><a href="">Desbloquear serviço</a></li>
          <li class="footer_item">
            <a href="">Perguntas frequentes</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Fale com a Oi</li>
          <li class="footer_item">
            <a href="">Televendas <b>0800 001 0031</b></a>
          </li>
          <li class="footer_item"><a href="">Canais de atendimento</a></li>
          <li class="footer_item"><a href="">Chat</a></li>
          <li class="footer_item"><a href="">WhatsApp</a></li>
          <div class="footer_icon-social_container">

            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/instagram-icon.svg" alt="" /></a>

            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/facebook-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/twitter-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/youtube-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/linkedin-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/tiktok-icon.svg" alt="" /></a>

          </div>
        </ul>
      </div>

      <div class="footer_item-container-ctas">
        <span class="footer_item-title footer_item-title-ctas">Explore</span>
        <div class="footer_item-ctas">
          <button class="footer_btn-filled">Oi de A a Z</button>
          <button class="footer_btn-stroke">Loja Oi Place</button>
          <button class="footer_btn-stroke">Blog</button>
        </div>
      </div>



      <div class="footer_copy-container">
        <img class="footer_copy-logo-light" id="logoCopyLight" src="assets/images/newFooter/logo-oi.svg" alt="" />
        <img class="footer_copy-logo-dark footer_copy-logo-dark-hide" id="logoCopyDark" src="assets/images/newFooter/logo-oi-dark.svg" alt="" />
        <p class="footer_copy-text">
          Oi S/A. Todos os direitos reservados. CNPJ: 76.535.764/0001-43
          <br />Rua do Lavradio, nº 71, 2º andar - Centro. Rio de Janeiro, RJ.
          CEP: 22.280-004
        </p>
      </div>
    </div>
  
