

  <section class="information_container" id="informationContainer" >
    <details>
      <summary class="information_title-container">
        <div class="information_max-width_title information_title-container">
          <span>Informações</span>
          <img class="information_title-icon-down" src="assets/images/newFooter/chevron-down.svg" alt="" />
        </div>  

        <div class="information_title-line">
          <hr />
        </div>
      </summary>
      <div class="information_max-width information_text-container">
        <p class="information_text">
          Oi S/A, em recuperação judicial, concessionária do serviço
          telefônico fixo comutado (STFC) na modalidade local, autorizatária
          do STFC na modalidade longa distância nacional (LDN) e autorizatária
          do serviço de comunicação multimídia (SCM), com sede na Cidade e
          Estado do Rio de Janeiro, Rua do Lavradio, nº 71, 2º andar - Centro
          - Rio de Janeiro/RJ CEP: 22.280-004, inscrita no CNPJ/MF sob o nº
          76.535.764/0001-43, doravante denominada “Oi”; e a Oi Móvel S/A, em
          recuperação judicial, autorizatária dos serviços móvel pessoal
          (SMP), com sede em Brasília no Distrito Federal, Setor Comercial
          Norte, Quadra 03, Bl. A - Ed. Estação Telefônica - Térreo - Parte 2
          - Brasília/DF, CEP: 70.713-900, inscrita no CNPJ/MF sob o nº
          05.423.963/0001-11, doravante denominada “Oi Móvel”.
        </p>
        <div class="information_link">
          <a href="https://ri.oi.com.br/informacoes-financeiras/documentos-da-cvm-e-sec/">Saiba mais sobre a Recuperação
            judicial da Oi</a>
          <img src="assets/images/newFooter/arrow-right-green.svg" alt="" />
        </div>
        <p class="information_text">
          <b>Comunicado:</b> A Justiça, na ação civil pública
          nº0005577-77.2006.4.02.5101, entendeu ilegal a cobrança de juros de
          um por cento em período menor que mensal, e obrigou a Oi S.A. em
          Recuperação Judicial a ressarcir os clientes abrangidos entre
          31/3/01 até a interrupção da cobrança.
          <a class="information_text_link-color"
            href="lumis/portal/file/fileDownload.jsp?fileId=8ABAB6AE86E8371D0187239ED10B5E7A">Leia aqui a sentença</a>,
          que também pode ser lida no site<a class="information_text_link-color" href="https://www.jfrj.jus.br">
            www.jfrj.jus.br</a>
          <br />
          <br />

          <b>Comunicado:</b> De acordo com a Lei Geral de Telecomunicações
          9.472, todo aparelho celular em uso no Brasil deve ser certificado
          ou ter sua certificação aceita pela Anatel. O projeto Celular Legal
          foi criado para inibir a comercialização de produtos irregulares
          utilizados nas redes das operadoras celulares. Como consequência,
          conscientizar a população para que utilizem apenas celulares em
          conformidade com a legislação brasileira. Para saber a situação do
          seu celular,
          <a class="information_text_link-uncolored" 
          href="http://www.anatel.gov.br/celularlegal/consulte-sua-situacao">consulte aqui.</a>
          <br />
          <br />


          <b>Comunicado:</b> A OI S.A. e OI MÓVEL S.A., Em Recuperação
          Judicial, em cumprimento ao item VIII, do Despacho Decisório n.º
          175/2018/SEI/CPRP/SCP, proferido pela Agência Nacional de
          Telecomunicações - ANATEL nos autos do Processo
          53500.013107/2015-38, vêm a público, substitutivamente à Empresa de
          Transit do Brasil S.A., notificar aos usuários desta que, a partir
          do dia 08/04/2020, as chamadas que envolvam a rede da Telemar Norte
          Leste S.A., da Oi S.A. e da Oi Móvel S.A. estão temporariamente
          suspensas por motivos de ordem regulatória e serão restabelecidas
          tão logo sejam dirimidos os problemas identificados. <br />
          <br />

          <b>Comunicado:</b> A Oi S.A - Em Recuperação Judicial e a Oi Móvel
          S.A - Em Recuperação Judicial, em cumprimento ao art. 26, §4º, do
          Regulamento Geral de Interconexão - RGI, vem a público, notificar
          aos usuários da Surf Telecom S.A. que, a partir do dia 26/12/2021,
          as chamadas originadas na sua rede e destinadas à rede da OI S.A. e
          OI Móvel S.A estão temporariamente suspensas por motivos de ordem
          regulatória e serão restabelecidas tão logo sejam dirimidos os
          problemas identificados. <br />
          <br />

          <b>Comunicado:</b> Em cumprimento à Lei Nº 5357, de 29 de dezembro
          de 2020 no Estado do Amazonas. Acesse os sites do Procon-AM, da
          Comissão de Defesa do Consumidor da Assembleia Legislativa do Estado
          do Amazonas e do Conselho de Defesa do Consumidor. <br />
          <br />

          <b>Comunicado:</b> A Oi informa que as ofertas de telefonia fixa e
          banda larga na tecnologia ADSL (cobre) e TV DTH (satélite) vencidas
          em todo o território nacional, conforme previsto em seus respectivos
          regulamentos, serão alteradas no prazo mínimo de 30 dias. É
          importante salientar que todos os clientes impactados usufruíram dos
          benefícios de suas respectivas ofertas por no mínimo 12 meses,
          conforme previsão contratual. As ofertas que terão seus preços
          promocionais alterados
          <a
          class="information_text_link-uncolored"
            href="https://www.oi.com.br/ArquivosEstaticos/oi/sobre-a-oi/regulamentacao/pdf/tabela_site_venc._oferta.pdf">podem
            ser encontradas aqui.</a>
          Para saber mais informações acesse os canais de atendimento da Oi.
          <br />
          A companhia esclarece que a não renovação da vigência de tais
          ofertas está sendo realizada devido à insustentabilidade dos
          serviços prestados em regime público da telefonia fixa e ao
          desequilíbrio de custos resultante para os serviços baseados na
          tecnologia de cobre, que impossibilitam manter as ofertas antigas
          vigentes para o futuro.
          <br />
          <br />

          <b>Veja como bloquear o recebimento de ligações de telemarketing</b>
          relativas a ofertas de serviços de telecomunicações, conheça o
          <a class="information_text_link-uncolored" href="https://www.naomeperturbe.com.br/"></a>Não Me Perturbe.<br />A
          Oi S.A - Em Recuperação Judicial e a Oi Móvel S.A - Em Recuperação
          Judicial, em cumprimento ao art. 26, §4º, do Regulamento Geral de
          Interconexão - RGI, vem a público, notificar aos usuários da Engevox
          Telecomunicações LTDA que, a partir do dia 30/10/2022, as chamadas
          originadas na sua rede e destinadas à rede da OI S.A. estão
          temporariamente suspensas por motivos de ordem regulatória e serão
          restabelecidas tão logo sejam dirimidos os problemas identificados.
          <br />
          <br />

          <b>Para obter informações referentes ao telefone de assinantes</b>
          ou solicitar o envio gratuito da lista telefônica, eletrônica ou
          impressa, entre em contato com a Central de Atendimento da Oi.
        </p>

      </div>
    </details>
  </section>
  <footer class="footer_container" id="footerContainer">
    <div class="max-width">
      <div class="footer_contents">
        <ul class="footer_item-container">
          <li class="footer_item-title">Produtos</li>
          <li class="footer_item"><a href="">Oi Fibra Residencial</a></li>
          <li class="footer_item"><a href="">Oi Fixo</a></li>
          <li class="footer_item"><a href="">Oi Energia</a></li>
          <li class="footer_item"><a href="">Oi Soluções</a></li>
          <li class="footer_item"><a href="">Oi Fibra Empresarial</a></li>
          <li class="footer_item">
            <a href="">Para outras operadoras</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Institucional</li>
          <li class="footer_item"><a href="">Sobre a Oi</a></li>
          <li class="footer_item"><a href="">Portal ESG</a></li>
          <li class="footer_item"><a href="">Investidores</a></li>
          <li class="footer_item"><a href="">Trabalhe na Oi</a></li>
          <li class="footer_item"><a href="">Venda Oi Fibra</a></li>
          <li class="footer_item">
            <a href="">Privacidade</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Regulatório</li>
          <li class="footer_item"><a href="">Interrupção de serviços</a></li>
          <li class="footer_item"><a href="">Universalização</a></li>
          <li class="footer_item"><a href="">Recuperação judicial</a></li>
          <li class="footer_item"><a href="">Reajuste anual</a></li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Aplicativos</li>
          <li class="footer_item"><a href="">Oi_e</a></li>
          <li class="footer_item"><a href="">Minha Oi</a></li>
          <li class="footer_item"><a href="">Oi Play</a></li>
          <li class="footer_item">
            <a href="">Técnico Virtual</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Atendimento</li>
          <li class="footer_item"><a href="">2ª via de conta</a></li>
          <li class="footer_item"><a href="">Negociar dívidas</a></li>
          <li class="footer_item"><a href="">Pedir suporte técnico</a></li>
          <li class="footer_item"><a href="">Desbloquear serviço</a></li>
          <li class="footer_item">
            <a href="">Perguntas frequentes</a>
          </li>
        </ul>
        <ul class="footer_item-container">
          <li class="footer_item-title">Fale com a Oi</li>
          <li class="footer_item">
            <a href="">Televendas <b>0800 001 0031</b></a>
          </li>
          <li class="footer_item"><a href="">Canais de atendimento</a></li>
          <li class="footer_item"><a href="">Chat</a></li>
          <li class="footer_item"><a href="">WhatsApp</a></li>
          <div class="footer_icon-social_container">

            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/instagram-icon.svg" alt="" /></a>

            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/facebook-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/twitter-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/youtube-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/linkedin-icon.svg" alt="" /></a>
            <a href="" class="footer_icon-social_item">
              <img class="footer_icon-social_image" src="assets/images/newFooter/tiktok-icon.svg" alt="" /></a>

          </div>
        </ul>
      </div>

      <div class="footer_item-container-ctas">
        <span class="footer_item-title footer_item-title-ctas">Explore</span>
        <div class="footer_item-ctas">
          <button class="footer_btn-filled">Oi de A a Z</button>
          <button class="footer_btn-stroke">Loja Oi Place</button>
          <button class="footer_btn-stroke">Blog</button>
        </div>
      </div>



      <div class="footer_copy-container">
        <img class="footer_copy-logo-light" id="logoCopyLight" src="assets/images/newFooter/logo-oi.svg" alt="" />
        <img class="footer_copy-logo-dark footer_copy-logo-dark-hide" id="logoCopyDark" src="assets/images/newFooter/logo-oi-dark.svg" alt="" />
        <p class="footer_copy-text">
          Oi S/A. Todos os direitos reservados. CNPJ: 76.535.764/0001-43
          <br />Rua do Lavradio, nº 71, 2º andar - Centro. Rio de Janeiro, RJ.
          CEP: 22.280-004
        </p>
      </div>
    </div>
  </footer>
