// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/*
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.max_width_container{
	width: 100%;
	margin: 0px auto;
	padding: 0 24px;

  @media (min-width: 769px) {
    padding: 0 24px;
  }

  // @media (min-width: 1364px) {
  //   width: 1223px;
  //   padding: 0;
  // }

  @media (min-width: 1364px){
    width: 1320px;
    padding:0;
  }

}

a{
  text-decoration: none;
}
